[2017-03-31 02:40] #276 closed, assigned to brettz9

[2017-03-31 08:24] nagyf commented on #263
Any updates on this? This pretty much makes this lib unusable on chrome. I don't want my webapp to use WebSQL... Are there any workarounds?

[2017-03-31 09:23] brettz9 commented on #263
For info on the requirements before the next release, see #263 . Help is welcome to get things up to speed. Specific browser support is the last item on my list for the release, so feel free to investigate whether the issue still exists with the version in `master`. The responsible code is in `src/setGlobalVars.js`.

[2017-04-02 00:17] brettz9 opened #296 "Provide optional Node support for accurate task/microtask behavior"
Per a recent README update, there are limitations in the browser, and currently in Node, in regard to task/micro-task timing.

It would seem to me to be compelling to be able to get the fully spec-compliant expected behavior in terms of task/microtask behavior for Node, so that, e.g., transaction expiration would work as expected when timeouts or promises are used. Currently, we prolong transactio

[2017-04-07 04:20] brettz9 commented on #287
Fixed in `master`.

[2017-04-07 04:20] #287 closed, assigned to brettz9

[2017-04-07 11:07] brettz9 commented on #288
The remaining failing tests (not related to blocking) are probably due to #296 but we can confirm after a fix.

[2017-04-14 09:07] brettz9 commented on #2
For single processes, this issue is now fixed in `master` and passing a number of formerly failing tests.

However, I think we should keep this issue open as blocked/versionchange events still don't work if someone is running multiple tabs or processes

In the browser, this fix might be implemented via a shared worker but if a browser supports that, it might not be in much need of an IndexedDB shi

[2017-04-14 09:09] brettz9 commented on #2
However, I'll relabel the issue as environment-specific since it probably isn't really practical to polyfill for the browser but it could be and ideally will be done in Node.

[2017-04-14 12:59] erikvold opened #297 "It should be possible to choose the directory to save database files (Node)"
When using this repo with NodeJS it would be nice to be able to select where on the system the database files are stored, at the moment I'm guessing that `process.cwd()` is used.

[2017-04-14 17:57] brettz9 commented on #297
As a temporary workaround, you could override `CFG.win`'s `openDatabase`, though you'd have to turn off the new on-by-default `CFG.deleteDatabaseFiles` until the fix. But shouldn't be too hard to support.

[2017-04-14 18:46] brettz9 commented on #297
Fixed in `master`. Note, however, that I accidentally pushed a commit prior to that commit which was incomplete and intend to fix shortly. There is a regression with `CFG.cacheDatabaseInstances` when not `false`.

[2017-04-14 18:46] #297 closed, assigned to nobody

[2017-04-15 00:54] brettz9 commented on #297
The regression is now also fixed in `master`.

[2017-04-16 06:08] brettz9 commented on #271
Ok, in now finally being able to pay a little attention to browser-specific issues...

In `master`, the standard IDB modules are no longer being set on `window.shimIndexedDB.modules`. Just look on `window.IDBKeyRange` once `__useShim()` has been called.

I will close as that should answer your question, but feel free and comment further or reopen if there is something else.

[2017-04-16 06:08] #271 closed, assigned to brettz9

[2017-04-16 06:11] brettz9 commented on #271
Btw, you may want to watch #277 (to which I intend to add a comment shortly) as it is of concern for iOS9 (and non-Chrome Android).

[2017-04-16 07:24] brettz9 commented on #263
Finally getting to take a look at browser-specific issues...

While our code tries to do this for you (more on that below), I should say it is not always completely easy to determine what this is. There may be features now fixed in our polyfill which fail in the native version and there are known cases where it is the other way around even in our best polyfilling environment (currently Node.js fol

[2017-04-16 07:37] brettz9 commented on #249
Note that it is now possible to set up a robust testing environment for the latest W3C tests (along with our own good number of tests), both for Node and the browser.

The W3C test runner for the browser still has to be patched (I've submitted a couple PRs as per https://github.com/w3c/web-platform-tests/issues/5133#issuecomment-294335215 ), but if you get the `web-platform-tests` test environment

[2017-04-16 07:53] brettz9 commented on #277
For those not aware, the original maintainers of the project have not been able to be very active of late. I came on board with an interest in helping bring the Node implementation up to speed.

This could have potential gains for the browser (and it should in Chrome and Safari 10+ if using the shim, though the shim is less necessary and still in need of having those theoretically more surmountabl

[2017-04-16 07:57] brettz9 commented on #249
Here's the code I currently have for an alternative testharness runner, which I've placed at `testharness_runner_polyfill.html` at the root of `web-platform-tests` along with the above-mentioned patches:

[code]

Also adding this to `web-platform-tests`' `.gitignore` is helpful:
[code]

[2017-04-16 07:57] brettz9 commented on #262
As mentioned at #249 , we are really ready now for specific browser testing. While I have not gotten all of the issues resolved that I intended, I think it is good enough for a release candidate, especially if people will help get the remaining Chrome/Safari issues not present in Node passing (which should be easier now that the W3C browser testing can be run against our polyfill with single tests

[2017-04-19 11:35] tarjei opened #298 "Node support in 2.x?"
Hi, I tired to use IndexedDB to shim indexeddb support in jsdom for testing, but it seems that there is a mismatch between what is stated in the docs and the version that is available.

Would it be possible for you to release an -alpha or -rc version to NPM of 3.0.0?

Kind regards,
Tarjei

[2017-04-19 23:55] brettz9 commented on #298
Thankfully as per https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-294339093 , we have just become ready for this now, but I need @axemclion to get the npm publishing part set in motion. I'm closing this issue as it is effectively a dupe of #262.

Btw, you may also be interested in tracking https://github.com/tmpvar/jsdom/issues/1748 to get jsdom support more readily integrated.

[2017-04-19 23:55] #298 closed, assigned to nobody

[2017-04-20 04:55] tarjei commented on #262
Thanks!

[2017-04-21 09:07] brettz9 commented on #249
Nevermind the above instructions--just follow the instructions in `docs/TESTING.md`

[2017-04-21 09:25] brettz9 commented on #262
~I recommend that, unless some volunteers available to carry it along (#277), we abandon iOS9 support for version 3.0.0 (which would be a breaking release anyways).~ The polyfilling was apparently for IE rather than iOS9, so the IE plugging is what is being dropped (all or nothing). Whatever value there is left in shimming the likes of modern Chrome and Safari 10, there is, I think, definite utili

[2017-04-21 23:00] brettz9 commented on #253
FWIW, the ugpradeneeded reversions are applied where possible (esp. in Node where we can prolong a transaction).

[2017-04-22 23:13] brettz9 opened #299 "Avoid adding/exposing `IDBFactory` methods on `shimIndexedDB` where WebSQL is not supported"
As per #263, we should avoid adding/exposing `IDBFactory` methods on `shimIndexedDB` where WebSQL is not supported.

[2017-04-22 23:16] brettz9 commented on #263
I've added #299 to address the concern about avoiding adding/exposing `IDBFactory` methods on `shimIndexedDB` where WebSQL is not supported, but especially with Dexie's [own fix](https://github.com/dfahlander/Dexie.js/issues/342) now, the original reported issue here can I think be closed.

[2017-04-22 23:16] #263 closed, assigned to brettz9

[2017-04-27 22:45] brettz9 commented on #288
I'll close this as the remaining problems really do appear to be due to #296 .

[2017-04-27 22:45] #288 closed, assigned to brettz9

[2017-05-02 12:23] brettz9 commented on #264
@axemclion... Not sure whether you saw my comment at https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-296140986 ? We could really use an answer about a new release. Alternatively, if you don't have time to consider but trust us to go ahead, could you add me on for `npm publish` support so we can move forward?

[2017-05-02 14:12] axemclion commented on #264
@brettz9 Sorry, my bad for falling back on this. I think you have been doing an amazing job on the repo and you should be the publisher. What should be the name of the npm package you would want to be the owner of ?

[2017-05-03 01:07] brettz9 commented on #264
Thanks, @axemclion . :-)

I was just thinking if you could add me as an owner of the current one you have been using so I can publish to the "indexeddbshim" package so that there is no break for those users who are allowing for major version semver breaks.

`npm owner add brettz9 indexeddbshim`

(The npm docs state there is no fine grain control of permissions, so I'd end up as a co-owner with the

[2017-05-03 05:51] axemclion commented on #264
Looks like I am not the owner of https://www.npmjs.com/package/indexeddbshim. @BigstickCarpet Can you please add @brettz9 as an owner on that package please ?

If we don't hear from @BigstickCarpet I think you should publish a new package, as you have done most of the work, and you are probably now a more appropriate owner of the project than me.

[2017-05-03 08:50] brettz9 commented on #264
Ok, thanks, @axemclion . And unless there are any objections, I'll just update `gh-pages` with `master`. (And FWIW, it seems the Apache license icon is now fixed by Github to link to our Apache license)

[2017-05-03 09:01] brettz9 commented on #277
Ok, so the plan is now to abandon `polyfill.js` for [3.0.0] (#262) (unless someone testing in (older?) IE wishes to salvage it and keep it up to date).

[2017-05-03 09:01] #277 closed, assigned to brettz9

[2017-05-03 09:02] brettz9 commented on #262
Ok, so I've made a branch (though I plan to keep rebasing it until release) for 3.0.0. As planned, I've removed the polyfill (though it was apparently targeted instead to IE's (then?) incomplete implementation rather than iOS), so upon release, it will now be limited to all-or-nothing--polyfill everything or nothing though get Node support and better all-around compliance.

~I think I'll wait on t

[2017-05-03 11:24] JamesMessinger commented on #264
@brettz9 and @axemclion - What are your NPM account names?  I'll add you both as owners of the `indexeddbshim` package

[2017-05-03 12:01] brettz9 commented on #264
Thanks, @BigstickCarpet . `brettz9` is mine.

[2017-05-03 12:04] JamesMessinger commented on #264
lol.  I guess I should have assumed that you'd both use the same usernames for NPM as you do for GitHub.  :)

Anyway... you've both been added to the npm package

[2017-05-03 14:40] brettz9 commented on #264
Awesome, thanks! And now version 3.0.0-rc.1 is published to npm and released as a tag for Bower! (and `gh-pages` updated, though that is redirecting to http://nparashuram.com/IndexedDBShim/ ). Many thanks to the great foundation you guys set up! Hopefully the latest changes will be of use and work well, even with the cost in backward-compatibility...

Btw, one more question-- @axemclion -- the REA

[2017-05-03 14:43] brettz9 commented on #262
Ok, finally we have a release candidate--3.0.0-rc.1 is published to npm and released as a tag for Bower!

I guess I'll keep the issue open until the final release version, but I've pushed anything remaining to milestone 3.1.0.

No doubts lots that can be done, even beyond that already envisioned. Look forward to hearing how it's working for ya or if y'all end up using it in interesting ways...

[2017-05-03 15:46] lightsofapollo commented on #296
@brettz9 My 2c- I think it's very confusing to people new to idb that your transaction will _close_ if you do not continue to run operations (reads/writes/etc..). I worked on a few large projects that had seriously bad race conditions because of this...  For my usecase I am writing tests (/w jest and using this lib to mock out idb).

Might be worth putting up a link to https://developer.mozilla.or

[2017-05-03 15:55] brettz9 commented on #296
Sure...  This is also limiting with chaining promises as they may expire before an operations has a chance to work.

But our code already does close without operations, so it is just a matter of timing it to close with the same timing as it will close in a compliant browser.

While I agree it is perhaps unexpected, I think we should leave it to other sites like MDN to document the ins and outs. Or

[2017-05-03 16:43] brettz9 commented on #262
Sorry for the comment spam, but realized I did need to adjust the key sorting for better future-compatibility after all.. Now released as RC 2...

[2017-05-03 17:04] lightsofapollo commented on #296
^ yeah this- I was not 100% sure what differences there are between what MDN (or the spec) says vs how this lib works.

[2017-05-03 22:42] brettz9 commented on #296
Ok, sure. I can look into adding. In the meantime, [this test](https://github.com/w3c/web-platform-tests/blob/master/IndexedDB/transaction-deactivation-timing.html) and [this one](https://github.com/w3c/web-platform-tests/blob/master/IndexedDB/upgrade-transaction-deactivation-timing.html) give a good demonstration of the expectations.

We only manage to "pass" these tests in Node by overwriting `s

[2017-05-03 23:24] brettz9 commented on #296
I've added a commit to clarify the issue further on the README. Please let me know if that helps.

[2017-05-04 07:45] brettz9 commented on #240
We have a new release candidate (currently no. 3) available for testing. Dexie also now gives new advice on use with our shim. This should be fixed, so closing, but feel free to reopen if you encounter issues.

[2017-05-04 07:45] #240 closed, assigned to brettz9, ilDon

[2017-05-04 07:49] brettz9 commented on #227
Things are working fairly well on Desktop Safari 10 and Chrome, but I don't have Safari version 9 or iOS9 to test.

We have a new release candidate available for testing.

As I haven't heard back, I'll close now... A lot has changed since version 2 (including breaking changes affecting existing data) so best to file reports against the version 3.0.0 RC (currently RC-3).

[2017-05-04 07:49] #227 closed, assigned to brettz9

[2017-05-04 08:00] brettz9 commented on #260
Firstly, in looking at your original post more carefully, it looks like you are attempting to use the Node API instead of just using the browser's IndexedDB API (first optionally forcing its use (where WebSQL is available) via `shimIndexedDB.__useShim()`). `require` is generally only for Node.js on the server (unless perhaps using requirejs but we don't support AMD-style modules).

So, you can:
1.

[2017-05-04 08:00] #260 closed, assigned to brettz9

[2017-05-04 08:06] brettz9 commented on #227
I might add that per https://github.com/axemclion/IndexedDBShim/issues/252#issuecomment-228707973 a more recent version (prior to a number of improvements though) was working fine with IOS9.

[2017-05-04 08:08] brettz9 commented on #220
In https://github.com/axemclion/IndexedDBShim/issues/252#issuecomment-228707973 , there were reports that things were working in iOS9 (though there have been further changes since then).

Welcome to try the 3.0.0-rc.3 version out for a spin. Closing as this should be fixed. Feel free to reopen if you find anything to the contrary.

[2017-05-04 08:08] #220 closed, assigned to brettz9

[2017-05-04 08:13] brettz9 commented on #101
If PouchDB doesn't need it, I think it is simpler to just remove the example file which I've done.

[2017-05-04 08:13] #101 closed, assigned to brettz9

[2017-05-04 09:16] brettz9 commented on #270
We've abandoned support for `polyfill.js` which patched bad IndexedDB implementations.

However, if you are just talking about avoiding our code forcing WebSQL, I've added an option, `avoidAutoShim` to `master` to do this. Closing as should settle the issue but feel free to reopen if not. Should be added to a new release candidate soon.

[2017-05-04 09:16] #270 closed, assigned to brettz9

[2017-05-04 09:19] brettz9 commented on #258
Sorry, not familiar with the SDK you are working with. iOS9 was reported as being fixed fairly recently, so you might give our latest RC a try. If you are still having problems, you might need to report the issue to your SDK or give us some more concrete information.

[2017-05-04 09:19] #258 closed, assigned to brettz9

[2017-05-04 09:20] brettz9 commented on #295
It didn't seem to be possible to recover after such a close, so I'm not sure this would be of any use.

[2017-05-04 09:20] #295 closed, assigned to brettz9

[2017-05-04 09:23] brettz9 commented on #233
Recent code (including the latest 3.0.0 RCs) included such caching. Feel free to give it a shot. Closing, but feel free to report if you experience any difficulties.

[2017-05-04 09:23] #233 closed, assigned to brettz9, Abrissirba

[2017-05-04 09:35] brettz9 commented on #270
Now added to 3.0.0-rc.4

[2017-05-05 07:39] brettz9 commented on #264
@axemclion : I went ahead and made the demo tests and source maps point to http://rawgit.com (I added a Grunt routine to copy the few test files needed out of `node_modules` into the repo itself). See https://cdn.rawgit.com/axemclion/IndexedDBShim/v3.0.0-rc.6/ . (Unfortunately for the latest W3C tests, those must currently be run locally (and with some set-up work).)

I think that having things on

[2017-05-05 07:39] #264 closed, assigned to axemclion

[2017-05-05 07:46] brettz9 commented on #262
On RC 6 now. I've updated the version 3 to-do list to take into account that the goals are either completed, or a few migrated to milestone 3.1.0.

Really hope we get some folks testing now so that our 3.0.0 release is well-tested.

[2017-05-09 08:31] StabbarN opened #303 "Only one instance of babel-polyfill is allowed"
When migrating from latest 2.x to 3.0-rc6 we get the following error
`Error: only one instance of babel-polyfill is allowed` when loading our app, which makes sense because it's already been included. We have other libraries that depend on babel-polyfill.

**Is it a good idea to include babel-polyfill in indexeddbshim? What to do if it's already added?**

I've successfully built indexeddbshim with

[2017-05-10 04:11] brettz9 commented on #303
This is now addressed in RC 7. We had checks earlier to prevent this, but recently removed when removing babel-polyfill for Node. I think it makes more sense to separate it out (no less because it is recommended to be done this way). A little less convenient for users, but ah well--browsers will hopefully support the features quickly anyways.

Btw, if you are migrating old apps, be sure to check o

[2017-05-10 04:11] #303 closed, assigned to nobody

[2017-05-11 09:53] brettz9 commented on #210
This is now implemented in `master`/RC 8. When the config `useSQLiteIndexes` is set to `true`, we apply simple indexes for the following:

1. The table we use to manage database name/versions (`dbVersions`)
2. The table we use to keep track of store metadata (`__sys__`)
3. The `key` column of the store content table (a table named after the store)
4. The index columns of the store content table (a

[2017-05-11 09:53] #210 closed, assigned to brettz9

[2017-05-11 11:27] brettz9 commented on #299
Though we still no-op a few harmless methods properties for convenience in cross-browser loading, we no longer add the `IDBFactory` methods unless `openDatabase` is supported (in `master`/3.0.0 RC 9).

[2017-05-11 11:27] #299 closed, assigned to brettz9

[2017-05-29 12:08] brettz9 commented on #262
Ok, just pushed out `3.0.0`. Thanks to those who assisted with bug reports, etc.!

[2017-05-29 12:08] #262 closed, assigned to axemclion, brettz9

[2017-05-29 12:11] brettz9 opened #304 "Blob issue"
Just making space for our failing of _`large-nested-cloning.html`_ `nested-cloning-*.html` in `web-platform-tests/IndexedDB`.

Some explanation in [original commit](https://github.com/w3c/web-platform-tests/commit/a414c1dd8ea33b9884ea87d13bd493629b640b44).

[2017-06-07 04:58] brettz9 opened #305 "Polyfill standard/pseudo-standard persistent/temporary storage and quota estimating mechanisms in browser and Node"
For both browsers that support it, and for use in Node, we might consider polyfilling either [indexedDB.open(*name*, {version: *version*, storage: "persistent|temporary"})](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Browser_storage_limits_and_eviction_criteria#Firefox_specifics)  and/or [`StorageManager`](https://developer.mozilla.org/en-US/docs/Web/API/StorageManager). These o

[2017-06-12 14:55] bboydflo opened #306 "Not a valid key"
I have setup a test page for the indexeddb functionality I need in my app and currently only testing on Android 4.1.2 WebView to make sure that the IndexedDBShim + latest Dexie works.

The shim is only loaded when needed (!Modernizr.indexedb || iosVersion <9 ) before Dexie.

With the latest IndexedDBShim (3.0.1) I cannot get these tests to pass, not even the first one which is opening a database c

[2017-06-12 15:38] brettz9 commented on #306
Are you trying to open a prior existing database? If so, that won't work with 3.* version which is definitely breaking...

I would try stepping through the code in the non-minified dist file and see where things get tripped up.

[2017-06-12 15:49] bboydflo commented on #306
Wow! Thank you very much! I've got this working. There was already a database created using a IndexedDBShim 2.1.1 and that was the issue.

[2017-06-12 16:23] brettz9 commented on #306
Great to hear... Will close then, but feel free to report back on anything else...

[2017-06-12 16:23] #306 closed, assigned to nobody

[2017-06-13 22:21] jimsugg opened #307 "Failure to create window.indexedDB running in node if initialConfig is supplied"
Node 7.8.0
IndexedDBShim 3.0.1

If I run the following code in node, window.indexedDB is undefined:

`const setGlobalVars = require('indexeddbshim');
global.window = global;
setGlobalVars({checkOrigin: false});
if (!window.indexedDB) {
  console.log('No indexedDB!');
} else {
  console.log(window.indexedDB);
}`

However, the following code works:

`const setGlobalVars = require('indexeddbshim');
g

[2017-06-14 07:18] erhanyasar commented on #260
Thanks for your effort @brettz9, I was not very intellectual about `node.js`, `PhoneGap` and `indexedDB`'s  API either even if I was the one try to implement this app on PhoneGap. So that, there was very much mistakes at the same time I had to struggle. Anyway before IndexedDB, PhoneGap is still [buggy](https://github.com/phonegap/phonegap-app-desktop/issues/809) and I even can't make it work for

[2017-06-14 09:08] brettz9 commented on #307
Please note the signature of `setGlobalVars`:

    setGlobalVars(<winObj or null>, initialConfig)

You need to pass in `null` for the first argument (or `window`) (and your `initialConfig` object as the second argument).

That should address the issue, so will close, but feel free to comment further.

[2017-06-14 09:08] #307 closed, assigned to nobody

[2017-06-14 18:24] jimsugg commented on #307
Oof. 🤦‍♂️  Of course that works. Thanks.

[2017-06-20 00:32] ulshv opened #309 "IDBShim v3.0.1 doesn't work"
I get `Uncaught ReferenceError: regeneratorRuntime is not defined` when using IDBShim v3.0.1 in any browser (desktop or mobile). Line 23 in `src/DOMStringList.js`

[2017-06-20 04:16] brettz9 commented on #309
Have you added `<script src="node_modules/babel-polyfill/dist/polyfill.min.js"></script>`?

That is a recently-added requirement.

Also, FYI, 3.0.2 was just released today (though it is not related to this issue).

[2017-06-20 15:49] ulshv commented on #309
@brettz9 just added polyfill, it didn't help. I use latest desktop Chrome but I still get this error. So there is no IDB shim on iOS now. Previous versions (2.x) worked perfectly fine.
Here's not working example with IDBShim 3.0.2 - https://jsfiddle.net/xf2zrL4p/110/, and working with v2.2.1 - https://jsfiddle.net/xf2zrL4p/111/.

[2017-06-20 21:35] ulshv commented on #309
I really don't know what happend but I don't get this error now, even on iPhone 4s (iOS 5.1), tested on browserstack. Any ideas? I was getting this error for last 2 days (since I decided to try v3.0.1).

[2017-06-20 21:39] ulshv commented on #309
Anyways, I will let you know if I will get `regeneratorRuntime is not defined` error again. It seems everything works fine now.

[2017-06-20 22:01] ulshv opened #310 "Insertions in DB on iOS are 20-40 times slower than on Android/Desktop"
I just tested IDBShim performance and found that instertions in WebSQL DB is 20-40 times slower than in IDB (Android/Desktop). Is it issue or it's okay?
Here is test example: https://jsfiddle.net/xf2zrL4p/110/
For 10,000 items I get: (in average)
- Desktop: 1.2 sec
- Android: 2.2 sec
- iOS (v5-9): 42 sec

[2017-06-21 05:10] brettz9 commented on #310
It's an issue if we can fix it. :-)  I don't know, so it's helpful to have reports such as yours, though can you also give an apples-to-apples comparison benchmark where possible (e.g., desktop WebSQL vs. desktop native IDB?)

From my testing on Chrome or Safari, I think it might be closer to 3-to-1 (though with Safari choking when there are too many queries at once).

It'd be helpful to do some J

[2017-06-21 05:12] brettz9 commented on #309
I saw that `regeneratorRuntime` error myself at some point and also saw it disappear (I think maybe in Node too). If you see it recur (with the polyfill on), we could look at removing our use of generator functions, but it is more elegant if we can keep them.

[2017-06-21 09:21] ulshv commented on #310
It's not big issue anyway. I'll try to make some profiling in the future if it will become critical.
Just made some apples-to-apples comparsions for you :) Here they are:

Desktop Chrome:
IDB: 1.2 sec, WebSQL: 5.7 sec.
Safari (iOS 5-8):
IDB: not available, WebSQL: 42 sec (average).
Safari on iPhone 7 (iOS 10.3):
IDB: 0.9 sec, WebSQL: 4.5 sec.
Chrome on Android 6 (Nexus 6):
IDB: 2.2 sec, WebSQL: 35

[2017-06-21 09:52] brettz9 commented on #310
Very helpful, thanks... With the difference on desktop  between IDB and WebSQL not being too dramatic, I'm not as worried about there being some fundamental performance problems. There are not only the hoops of non-native performance but also the fact that by necessity we have to scaffold extra code on top of WebSQL.

Per the interesting site http://reyesr.github.io/html5-storage-benchmark/ , in m

[2017-06-21 10:32] ulshv commented on #309
I started getting this `regeneratorRuntime` errors again...
Example: https://jsfiddle.net/xf2zrL4p/117/

[2017-06-21 10:38] ulshv commented on #309
Sorry, I forgot to include babel-polyfill... =/
Everything ok!

[2017-06-21 10:38] #309 closed, assigned to ulshv

[2017-07-01 09:58] brettz9 commented on #310
Since I don't know that there is anything we can do about this, do you think we should keep the issue open?

[2017-07-18 11:31] mbrevda opened #311 "Cannot supply flags when constructing one RegExp from another."
When duplicating regexes on some older browsers, flags cannot be added (testing Safari 6 atm, due to embedded device constraints). My particular error is being thrown on

[code]
[in which case](https://github.com/axemclion/IndexedDBShim/blob/be2c7e6619129d2e705b255cacda1c346fec491d/src/util.js#L62) `expandsOnNFD` is already a regex, which is being duplicated.

Here is a test case: http://jsbin.com

[2017-07-18 14:54] brettz9 commented on #311
Could you try replacing

[code]

with

[code]
?

I guess the copying of regex objects is an ES6 feature that Babel is not yet polyfilling.

If the fix above works, it'd be helpful to know whether there are any other issues in such older browsers (ideally tested against our various browser tests) as it'd be nicer to keep with the more succinct syntax if it's not going to be possible to support olde

[2017-07-19 09:52] mbrevda commented on #311
I can confirm that on this Safari 6 esqueue browser, adding `.source` prevents the error.

[2017-07-23 19:59] kolwas opened #312 "Uncaught ReferenceError: regeneratorRuntime is not defined - chrome"
Simple page (using newest indexeddb indexeddbshim - v3.0.4 - 2017-07-01 is cousing issue on
Chrome 59.0.3071.115 on linux)
[code]
Uncaught ReferenceError: regeneratorRuntime is not defined
    at Object.r.33 (indexeddb.shim.min.js:3)
    at o (indexeddb.shim.min.js:3)
    at indexeddb.shim.min.js:3
    at Object.<anonymous> (indexeddb.shim.min.js:3)
    at Object.r.37../CFG (indexeddb.shim.min.js:

[2017-07-24 03:32] brettz9 commented on #312
Please also add the following (after `npm install`) as per a more recent change:

[code]

That should resolve the issue so closing, though feel free to comment further as needed.

[2017-07-24 03:32] #312 closed, assigned to nobody

[2017-07-24 06:58] kolwas commented on #312
Ok. I appreciate for that info

2017-07-24 5:32 GMT+02:00 Brett Zamir <notifications@github.com>:

[2017-07-26 17:15] brettz9 commented on #311
Sorry been busy--this should be addressed by https://github.com/babel/babel/issues/5978 for which I hope to get to a PR, though probably not at least for a week or so.

[2017-07-26 18:17] mbrevda commented on #311
I think I mentioned that we didn't go with indexeddbshim in the end, so I'm
not holding my breath. Thanks for the update thought!

On Wed, Jul 26, 2017, 8:15 PM Brett Zamir <notifications@github.com> wrote:

[2017-08-03 21:54] brettz9 commented on #311
Sorry but when you were testing it, do you recall whether you were including the babel polyfill file or only the indexeddbshim file?

[2017-08-04 01:23] mbrevda commented on #311
I think I tired with the polyfill, but don't recall

On Fri, Aug 4, 2017, 12:54 AM Brett Zamir <notifications@github.com> wrote:

[2017-09-14 03:57] brettz9 commented on #311
Going to close this unless someone else can confirm the babel polyfill doesn't solve it...

[2017-09-14 03:58] brettz9 commented on #310
Since I'm not sure what can be done here, I think I'll close, but if you identify any particular bottlenecks that we could address, I can reopen...

[2017-09-14 03:58] #310 closed, assigned to nobody

[2017-12-01 12:56] brettz9 commented on #220
For questions about IndexedDB itself, ask somewhere like StackOverflow (or for the plugin, contact the plugin owner). This is for reporting issues with IndexedDBShim, a library to let you use IndexedDB on some older browsers (though most recent changes have been oriented toward Node support rather than all older browsers).

[2017-12-04 23:48] axemclion commented on #220
I request that we acknowledge the good work that @brettz9 is doing with maintaining the project.

[2017-12-05 08:50] DickvdBrink commented on #220
Agreed, Good job @brettz9 and thanks for all the hard work!

[2017-12-05 11:46] JamesMessinger commented on #220
Hear! Hear! Maintaining an open source project can seem like thankless work sometimes, but we appreciate all you do, @brettz9.  Keep it up

[2017-12-05 12:43] brettz9 commented on #220
Thanks a lot, fellas! Thanks for all your good work and reports as well as kind encouragement...

Btw, I expect all of the past contributors to the project ought to enjoy hearing from other folks here who are using the software about how they are putting it to use (and whether you're using 3.*)...

Or if it is for private purposes, just the fact that you're using it...

[2018-01-10 15:42] Gerharddc opened #313 "React-Native support"
I would like to use this library together with something like https://github.com/craftzdog/react-native-sqlite-2 (which provides a WebSQL compatible interface through SQLite) to get Indexeddb support on React-Native.

I was hopeing this would be easy and that something like the following should work:
[code]
But this fails when trying to import indexeddbshim with the following error:
![screenshot_1

[2018-01-12 14:25] StabbarN opened #314 "How to Access IDBKeyRange on IndexedDBShim 3.x?"
To initiate Dexie we need both indexedDB and IDBKeyRange
[code]
but I cannot find how to access IDBKeyRange in Indexeddbshim 3.x. In 2.x it was found at `
shimIndexedDB.modules.IDBKeyRange
`.

**Any idea how to reach IDBKeyRange or how to initiate Dexie properly with Indexeddbshim only enabled on some browsers?**

---

I've tried ` __useShim()` suggested in comment referenced below but it doesn't

[2018-01-12 14:52] StabbarN commented on #314
Nevermind. Got it working

is correct!

FYI, the following seems to be working
[code]

Thanks for an awesome shim!

[2018-01-12 14:52] #314 closed, assigned to nobody

[2018-01-17 10:36] pwnbreak commented on #313
I managed to make it (almost) work with this:
[code]
I say almost because Babel seems to be ignoring an arrow function in the output bundle:

Original:
[code]

Output:
[code]

So there is a syntax error in Android, but at least it works in remote debugger for me.

[2018-01-17 10:41] Gerharddc commented on #313
@nizkp Unfortunately testing with the remote debugger is not an option in this case because that makes all JS execute remotely in Chrome instead of through React-Native's own runtime. What that means is that normal Indexeddb should even work there without the shim.

Getting this Babel problem fixed could solve everything though.

[2018-01-17 11:14] pwnbreak commented on #313
True, but it's actually working (data is stored in mobile via react-native-sqlite-2). But of course it's not useful if it can't run in the old Android JSC Engine.
I think the problem must come from some custom Babel transform that react-native must be doing, or doing transforms in the wrong order. I'll try to investigate a little bit.

[2018-01-20 13:20] brettz9 commented on #313
Though the ES2015 preset should normally convert, FWIW, there is a Babel plugin for arrow functions: https://babeljs.io/docs/plugins/transform-es2015-arrow-functions/

[2018-01-30 13:29] jeanregisser commented on #313
I'm using `IndexedDBShim` successfully with `Dexie` in a React Native project (iOS and Android) with the following code:

[code]

This is a quite hackish and I wish we would have proper support for React Native directly in `IndexedDBShim`. Haven't found the time to make this happen myself though.

Also this setup is working (mostly) for my use case up until `indexeddbshim@3.1.0`.

I say mostly as

[2018-02-02 13:01] brettz9 commented on #313
Great to have this info, thanks! I don't know when I may be able to get to looking at this to see what we can do to fix. Please keep us updated if you would if things change on the React Native side...

[2018-02-09 16:05] dfahlander opened #316 "Status for polyfilling IE / Edge?"
Hi! Thanks for an extreemely valuable polyfill!

I was wondering about the status of using this shim to polyfill the lack of compound- and multiEntry indexes in IE and Edge. I used to create a polyfill for that for many years ago, but my work stalled so I''ve never picked it up. Is anything of this supported, and is there any idea or plan to include that in this polyfill? Would it be better to hav

[2018-02-10 00:48] brettz9 commented on #316
Hi David,

Although I am normally quite loth to make any updates containing known regressions, as per #277 , given my personal priorities not affording time for maintaining and updating the previous support the project had for compound keys, and the feeling that the other improvements and Node support made justified going ahead in a new major version in spite of this, I regrettably dropped this su

[2018-02-10 02:07] brettz9 commented on #313
@jeanregisser , can I ask if you also tested the non-minified bundle and whether that had problems for you too?

[2018-02-10 02:10] brettz9 commented on #313
I'd really like to better understand the issues in the latest IndexedDBShim regarding serialization/deserialization of objects with `undefined` as Typeson and typeson-registry tests are all passing (as are IndexedDBShim tests).

I suppose there is a chance though that the changes to `Sca.js` to revert legacy type names are not properly reverting pre-existing data with `undefined`?

[2018-02-27 19:25] adamJLev opened #317 "[npm] Can't install on Node 8.9.4 due to package.json specified <8.9.3"
[code]

[2018-02-28 01:36] brettz9 commented on #317
I added the engines limitation in package.json (commit a94cd5f ) because 8.9.3 consistently had a problem with one of our Mocha tests "query multi-entry indexes with hundreds of records" (and I now see neither 8.9.4 nor 9.0.0 fixed the problem, but 9.1.0 did fix it, so I could at least allow it again starting with 9.1.0--you can run the test file that includes the problematic test locally with `np

[2018-03-10 02:50] brettz9 commented on #304
Need to integrate latest https://github.com/dfahlander/typeson-registry/issues/8 , but needs some updating of testing environment to ensure it is working fully as expected.

[2018-03-14 00:06] fkleuver commented on #317
I'm developing a plugin for aurelia and lokijs that primarily targets the browser and this failed to install for me (on a machine running node 8.10.0). Had to override it with `--ignore-engines`

I wish this were a clear warning rather than a failing error, or that the `--ignore-engines` option would somehow be included in the error. I can't have this failure trickle down to consumers of my plugin

[2018-03-14 01:30] brettz9 commented on #317
Ok, I've re-enabled all engines after 6.9.2 (I don't know how well these earlier versions actually perform, btw, but that's what we had). I just made a note to the README about the test failure as a known issue. Thanks for the feedback! (Pushed to `master` and published to npm as 3.5.1)

[2018-03-14 01:30] #317 closed, assigned to nobody

[2018-04-05 07:02] tarjei opened #318 "TypeError: Illegal invocation when trying to start shim within jest"
Hi, I tried to use indeeddbshim with FBs jest, but I got:

`    TypeError: Illegal invocation`

Here's the stacktrace:
`
      at Window.get [as indexedDB] (node_modules/indexeddbshim/dist/indexeddbshim-node.js:11625:33)
      at shim (node_modules/indexeddbshim/dist/indexeddbshim-node.js:11557:24)
      at IDBFactory.IDB.shimIndexedDB.__useShim (node_modules/indexeddbshim/dist/indexeddbshim-node.

[2018-04-05 10:02] StabbarN commented on #311
Babel polyfill using Babel 7 with babel-preset-env useBuiltIns set to 'entry' doesn't work. It results in "Cannot supply flags when constructing one RegExp from another"

Docs about useBuiltIns: https://new.babeljs.io/docs/en/babel-preset-env.html#usebuiltins

I made an example here https://github.com/StabbarN/indexeddbshim-regexp

- Example not working: https://github.com/StabbarN/indexeddbshim-r

[2018-04-05 11:09] brettz9 commented on #311
It'd be great if you could take a look at https://github.com/babel/babel/issues/5978 or at least report your test case there... I'm pretty limited atm to investigate more closely...

[2018-04-05 15:57] brettz9 commented on #311
Thank you very much for building that test case and reporting this to Babel, @StabbarN (and @mbrevda for the original issue). Glad we can use more elegant code as well as solve things at the root, but if it takes too long, let me know and we can just add the longer way...

[2018-04-08 20:59] vladikoff commented on #313
This also works:

[code]

if you don't wanna do `  require('babel-polyfill');`

**shrugs**

[2018-04-09 07:53] #311 closed, assigned to nobody

[2018-04-09 07:54] brettz9 commented on #318
Our previous version (and the one I've just added, 3.6.0) have this file a lot smaller in size than your stack trace would indicate, so I'm wondering whether you are testing against the latest version?

[2018-04-09 07:56] brettz9 commented on #311
In publishing 3.6.0 just now, I went ahead and stomached the 7 extra characters to make it work for everybody. :-) I made a note to revert once Babel may apply a fix.

[2018-04-09 08:03] brettz9 commented on #313
In 3.6.0, the issue with `setPrototypeOf` should now be fixed. (Just don't set `fullIDLSupport` to true as tht will use `Object.setPrototypeOf`).

Note that as far as the previous comment, you don't need to polyfill `userAgent` if you invoke `setGlobalVars`. In that call, you can also add `win: SQLite` to your config (and you can forego a separate call to `__setConfig` by passing your config as th

[2018-04-09 19:08] vladikoff commented on #313
@brettz9 doing this:

[code]

![image](https://user-images.githubusercontent.com/128755/38517396-e02bbad4-3c07-11e8-9324-65659c3a1580.png)

Am I missing something?

[2018-04-09 19:14] vladikoff commented on #313
Doing a log like this:

[code]

produces:
[code]

so the `setGlobalVars` is not exported it seems

[2018-04-10 00:51] brettz9 commented on #313
@vladikoff : What do you get if you try this instead:

[code]

[2018-04-11 01:00] vladikoff commented on #313
@brettz9 the loading via `/src/setGlobalVars` doesn't work.

<img width=400 src=https://user-images.githubusercontent.com/128755/38590906-177f1f4e-3d02-11e8-982c-8e65da7ede15.png />

With `import setGlobalVars from 'indexeddbshim';`   I get this:

<img width=400 src=https://user-images.githubusercontent.com/128755/38590829-9d7d3ae6-3d01-11e8-8e57-855c38bafe32.png />

The way `import` statements ar

[2018-04-11 01:12] brettz9 commented on #313
How about
[code]

Btw, I can easily push a fix to check the existence of `userAgent`, just trying to get as much info first as possible...

[2018-04-11 01:34] brettz9 commented on #313
(If you wanted to go the `import` route, you'd need to find a way for importing module's like the Rollup plugin "rollup-plugin-node-builtins" (or equivalent for that environment) as our source is importing and relies on the Node module `path`, even for non-Node usage. That is the reason for the first error you reported in your last message.)

[2018-04-27 21:37] mikelehen opened #319 "deleteDatabase() doesn't respect databaseBasePath setting."
Repro code below. You're left with a `foo/D_my_db.sqlite` file that should have been deleted...

If you comment out the databaseBasePath, then the sqlite file is correctly deleted.

[code]

[2018-04-27 22:11] mikelehen opened #320 "deleteDatabase() crashes with memoryDatabase."
Repro code:
[code]

Result:
[code]

I think you need to pass `name` when calling `getLatestCachedWebSQLVersion()` here: https://github.com/axemclion/IndexedDBShim/blob/335e362fee00e40faa4e663d2bef80ccb576b177/src/IDBFactory.js#L113

[2018-05-05 05:41] brettz9 commented on #319
Thanks for the helpful report! Fixed in `master` and 3.6.2...

[2018-05-05 05:41] #319 closed, assigned to brettz9

[2018-05-05 05:42] brettz9 commented on #320
Thanks for the helpful report! Fixed in `master` and 3.6.2...

[2018-05-05 05:42] #320 closed, assigned to brettz9

[2018-05-11 11:17] StabbarN commented on #311
No release yet but this PR seems to fix it https://github.com/babel/babel/pull/7809

[2018-05-12 09:16] brettz9 opened #321 "Audit for security issues"
The latest npm versions provide `npm audit` to flag security issues with dependencies and devDependencies.

This bug is for tracking problematic dependencies (listing the highest level ancestor responsible); bold items will likely need action:

- [x] [websql](https://github.com/nolanlawson/node-websql/issues/25) -> **[node-sqlite3](https://github.com/mapbox/node-sqlite3/issues/983)** -> **[node-pr

[2018-05-23 11:46] aral opened #322 "tests-polyfill failing under Node with: Warning: Required config property "clean.w3c-old" missing."
Node: v8.11.1
Platform: macOS 10.13.4 (17E202)

Followed instructions at https://github.com/aral/IndexedDBShim/blob/master/docs/TESTING.md - failed at step 3 with the following error:

[code]

[2018-05-23 11:56] aral commented on #322
This might be because I didn’t do a recursive clone of the repository (as per https://github.com/aral/IndexedDBShim#building). If so, please feel free to close it if it is expected behaviour. (Although perhaps a note in the testing section will help others avoid the confusion.)

[2018-05-23 16:25] aral opened #324 "Continuous integration qunit task fails: ReferenceError: Can't find variable…"
As per: https://travis-ci.org/axemclion/IndexedDBShim/builds/382754742?utm_source=github_status&utm_medium=notification

[code]

[2018-05-25 12:44] rafayepes commented on #318
Some other example:

[code]

[2018-05-28 04:46] #322 closed, assigned to nobody

[2018-05-28 04:46] #324 closed, assigned to nobody

[2018-05-28 04:55] brettz9 commented on #321
We are now passing tests, but keeping the issue open as we shouldn't need to do this by editing `package-lock.json`. (`yarn.lock` has also not yet been updated.)

[2018-05-29 13:46] aral opened #325 "State of Dexie.js on Node.js using IndexedDBShim"
I’m looking into using [Dexie.js](https://github.com/dfahlander/Dexie.js) as an isomorphic database for [my current project](https://indienet.info) in browser and on Node.js. Dexie has a very comprehensive test suite that I just got running under Node.js (see [pull request](https://github.com/dfahlander/Dexie.js/pull/707)).

Based on the initial results, @dfahlander has written up [an analysis and

[2018-05-29 23:04] dfahlander commented on #325
The ordering issue seems to be this: The shim's implementation of IDBIndex.getAll() ends up in a function named executeFetchIndexData() that does not apply an ORDER BY clause to the query. Rows are not returned in the order of the index.

[2018-05-30 05:59] brettz9 commented on #325
@aral : This is awesome to see this develop.

A few things in response...

1. @axemclion is not actively working on the project these days, but I'm happy to help as I can.
1. As useful as it could be for us as well, I'm afraid I am too tied up these days to take the time to get the familiarity I need with the however appealing Dexie project to familiarize myself enough with the tests. If you can,

[2018-05-30 06:07] brettz9 commented on #325
Oh, and, since you appear to be looking long-term here, one key thing I should mention I hope we can get done, but which I'm not sure about finding the time to getting around to it, is the idea to get IndexedDB working in a manner by which it can be integrated into jsdom https://github.com/jsdom/jsdom/issues/1748#issuecomment-283723561 .

The most complete Node simulation environment I have set up

[2018-06-13 12:33] ErikBjare commented on #318
I've reproduced (on accident), no clue what's going on.

[2018-06-14 11:18] dfahlander opened #327 "The shim does not work on Safari 8 or 9"
Tested on Browserstack on iOS v9 Safari ( an IPhone 6S Plus).

### Safari 9
[code]
...does not do its job to patch the browser no matter manually calling shimIndexedDB.__useShim() or not.

Expected behavior: window.indexedDB references the shim instead of the native.
Actual behavior: window.indexedDB still is native.

But the following works perfectly:

[code]

### Safari 8
As Safari 8 blocks from

[2018-06-15 00:43] brettz9 commented on #327
I unfortunately don't have time now to take a closer look at this.

We do attempt to set `IDBKeyRange`. But if Safari is preventing it being redefined, and/or is preventing `indexedDB`, for being redefined, you might be interested in the following...

There is a "non-invasive" file in `dist` which lets the user call `setGlobalVars` themselves. It defines the global `setGlobalVars` and lets the use

[2018-06-15 05:19] dfahlander commented on #327
Thanks a lot @brettz9. It definitely looks like an idea for me to try using the non-invasive file. These are things that our users do not have the time to figure out themselves so I hope to find a simple and easy way to just making this work.

I will try (I hope to have the time) to incorporate the shim in dexie tests (both version 2 and 3/non-invasive) to see which one seems most stable as of now

[2018-06-24 07:14] #321 closed, assigned to nobody

[2018-06-25 02:16] brettz9 commented on #318
We are attempting to follow the standardized interfaces precisely, and they are picky about how a property is accessed. What is your exact call to `setGlobalVars`?

As we needed a workaround for our own test environment, I put in a hack that checks for a `shimNS` on the `this` (e.g., `window` or global), and if present, it avoids the error. In the next version I think I will define this with confi

[2018-08-08 17:14] andreujuanc commented on #318
I just got the same issue with jest. What's the workaround? if any.

[2018-08-08 19:10] brettz9 commented on #318
Try setting `global.shimNS = true` against the code in `master` and see if that solves it.

[2018-08-21 08:14] StabbarN commented on #327
Regarding Safari 9

Actual behavior: window.indexedDB still is native.

Can it be solved by setting `window.shimIndexedDB` to Dexie's options?
[code]

[2018-09-28 09:21] StabbarN opened #329 "Exception "5 database is locked" when multiple databases"
We are seeing the following exceptions:
`undefined unable to begin transaction (5 database is locked)` and
`The operation failed for reasons unrelated to the database itself and not covered by any other errors. (unable to commit transaction (5 database is locked))--(1)`

Those exceptions started to trouble us after we begun using two database instances instead of one:
[code]

It seems to occur mos

[2018-09-28 09:56] dfahlander commented on #329
Seems to be a websql bug in webkit. Would it be possible to put all tables into a single database instead?

[2018-09-28 10:05] StabbarN commented on #329
One database is only for logging purposes. We wanted to split log data from business data so that the logs were stored even tho the transaction was aborted.
It’s certainly possible but it would be nice to have multiple databases.

[2018-09-28 10:07] dfahlander commented on #329
Another thing you could try would be to wait with opening the two at the same time:

[code]
Essentially this code avoids opening race conditions without sacrificing the autoOpen feature.

But this assumes the race condition bug occurs in the opening of the database only.

*NOTE: Keep the explicit function as a function and do not convert it to a lambda arrow, as it needs to preserve the **this** c

[2018-09-28 10:21] dfahlander commented on #329
I see. If you choose to go for the single DB option and move the logs table back to the first DB, just make sure your logger can be called from within other transactions in the same db.

[code]
Note that the sample does not return the transaction promise, as a caller typically do not need to wait for it to finish. And if the caller is within another transaction, waiting for this transaction would

[2018-09-28 10:28] StabbarN commented on #329
That would probably be a good enough solution.

We might not need two databases. I was thinking about another solution, but yours is probably better. My solution was to change
[code]
to
[code]
, that is, stop listing `db[logStoreName]` to the transaction.
If the transaction is aborted then the log would be stored anyway. But as I said earlier, your's solution is more elegant and uses "!" in a nift

[2018-09-28 12:31] dfahlander commented on #329
Yes, you would need to put the call in its own transaction (with 'rw!' or 'rw?') as it would otherwise fail due to using a table that is not included in current transaction.

http://dexie.org/docs/Dexie/Dexie.transaction()#specify-reusage-of-parent-transaction

[2018-10-02 14:01] brettz9 commented on #329
Sounds like you got pointed in the right direction, so closing, but feel free to reopen or comment further as needed...

[2018-10-02 14:01] #329 closed, assigned to nobody

[2018-11-08 18:19] trialforce opened #331 "Error on Android 3.2 webview"
Hi! I'm developing a offline web app and it work very well with Android 4.4 >, but my employer need it's to work in a old 2011 tablet with Android 3.2, so I came to indexeddbshim. It has about 20 tablets with this awesome version.

I'm using dexie.js.

My code to starts with that:

[code]

When I force the shim to work the app works well in current Chrome on Windows, but inside the Webview of Andr

[2018-11-08 19:29] trialforce commented on #331
I made a simple test, without dexie, to see if it work.

The websql example works, but shim don't, same error:

Uncaught TypeError: Cannot read property '__db' of undefined at indexeddbshim.js:5650
[code]

[2018-11-10 15:36] brettz9 commented on #331
I'm hoping to get to some IndexedDBShim issues within one or two weeks, and maybe as with issue #330, setting @babel/preset-env might ensure our bundle is not using too advanced of features.

[2018-11-27 15:11] Shooshte opened #332 "Browser error - Cannot assign to read only property 'window' of object '#<Window>'"
I am trying to use `IndexedDbShim` with a react application. I am using [create-react-app](https://github.com/facebook/create-react-app) and this is the main app `index.js` file that runs before everything else:

[code]

I am getting the following error in the console:

Is there a known workaround for this? Or is there a polyfill version that ships as a single file that I can use as a static depen

[2018-12-05 00:00] brettz9 commented on #296
Per https://github.com/nolanlawson/node-websql/issues/28 mentions https://www.npmjs.com/package/better-sqlite3 which claims a very fast and fast synchronous API which may be a good basis for this issue...

[2018-12-05 11:23] brettz9 commented on #331
You might try again now with 4.0.1 which has just been released...

[2018-12-10 14:03] brettz9 commented on #304
A Blob issue and the underlying issue causing the tests to fail (inability to insert a non-index property on an array) fixed in 124b36824075eebebfb32900594eec5696197e11 (and improved in subsequent commits).

[2018-12-10 14:03] #304 closed, assigned to nobody

[2018-12-10 14:17] brettz9 commented on #250
The mentioned bug seems to have been fix, and it appears to be just a bug remaining with this issue in Firefox, so closing.

[2018-12-10 14:17] #250 closed, assigned to brettz9

[2018-12-10 14:29] brettz9 commented on #280
Closing as underlying issue resolved and `idlharness.any.html` tests passing...

[2018-12-10 14:29] #280 closed, assigned to brettz9

[2018-12-28 02:08] habahut opened #333 "Browsers that don't support WebSQL"
I am trying to port a web app that uses IndexedDB in a JavaFX application. JavaFX supports neither WebSQL or IndexedDB, but the webapp I am using requires IndexedDB. Do you have any suggestions for how to make this work?

Thanks,
Trevor

[2018-12-28 02:16] brettz9 commented on #333
It appears you or someone has filed on https://stackoverflow.com/questions/53952910/indexeddb-for-javafx-webview-with-no-websql-support so closing that it may be more suitably handled there.

[2018-12-28 02:16] #333 closed, assigned to nobody

[2019-01-11 01:18] brettz9 commented on #273
This might be done with #296

[2019-02-03 01:59] mikelehen opened #334 "\0 interpreted wrongly in cursor range (nodejs)."
I attempted to iterate all objects where the first element of the composite key is 'Johnson' by using the following index range (using 'Johnson\0' as the first entry that shouldn't match):
[code]

This works as expected using native IndexedDb in a browser, but with indexeddbshim in node.js I get results like 'Johnson2 ...' that should be out of range.  Based on the results I get, I think '\0' is b

[2019-02-03 02:19] brettz9 commented on #334
Which version of indexeddbshim are you using?

[2019-02-03 03:17] mikelehen commented on #334
I reproduced it with the latest (4.1.0) using both node v8 and node v9.

[2019-02-04 06:22] brettz9 commented on #334
Good find, thanks... Unfortunately, SQLite (at least the implementation we are using) does not work with NUL bytes (see https://github.com/mapbox/node-sqlite3/wiki/API#databaseexecsql-callback ). I wonder if https://github.com/JoshuaWise/better-sqlite3/ -- which I've been looking at using for the sake of synchronicity which can help us better mimic transaction timing -- might not have this limitat

[2019-02-09 18:48] mikelehen commented on #334
@brettz9 Thanks for the response!  I worked around the issue, so this isn't at the top of my priority list either. So definitely feel free to deprioritize (maybe revisit if/when you switch to better-sqlite3).

[2019-03-12 16:57] brettz9 opened #335 "Add new `commit` method (and reflect internal flag spec changes)"
Add `commit` method and update per https://github.com/w3c/IndexedDB/pull/242/files , including changing variable names to match the flag changes (for easier debugging).

[2019-03-15 01:41] brettz9 opened #336 "Add newly-added `IDBCursor.request`"

[2019-09-27 09:16] brettz9 opened #338 "Benchmarking against headless Chrome"
It'd be rather interesting to see how IndexedDBShim compared to use of headless Chrome's IndexedDB if anyone were interested to find out.

[2019-09-28 22:38] brettz9 opened #351 "API: `durability` option"
Apparently there is a new `durability` option (though not showing in docs yet)

- https://github.com/w3c/IndexedDB/blob/durability/index.bs
- (as `relaxedDurability`) https://github.com/web-platform-tests/wpt/commit/7561b155e100d0db088c9185457eb611313f6807#diff-b66b856833f34a841b51c7207dbc601f

[2020-02-07 18:35] zaptrem commented on #313
So what's the full currently established way of doing this?

[2020-02-08 02:44] brettz9 commented on #313
@zaptrem : See (or answer) my comments above to @vladikoff

[2020-02-08 21:33] zaptrem commented on #313
I’m not sure which of those is experimentation/broken(due to some
displaying crash screens)/intended for something else. My goal is to
enable(?) the shim so that any other code that assumes IndexedDB exists can
run with no modifications.

On Fri, Feb 7, 2020 at 9:44 PM Brett Zamir <notifications@github.com> wrote:

[2020-02-18 09:11] swittk commented on #313
Also interested in using an IndexedDB shim on React Native/Expo. (Just realized that Cloud Firestore wasn't doing Offline Persistence due to the lack of it)

I've tried doing what was mentioned in this thread https://github.com/firebase/firebase-js-sdk/issues/436 by @zwily (Gist here : https://gist.github.com/zwily/e9e97e0f9f523a72c24c7df01d889482), and sure enough, like others, it seems to work o

[2020-02-18 19:30] zaptrem commented on #313
I think Android uses some special Facebook implementation of the JS Engine while iOS is required to use JavaScriptCore/WebKit.

[2020-02-19 11:27] brettz9 commented on #313
Thank you for reporting on what you have tried and where things are going wrong (the example code you have at https://gist.github.com/zwily/e9e97e0f9f523a72c24c7df01d889482 looks pretty sound, and may be helpful to others. (FWIW, I have added in a branch some code to avoid the need for the `userAgent` setting portion.) I'd like to help with this issue, but don't have time to dive into React/React-

[2020-02-19 14:04] swittk commented on #313
Thanks for the helpful info :)
I've been trying to identify the issue this past afternoon and was looking into evaluateKeyPathOnValueToDecodedValue's implementation, and even considering testing the native Array.isArray implementation on Android haha.

Scratch that : _clonedValue and value are the same.

What I've found is that when state updates are performed (I guess the add, or put function is

[2020-02-19 14:31] brettz9 commented on #313
@swittk : I am guessing it is a bug in typeson or typeson-registry with the type of data you are trying to clone.

What version of indexeddbshim are you using? I would update to 6.0.1 (or current `master` is ok). There were a couple typeson-related upgrades which fixed [one](https://github.com/dfahlander/typeson-registry/issues/14) or [two](https://github.com/dfahlander/typeson-registry/issues/15)

[2020-02-19 15:48] swittk commented on #313
I'm so sorry, in my prior comment I wasn't logging the object correctly (logged clonedValue instead of _clonedValue).

I've since edited the post. I've found that value and _clonedValue are identical in all cases (So Sca.clone works, no problem).

However I've found that the crash occurs when the value provided is an empty object ( {} ), while keyPath is some value (keypath="batchId" to be exact;

[2020-02-19 17:48] swittk commented on #313
I've since come to discover that the iOS and Android versions return identical results, and fail the same Key.extractKeyValueDecodedFromValueUsingKeyPath test (both return {"failure":true}).

The only difference is in the autoIncrement property; iOS has it being true, while Android has it being false, and thus it chugs along on one and fails on the other.

~~I'm wondering if this property (autoInc

[2020-02-20 00:43] swittk commented on #313
Just found another interesting thing in case it would help; I logged storeProperties.autoInc inside IDBObjectStore.__createInstance and the results were surprising;

on iOS almost all calls are autoInc:false, with very, very few calls having autoInc:true
on Android it is the exact inverse; autoInc: true for almost all logs, with very few autoInc: false (and the last autoInc:false value is just rig

[2020-02-20 01:03] swittk commented on #313
<img width="576" alt="Screen Shot 2563-02-20 at 08 00 25" src="https://user-images.githubusercontent.com/5000572/74890620-25694d00-53b7-11ea-9509-d420c46a6622.png">
The logs show that the autoInc value provided to IDBObjectStore.__createInstance are the exact opposite in these two platforms .__.
I don't know where to look for next; I'm guessing that the true/false values after the numerical values

[2020-02-20 04:59] brettz9 commented on #313
Looking at https://github.com/firebase/firebase-js-sdk/blob/542240d093ad54f3c8e5739dcb8449e8b9cab131/packages/firestore/src/local/indexeddb_schema.ts#L468-L470 , it appears that `autoIncrement` is missing from this case.

[2020-02-20 05:03] brettz9 commented on #313
Please note that as of version 6.1.0 just released, the code at https://gist.github.com/zwily/e9e97e0f9f523a72c24c7df01d889482#file-expo-firestore-persistence-hack-js-L31-L34 should no longer be needed.

I guess I'll keep this issue open in case someone can write up a section for a README explaining usage which is not tied to a particular library but may work for React Native (if such a thing is p

[2020-02-20 10:27] swittk commented on #313
Hi.
First, I'd like to thank you so much for even looking up the firebase source on this issue.
One last thing I wonder though, would not providing a value to the parameter usually result in the parameter being false? Instead on Android the value seems to default to true, with the single autoIncrement: false call being the one right before the update. (On iOS the values are all false except for th

[2020-02-20 15:48] damienhoneyford commented on #316
To get the IE / Edge compatible polyfill you need to go back to v2 as per @brettz9 comment above.

That's what I've just had to do to enable IE / Edge to work properly with compound keys, but unfortunately it wasn't even that simple as although there is [browser detection for IE / Edge](https://github.com/axemclion/IndexedDBShim/blob/829577ec428a210f51b5acfceeae993d2d6723dd/src/polyfill.js#L9), it

[2020-02-22 13:17] brettz9 commented on #313
I'm afraid I don't have much time to look into this now. IIUC, the default for `autoIncrement` is indeed `false`, but if two stores are made, one with it `true` and one without, maybe that is the cause of the difference.

OTOH, you may be right that the mirroring is due to something internal to IndexedDBShim and the environment. I think you need to find out where the calls to `IDBObjectStore.__cre

[2020-02-23 16:23] swittk commented on #313
Just a little update; I have found the solution :)
Yeah, I was looking into the code and logging basically the creation of the instances that have autoInc in them, and found that autoIncrement was stored in the __sys__ data structure. That was as far as I got. So I figured it was something to do with the SQL query, but I couldn't find anything wrong with how it was written, so I left it at that to

[2020-02-24 00:30] brettz9 commented on #313
Great work finding the problem! I plan to look into a fix for that, and for the Rollup change (how `require('fs')` was added), as I may have some time.

Thank you for your persistence in helping us coming to a resolution.

I guess it was not an underspecification within SQLite but that Android just has a bug in following this from the [SQlite docs](https://www.sqlite.org/datatype3.html#boolean_dat

[2020-02-25 07:10] swittk commented on #313
Hi. I've just verified that changing from BOOLEAN to NUMERIC is not necessary; just the Number() cast is enough to retain the correct data.

[2020-02-25 09:03] swittk commented on #313
Also, I tried the latest committed code. Using constant strings causes react native to complain too, so the lines
`const fsStr = 'fs';`
` // eslint-disable-next-line no-undef, import/no-dynamic-require`
` const fs = ({}.toString.call(process) === '[object process]') ? require(fsStr) : null;`
throw the same error as before.

Currently I've converted it to this to work.
`  const fsStr = ({}.toString

[2020-03-03 13:53] swittk commented on #313
Seems the version on npm isn't updating. I noticed something with the TravisCI build failing?

[2020-03-06 01:29] brettz9 commented on #313
Apologies, need a little time to do a final review.

[2020-03-09 19:15] booleanbetrayal opened #352 "6.0.1 -> 6.1.0 import error in Webpack build"
Webpack builds break in 6.1.0 with the following error:

[code]

What am I missing here?

[2020-03-10 09:06] brettz9 commented on #352
Could you see if pointing to `master` solves it for you?

[2020-03-10 15:13] booleanbetrayal commented on #352
`master` seems to work, but Webpack is throwing warnings now due to a dynamic `require()` statement breaking it's static import analysis:

[code]

[2020-03-17 06:03] brettz9 opened #353 "Repository settings"
@axemclion , I'd really appreciate your help here, as I'm really eager to:

1. Set up the `master` branch for use on Github Pages, so we can offer a stable site for the demos. (githack.com does seem to be up now, but IIRC, it wasn't working for a time).
2. I'd like to be able to set up an option for people to sponsor our work through Github Sponsors. This can take a lot of time to maintain, and it

[2020-03-17 06:09] brettz9 commented on #352
Ok, I think I have a fix for this in my personal `master` branch (as well as adding nyc testing coverage and moving from Qunit tests to Mocha). I've just avoiding doing all of the requiring except in our Node files, relying on them to auto-set a config property (`CFG.fs`) which the `IDBFactory` will call if present (but not do any requiring there). This should also work for #313.

Let me know if `

[2020-03-17 06:11] brettz9 commented on #313
See https://github.com/axemclion/IndexedDBShim/issues/352#issuecomment-599895134 . In short, if folks could test `master` on https://github.com/brettz9/IndexedDBShim , I'd like to see if that fix will work in both React Native and Webpack, etc. I should then be able to look to a release.

[2020-03-23 17:18] booleanbetrayal commented on #352
Seeing it work in `master` of your fork now, @brettz9 . Thanks!

[2020-03-23 17:37] booleanbetrayal commented on #352
Going to re-open until this actually gets fixed upstream (@brettz9 / @axemclion)

[2020-03-24 07:25] brettz9 commented on #352
As @axemclion hasn't responded after a number of attempts, I have created an "indexeddbshim" organization (while inviting him to it): https://www.npmjs.com/package/@indexeddbshim/indexeddbshim

He had said a while back that I might maintain on my own anyways, so I figure this is a natural course.

It's on github at https://github.com/indexeddbshim/indexeddbshim

And we now have our demo files on t

[2020-03-24 07:30] #251 closed, assigned to brettz9

[2020-03-24 07:32] brettz9 commented on #353
Not having heard back, and given your previous encouragement to start a new repo, I've released now at https://github.com/indexeddbshim/indexeddbshim/issues so closing here.

[2020-03-24 07:48] brettz9 opened #5 "Move over other issues from axemclion/indexeddbshim"
Would like to migrate over issues from https://github.com/axemclion/IndexedDBShim/issues .

[2020-03-24 07:50] brettz9 commented on #305
Tracking issue for new package at https://github.com/indexeddbshim/indexeddbshim/issues/6

[2020-03-24 07:50] #305 closed, assigned to brettz9

[2020-03-24 07:56] brettz9 commented on #273
Tracking this issue on new project at https://github.com/indexeddbshim/indexeddbshim/issues/7

[2020-03-24 07:56] #273 closed, assigned to brettz9

[2020-03-24 07:59] brettz9 opened #8 "Provide optional Node support for accurate task/microtask behavior"
Per the README update, there are limitations in the browser, and currently in Node, in regard to task/micro-task timing.

It would seem to me to be compelling to be able to get the fully spec-compliant expected behavior in terms of task/microtask behavior for Node, so that, e.g., transaction expiration would work as expected when timeouts or promises are used. Currently, we prolong transactions in

[2020-03-24 08:00] brettz9 commented on #296
Tracking this issue on new package at https://github.com/indexeddbshim/indexeddbshim/issues/8

[2020-03-24 08:00] #296 closed, assigned to brettz9

[2020-03-24 08:06] brettz9 commented on #290
Tracking this issue on new package at https://github.com/indexeddbshim/indexeddbshim/issues/9 .

[2020-03-24 08:06] #290 closed, assigned to brettz9

[2020-03-24 08:08] brettz9 opened #10 "Running individual tests and deleting old databases"
Mocha has the problem that running individual tests does not seem to delete the old ones first.

[2020-03-24 08:09] brettz9 commented on #248
The QUnit aspect is no longer relevant as I've moved those tests to Mocha. I'm tracking the remaining mocha issue on the new package at https://github.com/indexeddbshim/indexeddbshim/issues/10

[2020-03-24 08:09] #248 closed, assigned to brettz9

[2020-03-24 08:11] brettz9 opened #11 "Delete db for Node if empty"
- [ ] Delete Node `__sys__.sqlite` database if empty (may need queue (or wholly sync behavior--see #296 ) to avoid errors after `deleteDatabase` followed by `open`) whether after deleting database or aborting an upgrade

[2020-03-24 08:12] brettz9 commented on #278
Tracking the remaining issue for the new package at https://github.com/indexeddbshim/indexeddbshim/issues/11

[2020-03-24 08:12] #278 closed, assigned to brettz9

[2020-03-24 08:14] brettz9 opened #12 "Getting to 100% coverage (including shim-specific tests)"
We really ought to add tests for the following give our implementation details (and with nyc coverage added now, we can more easily find these):

- [ ] Use of NUL within database/object store/index names and content
- [ ] Use of binary within arrays testing padded bytes, e.g., `'5' > '400'` but `'005' < '400'` (other different types within other types probably already covered for other cases by Mo

[2020-03-24 08:21] brettz9 opened #13 "SCA type review"
We ought to give a careful review of our compliance with the Structured Cloning Algorithm (to the extent it is possible):

- [ ] Resolve remaining [typeson](https://github.com/dfahlander/typeson/issues/) and [typeson-registry](https://github.com/dfahlander/typeson-registry/issues/) issues.
- [ ] Explore edge cases of normal object/array cloning (such as empty sparse arrays which seemed to be conve

[2020-03-24 08:21] brettz9 commented on #286
Tracking this issue for new package at https://github.com/indexeddbshim/indexeddbshim/issues/13

[2020-03-24 08:21] #286 closed, assigned to brettz9

[2020-03-24 08:23] brettz9 commented on #289
Tracking this issue for new package at https://github.com/indexeddbshim/indexeddbshim/issues/12

[2020-03-24 08:23] #289 closed, assigned to brettz9

[2020-03-24 08:31] brettz9 opened #14 "Export improvements"
Some enhancements related to exports:

1. [ ] Provide ES distribution for non-invasive build at least
1. [ ] We could review the exports to ensure that modules can be as independent as possible (as raised in https://github.com/dfahlander/Dexie.js/issues/359 ); we currently depend on `setGlobalVars` to do this and though it can work with a non-global, it still requires loading all modules
    1. [

[2020-03-24 08:31] brettz9 commented on #283
Tracking this issue for new package at https://github.com/indexeddbshim/indexeddbshim/issues/14

[2020-03-24 08:31] #283 closed, assigned to brettz9

[2020-03-24 08:35] brettz9 opened #15 "Test streamlining/browser support for W3C and other tests"
Although we have a recent addition of W3C-adapted tests for Node, I'd like us to:

- [ ] **In-browser tests**
    - [ ] Although there are scripts for auto-deleting db files, the tests themselves should really do the deletions on clean-up, ensuring proper browser testing (and less dead weight)
    - [ ] Move "Old W3C" tests to own repository just in case ever need again, but as new W3C is set up f

[2020-03-24 08:36] brettz9 commented on #249
Tracking this issue for new package at https://github.com/indexeddbshim/indexeddbshim/issues/15

[2020-03-24 08:36] #249 closed, assigned to brettz9

[2020-04-14 05:51] nuevoalex opened #354 "Memory leak"
In IDBDatabase.js an array is kept which stores all transactions:

https://github.com/axemclion/IndexedDBShim/blob/7a2bd336cc0f60245ec308b25b112d857315c90a/src/IDBDatabase.js#L36

This array never has elements removed and will grow indefinitely as an application runs resulting in out of control memory growth.

[2020-04-14 08:37] brettz9 commented on #354
Thank you for the report. Please note that while I am maintaining the issues here for now, all further work I plan to do (including accepting of PRs) is on https://github.com/indexeddbshim/indexeddbshim .

[2020-05-13 20:16] axemclion commented on #353
Sorry for not responding. Please go ahead.

[2020-05-13 20:16] axemclion commented on #353
Also, if you think we should move this repo to an organization of its own, so that you have more control, that would be cool too.

[2020-05-13 20:17] axemclion commented on #249
@brettz9 - should I archive this repo, so that we can move to the new location ?

[2020-05-14 01:06] brettz9 commented on #353
I think archiving as you suggested in https://github.com/axemclion/IndexedDBShim/issues/249#issuecomment-628222827 would be a very good idea, though maybe first making a new patch release which we mark as deprecated (by `npm deprecate` with its message pointing to the new package URL) so that those checking for updates can get informed that the package is deprecated (I don't know if marking an old

[2020-05-14 01:06] brettz9 commented on #249
See my comment at https://github.com/axemclion/IndexedDBShim/issues/353#issuecomment-628325719 . Thanks!

[2020-05-26 15:53] stevenxxiu opened #18 "Testing with Jest using Dexie"
Issue is carried from https://github.com/dfahlander/Dexie.js/issues/647.

I'm having trouble testing `Dexie` with `Jest`, and getting the error:

[code]

I have tried the suggestion of pegging jsdom to `16.1.0` and using this package `@indexeddbshim/indexeddbshim`, but with the same error.

The code I used for testing is:

[code]

[2020-05-26 16:00] brettz9 commented on #18
You pegged to the exact version, not adding a `^` or `~` before the version, I presume, right?

If so, could you please prepare a minimal test repo which I can clone?

It is getting late for me here but can hopefully look into this tomorrow.

[2020-05-26 16:12] stevenxxiu commented on #18
Sure I setup a repo at https://github.com/stevenxxiu/jest_dexie_test. And yes that's what I did.

[2020-05-27 04:10] brettz9 commented on #18
As per https://github.com/stevenxxiu/jest_dexie_test/pull/1 , you need to update `@indexeddbshim/indexeddbshim` (to avoid late-loading the XHR polyfill) and define `Blob` globally. And there is no need to peg jsdom at a lower version. It works with the current latest version 16.2.2.

Closing as that should resolve, but feel free to comment further as needed.

[2020-05-27 04:10] #18 closed

[2020-05-27 09:57] stevenxxiu commented on #18
Thanks a lot! That fixed my local test as well. I would have no idea how to fix this myself.

I would be totally stuck without you here. You deserve a 🏆!

(I additionally needed `global.FileReader = window.FileReader` in my local tests).

[2020-05-27 10:21] brettz9 commented on #18
Well, you made things pleasant by following the feedback, preparing the test repo, etc. And I know this kind of thing would not have been fun to debug without already knowing the internals.

There are really some trade-offs in using browser APIs as the default and requiring Node users to tweak their environments. Thankfully there is jsdom and Node has increasingly added some browser APIs (like `UR

[2020-06-02 23:52] axemclion commented on #353
Sounds good. Let me know if you have done npm deprecate, and i can then archive this repo. Thanks for all your work.

[2020-06-03 02:46] brettz9 commented on #353
On further reflection, @axemclion ... To minimize the impact on existing users (and since adoption for `@indexeddbshim/indexeddbshim` is still rather low), what do you think of our instead:

1. Transferring ownership of the repository to https://github.com/indexeddbshim/  (I may need to first delete https://github.com/indexeddbshim/indexeddbshim , though it could be tried). I assume that will make

[2020-06-14 03:45] axemclion commented on #353
@brettz9  - let me know when to do the transfer.

[2020-06-15 13:52] brettz9 commented on #353
I think you can go ahead and try to transfer.

[2020-06-23 18:21] axemclion commented on #353
Looks like `https://github.com/indexeddbshim/indexeddbshim` already exists. Should I delete it before transferring? I cannot delete it since I am not an admin.

[2020-06-24 05:30] brettz9 commented on #353
I've set you up as a co-owner (sorry, should have done that earlier). Unless there is another way to make a redirect, I think you can go ahead and delete it first before transferring. I can then push my commits since that time and then deprecate the npm package I created back in favor of `indexeddbshim`.

[2020-06-24 14:52] axemclion commented on #353
The repo is now transferred to [https://github.com/indexeddbshim/indexeddbshim](https://github.com/indexeddbshim/indexeddbshim).

I have also renamed the forked repo in the org to [https://github.com/indexeddbshim/indexeddbshim-forked](https://github.com/indexeddbshim/indexeddbshim-forked)

[2020-06-26 07:25] brettz9 commented on #353
Excellent, thanks so much for persisting with this, and my apologies for a somewhat slow response time (have not been feeling too well, and maybe will even need to curb my contributions, but figured it was still good to go ahead with this and have an organization umbrella). I've now:

1. Pushed all of the changes from `@indexeddbshim/indexeddbshim`over to this repo.
2. Released 6.6.0 with those ch

[2020-06-26 07:25] #353 closed, assigned to nobody

[2020-06-26 17:44] niklasnatter commented on #313
Hey,
I just wanted to thank you for your work on this!

I am using the `firebase-js-sdk` in my expo app and figured that offline persistence is not working because `IndexedDB` is not available in the react-native JS environment (https://github.com/firebase/firebase-js-sdk/issues/436). Thanks to your changes, I managed to provide `IndexedDB` to the `firebase-js-sdk` with the following lines:

[code

[2020-06-27 01:45] brettz9 commented on #352
@axemclion has gotten things all nicely set up, redirecting to the `indexeddbshim/indexeddbshim` organization, and I've ported my fork changes to it, deprecated the separate `@indexeddbshim/indexeddbshim` npm package I had released, and released the fork changes as part of the regular `indexeddbshim` package (release 6.6.0). So I will close the issue since it should be fixed in this main project a

[2020-06-27 01:45] #352 closed, assigned to nobody

[2020-10-13 01:21] wh1t3cAt1k commented on #316
To provide some subjective justification and up this thread: Microsoft, as of now, requires IE11 support in their official AppSource [certification policy](https://docs.microsoft.com/en-us/legal/marketplace/certification-policies#1100-microsoft-365) for Office.js Excel Add-ins, primary reason being that add-in task panes for Excel on Windows still run in an IE11 tab.

Unfortunately, this wasn't pr

[2020-10-18 02:07] cbasah commented on #318
How do we set this in Jest? I get the same problem when doing a test on react-native expo app.

`
import React from 'react';
import renderer from 'react-test-renderer';

import App from './App';

describe('<App />', () => {
  it('has 1 child', () => {
    const tree = renderer.create(<App />).toJSON();
    expect(tree.children.length).toBe(1);
  });
});
`

[2020-10-22 15:00] radicalapps opened #356 "RegExp issue in non-ES6 environments"
The newer version of globalVars uses a revised RegExp as follows:

 (/(iPad|iPhone|iPod).* os 9_/ui).test(navigator.userAgent)

The u (unicode) flag is new for ES6. This new RegExp fails to instantiate in older browsers, causing poorIndexedDbSupport not to be detected in, for example, Safari on IOS 9.

[code]
Suggested resolution is to remove the u flag to enable the RegExp to work as expected.

[2020-10-22 15:20] brettz9 commented on #356
I'd be open to a PR . Note that there are also `new RegExp` calls with the `u` flag so any PR should handle them as well.

I would have preferred to use https://babeljs.io/docs/en/babel-plugin-transform-unicode-regex and a Unicode-aware RegExp constructor polyfill, but:

1. It might add significant bloat
2. core-js at least doesn't seem to have such a polyfill anyways

[2020-11-02 04:14] ivanjeremic opened #357 "Is this library working with Electron?"
Is this library working with Electron, What I mean by that is when I have a server-side (Node) code that saves data to the DB, will it be saved in the Electron window IndexedDB?

[2020-11-02 05:01] brettz9 commented on #357
No. You could in theory serialize IndexedDB stored on the client or server (whether native IndexedDB in Electron or  IndexedDBShim on Node), such as IndexedDBShim does internally (i.e.,  use `encode` in the file `src/Sca.js` which uses `typeson-registry` with the structured cloning preset to produce a JSON serialization) and then optionally diff the current serialization against the one known to b

[2020-11-02 05:01] #357 closed, assigned to nobody

[2021-07-19 12:04] wishawa opened #361 "Transaction is inactivated while still in progress when used with IDB."
I'm trying to use [IDB](https://github.com/jakearchibald/idb) on top of this library in an environment where only WebSQL is available (React Native and SQLite).

When calling `cursor.continue()`, `DOMException: A request was placed against a transaction which is currently not active, or which is finished` is thrown.

The error does not happen if I use IDB in with normal LocalStorage in both Firefo

[2021-07-19 12:08] wishawa commented on #361
Apologies. I did not read https://github.com/indexeddbshim/IndexedDBShim#taskmicro-task-timing.
Seems like this is a known issue. Closing.

[2021-07-19 12:08] #361 closed, assigned to nobody

[2022-01-05 08:01] aguycalled opened #362 "Can't use Dexie with indexedDBshim from ESM module"
Trying

[code]

Gives me this error:

[code]

[code]

Dexie version: 3.2.0
indexedDBshim version: 8.0.0

Any clue?

[2022-01-05 09:16] brettz9 commented on #362
Have you introspected to see whether you are getting a global `indexedDB` object after `setGlobalVars` and before your use of Dexie?

[2022-01-05 09:33] aguycalled commented on #362
[code]

outputs:

[code]

[2022-01-05 09:37] brettz9 commented on #362
Ok, well, it looks fine on our end. It sounds your loading of this file may not be loading in time for Dexie. I think you'll want to raise this question over there (or on a support site like Stackoverflow). Closing as that should resolve, but feel free to comment further if really needed.

[2022-01-05 09:37] #362 closed, assigned to nobody

[2022-10-05 11:04] tomayac opened #367 "⚠️ Web SQL is deprecated"
Web SQL is on its way out and is being [slowly deprecated](https://developer.chrome.com/blog/deprecating-web-sql/). Web SQL access in insecure contexts is deprecated as of Chromium 105 at which time a warning message will be shown in the Chrome DevTools Issue panel. It's planned to fully remove it in later versions. This is a heads up to consider removing Web SQL as a storage backend from your lib

[2022-10-05 11:27] brettz9 commented on #367
Thanks for the heads up. Personally, my focus is on this tool's Node support, so our use of the WebSQL is not an issue from that perspective. For the browser, PRs would be welcome, e.g., to use [AlaSQL](https://github.com/AlaSQL/alasql).

[2022-11-03 18:02] nbrustein opened #368 "Attempt to iterate a cursor that doesn't exist"
Rarely, when trying to write to the database in the wild, we see a `Attempt to iterate a cursor that doesn't exist` error in our error reporting services.

I found [this issue](https://github.com/pouchdb/pouchdb/issues/8329) that sounded kind of similar. But that issue seemed to only be happening to people when the app was backgrounded. In our case it's happening when someone is actively using the

[2022-11-14 22:16] SohelIslamImran commented on #313
Is there any way to use Indexed DB Polyfill in React Native Expo?
I'm getting this error while using https://gist.github.com/zwily/e9e97e0f9f523a72c24c7df01d889482
[code]