[2012-06-11 03:24] axemclion opened #1 "Encoding of Keys"
Keys are currently not encoded properly. Numeric keys are treated like string, and hence sorting order is not maintained

[2012-06-11 03:25] axemclion opened #2 "Blocking Calls on versionTransactions"
Version transactions are not blocking, they should not allow any other transactions when version transactions are in progress

[2012-06-11 03:28] axemclion opened #3 "Support for aborting transactions"
transaction.abort is not implemented

[2012-06-11 05:41] axemclion opened #4 "Deleting Indexes"
Deleting Indexes does not delete index columns

[2012-06-11 15:59] axemclion commented on #5
Was a syntax error in the way the files were built, corrected in SHA: cd49a0cf408c7fffb63d964bc468c41ec7fe3064

[2012-06-11 22:41] nevf commented on #5
@axemclion It took a couple of refreshes on my iPad but all tests are passing now. Great job.

[2012-06-12 03:23] axemclion commented on #5
Glad that it works !! The refreshes were probably due to the caches.

[2012-06-17 08:48] kristofdegrave opened #6 "Adding ErrorCodes"
When something goes wrong, I get event data back with a message and everything, but an errorcode would be usefull too. This way I can easily ignore errors in some cases.

[2012-06-17 09:00] kristofdegrave opened #7 "Error when inserting data with a key parameter and objectstore with inline keys"
I got the follow exception while inserting data with a key parameter and objectstore with inline keys. I think this error/exception isn't handled nice because it blocks further working while I use error handling.

Uncaught exception: SyntaxError: Function constructor: failed to compile functionError thrown at line 34, column 3 in throwDOMException(name, message, error) in http://localhost:50046/Sc

[2012-07-06 13:59] kristofdegrave opened #9 "Transaction Excption when calling clear"
Hi,

I get an exception in the transaction part (line 844) when clearing the objectstore

greetings

[2012-07-19 19:11] axemclion commented on #12
The issues 21, 24, and 25 are due to the way the tests are written. They occur as some indexes have more than 2 records matching, and I check only against one.

Will edit the test case.

[2012-07-28 00:04] axemclion commented on #13
Thnx a lot for your fix. I initially merged it, but had to revert it due to a few problems. Applying the commits once after the other instead, using patches.

[2012-08-02 06:23] axemclion commented on #15
Fixed in SHA: ed0d0fe4e9f12e56148ba2941a04fc309f0c5afc

[2012-08-07 01:32] pixelcort opened #16 "Support Index multiEntry"
http://www.w3.org/TR/IndexedDB/#dfn-multientry

Might require moving away from column-based indexes.

[2012-08-08 19:31] pixelcort opened #17 "IDBCursor#__find can cause CPU peg in Safari's sqlite3 implementation"
When using `IDBCursor#__find` as part of walking through many items (calling `continue` after each item), currently performance is limited by massive amounts of CPU work in Safari's sqlite3 implementation (which runs on a thread).

This results in much slower performance when using IndexedDBShim as compared to Chrome's native IDBCursor's `continue` method.

[2012-08-08 19:47] pixelcort commented on #17
The calls to `tx.executeSql` inside `IDBCursor#__find` look like:

[code]

I'm not sure, but I think all these calls are pegging the sqlite3 thread in Safari.

[2012-08-08 20:01] pixelcort commented on #17
Adding an SQL index for the key column on the table speeds this up a bunch:

[code]

Is it worth creating an index for each database the shim creates?

[2012-08-08 20:39] axemclion commented on #17
The keys are marked as primary keys, and I though that it was already indexed  .... looks like your experiments say that they are not. Are you able see an improved speed if an index is created for primary key column in every table ?

[2012-08-08 20:46] axemclion commented on #16
The way webkit and Firefox implement this is have a separate table (instead of a column in the same table) to support multi-entry flags.
However, that basically means that you select from one table, and then select from another. I wanted to see if I can do this so that I can support this only for multi-entry indexes, and leave the normal indexes as they are implemented now.

[2012-08-08 21:22] pixelcort commented on #17
Very much so, especially for a large `OFFSET` with an `ORDER BY`. Without an `ORDER BY` a separate index doesn't seem to be necessary. I'm guessing that, even if there is some internal indexing on `PRIMARY KEY`, it's not used for `ORDER BY`.

I haven't tested using a cursor on an IDBIndex, but I wouldn't be surprised if those other columns would benefit from SQL indexes as well.

[2012-08-08 21:44] axemclion commented on #17
In that case, I think its worth creating indexes for primary key and also for index columns.

However, still need to decide on indexes if we go the conventional way to have a separate table (like chrome and firefox) for indexes so that multi entry is supported, or continue this path. Any thoughts on that ?

[2012-08-08 22:19] pixelcort commented on #17
No thoughts on `multiEntry`; I'm considering PouchDB which doesn't use `IDBIndex` at the moment anyways.

One other thought came to mind: is there a reason `key` is `BLOB` instead of `TEXT`? Not sure if that makes a difference when using `ORDER BY` or not... maybe I'll run some perf tests between them and see.

[2012-08-08 22:34] pixelcort commented on #17
Okay I did a test where each table's `key` column is of type `TEXT` with a manual index:

[code]

IDBCursor is extremely fast now. I am able to replicate two PouchDB idb databases where the source contains 1000 records in under 2 seconds in Safari now. Before adding the index and changing the `key` to `TEXT` it was taking over 10 minutes.

[2012-08-15 16:55] axemclion commented on #18
Thnx for the pull request - will take a look at it over the weekend and merge it. Were all the tests passing ?

[2012-08-15 19:29] pixelcort commented on #18
Before this PR the tests were already failing:
- The number of tests run each time varied: #21
- Sometimes the tests fail: #12

[2012-10-29 21:25] axemclion commented on #12
Fixed this in SHA: ccd64befcdc686ccc1867d40c582136518022caf

[2012-11-16 06:33] ctoph3r opened #27 "Problem of Bulk insert in safari"
I have 350 records that need to be insert into an object store, and the size of the 350 records is about 19mb.

here is a function that i use to insert an array list into objectstore:

[code]

in the line code 1, after reaching 5mb, safari asks the user , the authorisation to increase the size of web offline storage...

i click on authorise button.. but i have only 90 records(instead of 100) which

[2012-11-17 21:07] axemclion commented on #27
Do you get errors when you try inserting records ? Or do you get any errors in transactions ? Can you send me the code snippet as a gist - add its link to this issue, so that I can run the file on my browser to see what happens ?

[2012-11-20 14:07] marcoreni opened #28 "Database open fails with Opera and Linq2IndexedDB"
I tried to use this shim to enable my web application in Opera and Firefox (the app works fine in Chrome).

I received a strange error in Opera, so I decided to run the tests on http://users.telenet.be/kristofdegrave/test/ (which integrate the Shim).

I received this errors on my console (and I don't get any result):

Uncaught exception: TypeError: Cannot convert 'e.target' to object

Error thrown

[2012-11-21 05:09] axemclion commented on #28
Are you able to run the polyfill without a library - http://axemclion.github.com/IndexedDBShim/test ? Do you see any errors with that on Opera?

[2012-11-21 13:15] marcoreni commented on #28
The test on that page runs correctly, no errors are reported.

[2012-11-21 23:13] axemclion commented on #28
This could be an issue with the way LINQ is written. Can you isolate this to a single function to take a look at what is going on ?

[2012-11-22 11:18] ctoph3r commented on #27
Hi, unfortunately, i am unable to post the codes and data on the internet due to company's policy...  in fact, the codes and functionalities are much more complex.. i have just given an example on my previous post..

but, i write a piece of code just for you to test(HTML FILE) --> https://gist.github.com/4130468/9b2cc94cb4d7beb0c49fa47b54e28735a7daf807 .. but i am unable to exactly reproduce the b

[2012-11-23 12:46] marcoreni commented on #28
I made some tests in the Opera console.

Trying to open/create the database works fine.

Then I try to select some object from the database (at the time of the call the database is created but still empty, but on Chrome this is not a problem and the function goes straight to the "done" callback) but I get an error (and none of the debugging lines is printed out). These are the functions I'm using.

[2012-11-23 20:52] kristofdegrave commented on #28
Hey,

I'm the one working on the linq2indexeddb lib. I'm aware of the issue and I am currently working on it. The problem is that in the oncomplete the shim doesn't pass any arguments. I have a workaround and will push it asap.

greetings

Kristof

[2012-11-23 20:54] kristofdegrave opened #29 "Opening transaction for without a scope is possible"
If I use the shim I am able to open a transaction with an empty scope. Instead of returning an error for that, the transaction just gets created.

[2012-11-23 21:06] axemclion commented on #28
Do you think it should be fixed in the shim instead of the library ?

[2012-11-24 06:13] kristofdegrave commented on #28
Well I have a work around added in my framework, but it would be best to fix it in the shim too so it works like the specs. What is now present in the context should be accesible in the target property of the argument.

[2012-11-25 09:22] kristofdegrave commented on #28
@LinoLinux The 1.0.21 version of the linq2indexeddb library solves this issue.

[2012-11-25 10:02] kristofdegrave opened #31 "Create a nuget package of the indexeddb shim"
It would be usefull to provide a nuget package for the indexeddb releases. This way I can easily stay up to date with the latest version of the shim, and easily reference to it in my own packages.

[2012-11-26 01:26] axemclion commented on #31
I am not very familiar with nuget. Can you please send me an initial pull request for the package, that I can include here ?

[2012-11-26 01:37] axemclion commented on #29
Are you referring to code like `var transaction = db.transaction([], "readwrite")` ?

I am looking at the specifiction here http://www.w3.org/TR/2012/WD-IndexedDB-20120524/#widl-IDBDatabase-transaction-IDBTransaction-any-storeNames-DOMString-mode and there is nothing about not passing an empty array.

Is the expected behavior on passing empty array, to fail the transaction ?

[2012-11-26 03:36] axemclion commented on #18
I am looking at re-writing the code, for better error handling, and confirming to the specification. Will add this during that cycle.

[2012-11-27 05:15] mathroc opened #32 "can't request.addEventListener"
IDBRequest does not implements addEventListener to attach one or more callback to an event

[2012-12-04 10:53] kristofdegrave commented on #29
Yes it is.

The objectstorenames argument isn't optional and must throw a InvalidAccessError when the  function was called with an empty list of store names

http://www.w3.org/TR/IndexedDB/#widl-IDBDatabase-transaction-IDBTransaction-any-storeNames-DOMString-mode

[2012-12-11 01:21] daleharvey opened #36 "Deletion does not cancel or wait for background processing"
I commented out all but 2 of the basic tests for PouchDB, 'create a pouch' and 'delete a pouch'

If I introduce a timeout then all is good, but run sequentially straight after each other they fail, it looks like the problem is the __createIndex 'background process' still runs after the database is deleted. I can definitely see calls to __createIndex after the deleteDatabase code has started runnin

[2012-12-11 01:28] daleharvey commented on #36
I expect that fixing this by cancelling the queue or adding a new transaction manager will be crazy hard, what about if was waited for the objectStore creation to finish before calling the onsuccess of openDatabase

[2012-12-11 03:45] daleharvey commented on #36
So I looked a bit more into this, each operation in the upgradeneeded request is creating a seperate transaction for each request, quite why I havent figured out (the createIndex requests have to wait for the createobjectstore request to complete, so not surprised they are seperate, but seems like the createObjectStore requests should be a single transaction)

I added a basic refcount so we waited

[2012-12-11 04:11] axemclion commented on #36
This was one of the things I always wanted to fix with the shim. The problem is - delete is a sync operation, and it gets complex when multiple tabs are open, the ref-count mechanism may not work. I was looking at using something like session storage for sharing this info across tabs, but have not got to that yet. I think checking for ref-count and using the flag is a good idea - that is what the

[2012-12-11 13:10] daleharvey commented on #36
lol, when I used the facebook shim (with your patch) I get the same problem as I do when I added the refcount stuff in your shim (first 2 tests run fine, 'add a doc' stalls), this is going to be fun :)

[2013-01-16 12:12] Cordemans opened #38 "Supporting cursor direction / ORDER BY DESC"
Hi there,

First of all, thanks for this amazing project.
And tell me if you need more information or clarification about this issue (first time at github).

One thing I have noticed is that the cursor direction is not supported. If I set "prev" as the direction, the ORDER BY is not set to DESC.

For example:
[...] index.openCursor(null,'prev') [...]

A "simple" solution would be to check the me.d

[2013-01-18 10:57] ctoph3r opened #40 "keyPath: "idIndexedDB", autoIncrement:true , idIndexedDB is undefined?"
the structure of my objectStore is as following:
var objectStore = thisDb.createObjectStore("test0001", { keyPath: "idIndexedDB", autoIncrement:true });

objectStore.createIndex("idIndexedDB", "idIndexedDB", { unique: true });

objectStore.createIndex("id", "id", { unique: true });

objectStore.createIndex("name", "name", { unique: false });

i have input two records:
1) id: 20001, name: test1
2)

[2013-01-28 04:42] mvayngrib opened #44 "transaction.oncomplete called once per created store / index, instead of once after all created"
When upgrading the db and creating N object stores and M indexes, in the onupgradeneeded callback, e.target.transaction.oncomplete is called N + M times, instead of once at the end of the transaction.

[2013-03-11 07:44] micahnz opened #53 "IDBDatabase.createObjectStore does not fire oncomplete"
oncomplete is not fired on the transaction after the store is created.

added result.transaction.oncomplete(); as a hack for the time being after success(result)

[2013-03-11 08:41] micahnz commented on #53
Actually a better alternative was to just add me.oncomplete where there is a comment to implement oncomplete

....

// TODO - Call transaction oncomplete
me.oncomplete()

.....

This gave me the functionality I needed to integrate with my existing code.

[2013-03-25 01:28] nogece opened #54 "compound keys"
Let me first of all state that this project is a great! I'd love to contribute, yet, before, I know enough to do that, I can only contribute by bug reports:

A rather small but existing issue : the spec and most browsers (chrome/moz, IE10 not yet) allow compound keys:
http://stackoverflow.com/questions/14283257/indexeddb-compound-key-ie10
IndexedDBShim doesn't.

[2013-03-26 13:36] mvayngrib opened #56 "uniqueness not respected for indexes"
I have an index with settings {multiEntry: false, unique: true}  on the __uri column of one of my object stores.

When I add an object to the store that has the same __uri property value as an object already in the store, I don't get an error and end up with two (and eventually more) entries in the store with the same __uri value.

[2013-05-30 08:54] Toneti777 opened #59 "Blob objects aren't saved well"
I try to save a blob object (image convert to blob) into a webSQL database using the IndexedDB Polyfill on Chrome...

I think that the blob object is been stored like a normal object (JSON String)...this is the log I receive..

SQL for adding INSERT INTO  'imgBGEjemplaresComprados' ( key, value ) VALUES ( ?, ?)
Array[2]
0: "2-http://programaquiosco.renr.es:8080/datosQuiosco/ejemplares/www.lanueva.

[2013-06-05 08:11] Toneti777 commented on #59
Any comments??

[2013-06-08 00:53] patjackson52 opened #62 "Incorrect results when opening cursor IDBKeyRange with negative numbers"
Appears to be a bug when opening a cursor with a IDBKeyRange that contains negative numbers when using WebSQL.  I am attempting a geospatial query by using lat/ long indexes.  This works fine under indexeddb in Chrome, but when I run in safari I only get results for lat(which is all positive with my data).  The longitude range query returns 0 results.  Partial code below:

[code]

[2013-06-08 09:02] axemclion commented on #62
Thnx for the bug report, will look into it.

[2013-07-04 09:19] bugwelle opened #67 "autoIncrement not working - PhoneGap - Android 4.0"
Hello,
first: thanks a lot for this awesome script :+1:

But I have a problem: I use `IndexedDBShim` with `db.js` but it seems that `autoIncrement` does not work,...

the schema for db.js looks like this:

[code]

Whenever I add something to `settings`, `id` is undefined. In Chrome, `id` is defined... :/

My configuration:
- Android 4.0
- newest `db.js` and `IndexedDBShim`
- PhoneGap 2.9

Before I

[2013-07-17 00:39] ebryn opened #70 "Issue with promises: "A request was placed against a transaction which is currently not active, or which is finished.""
I'm working on a library to wrap IndexedDB with a promise-aware API: https://github.com/ebryn/EasyIndexedDB. I am running into an issue with IndexedDBShim transactions giving me the error: "A request was placed against a transaction which is currently not active, or which is finished." You can see this issue here: http://erikbryn.com/bugs-reports/IndexedDBShim/EasyIndexedDB/test/index.html

From m

[2013-07-18 02:03] alanmshelly commented on #40
I'm seeing the same problem on both Safari and the Android browser.
When I look at the request result I see a key value returned but it's not inserted properly in the websql db.

[2013-07-18 19:00] axemclion commented on #70
@ebryn I had to do the setTimeout trick coz of the way transactions were specified - some transactions like versionChange, where I create an objectStore is async - I did not want the transaction to finish before the next request is placed there - hence the queue mechanism.

This has been a source of a lot of inconsistancies, and I plan to rewrite that piece soon.

[2013-07-18 19:09] ebryn commented on #70
How soon? This is something I would like to have a solution for in the next week. I'd be happy to help with the rewrite.

[2013-07-22 19:23] ebryn commented on #70
Ping

[2013-07-22 22:02] axemclion commented on #70
@ebryn Sorry for not getting back - was at phonegap day last weekend. Will look at it today, and tell you how much time I can spend. We could see if we can also break up the work and spend some time.

[2013-07-22 23:57] doonmcgill commented on #59
To verify this, use an sqlite browser (I use the sqlite addon in firefox) to look inside the websql database (the db file - in Ubuntu - is at ~/.config/google-chrome/Default/databases/file_0 and in my system is simply called "1"). You can see what is actually stored...

[2013-08-23 21:43] JesseEdwardThompson opened #75 "What is the best way to search the local data set using the adapter?"
I am building an application for customer service account management. The way in which I use IndexedDB is to fetch and maintain local account metadata to expedite searching and browsing about three thousand such accounts. I want to support Safari if possible, and have used the adapter successfully as a patch. However, my search algorithm is terrifically slow when the adapter kicks in. I have confi

[2013-08-27 04:06] axemclion commented on #75
Unfortunately, the way that indexes are created here are pretty inefficient for the sake of following the specification. The indexes sort of do twice the lookup. What does your search algorithm do ?

[2013-08-27 05:29] JesseEdwardThompson commented on #75
Simplifying somewhat, I set up a cursor on each index and then loop through the values and use a regular expression to strip out everything except alphanumeric and then look for the query as a substring.

[code]

Would you suggest that I setup a cursor on the objectStore itself and avoid indexes then? Or take some other approach?

[2013-09-01 07:06] mcfarljw opened #76 "Jquery-IndexedDb example not loading data on stock Android browser"
I'm going to narrow down on this issue a bit. I'm running the following example on my mobile devices (2.3.6, 4.1.2, 4.2.2) using the **stock Android browser**:

http://nparashuram.com/jquery-indexeddb/example/

The website structure is loading, but the data isn't loading. I'm also not seeing any errors as to why this might be happening. Can anyone else confirm that the data isn't loading when usin

[2013-09-03 08:13] mcfarljw commented on #76
Here is an image showing the url and outcome:

![2013-09-03 16 11 56](https://f.cloud.github.com/assets/4167341/1071212/af99cc4e-1470-11e3-9626-3e2a265e08ca.png)

[2013-09-12 04:43] mvayngrib commented on #16
Maybe you can store a multivalue value like ["a", "b", "c", "d"] as ",a,b,c,d," and then when querying for "b" for example, use

[code]

[2013-09-13 14:00] axemclion commented on #16
@mvayngrib That is actually a good idea. I can always store them as JSON.stringify([key1, key2, complexObjectKey3]) - that should helpfully work.

[2013-10-03 06:40] blackmambahk opened #83 "Many __sysdb__ objects being created in Web SQL"
Hi there,
We are currently using the minified shim in a project.

I am developing on Chrome 29 which I think means in theory the shim should do nothing, however when I check the Resources Tab in Chrome Tools I am getting a lot of Web SQL databases created  each with an empty table "**sysdb**", as I write this there are 9 of them.

Nothing else is there and all our own tables are correctly under In

[2013-10-04 19:46] taras commented on #70
@axemclion I would like to use EasyIndexedDB which relies on your IndexedDBShim for browser compatibility. Any idea when you'd have a chance to address this issue?

[2013-10-06 02:57] axemclion commented on #70
@taras Sorry for the delay. I have been really busy on this other project - http://github.com/axemclion/grunt-telementry. I was hoping that mobile browsers soon start supporting this with their new releases, but looks like that aint happening. Also, a lot of people have asked for this, so I should start working on this soon .

[2013-10-06 03:07] taras commented on #70
@axemclion I know how hard it can be to switch from one project to another, especially when the other project is not as immediately relevant to what you're doing at the moment. I appreciate the effort that you put into the library and hope you'll find time to continue with it. It would be great to get this sorted out then we can use IndexedDB across all browsers.

What are the changes that you'd b

[2013-11-13 00:06] hx commented on #83
+1

[2013-11-13 00:27] axemclion commented on #83
Can you send a pull request for this. If IndexedDB is detected, we can stop the shim altogether.

[2013-11-21 16:09] LeoM-Oto opened #88 "Not working in my Chrome for iOS 7.0"
Hi,

I have a working app using IndexedDB but it only works in my Desktop Chrome. So, I came here for this polyfill... The problem is that I add this line: <script type="text/javascript" src="IndexedDBShim.min.js"> </script>, but it does not work in my Chrome for iOS 7.0...

I am getting this error: "Database error: undefined". (it happens when I try to open the DB)

Am I missing something? I thou

[2013-12-03 13:49] ghost commented on #76
I have the same issue when using `objectStore.index(...).openCursor(IDBKeyRange.only(...))`, `e.target.result` is simply `undefined`. Not sure what causes this. Have you found a solution yet?

[2013-12-03 15:30] mcfarljw commented on #76
I haven't had too much time to mess around with it. What I did is just tell my customers to use mobile Chrome of Firefox for the time being.

[2013-12-12 07:49] garth opened #92 "Global "use strict" can break other libs when concatinated"
Consider wrapping the build output with

[code]

[2013-12-20 07:32] neerajjoshi opened #95 "update cart data"
Hello Sir,

I am using the example from the below link

http://nparashuram.com/jquery-indexeddb/example/  for indexed db . It is working fine and a grate plugin

I need help in cart section add to cart and delete cart is working fine but I want to change the value of data in cart like change name from "Music players" to dummy using the auto increment id of cart table but it is not working it add d

[2013-12-30 13:07] ghost opened #101 "PouchDB Example"
On your example page please mention that PouchDB no longer requires this shim on Android since PouchDB now uses webSQL if the database name includes the webSQL adapter in the name like this: 'websql://[my db]'.

[2014-01-15 05:54] studyro opened #105 "Compound queries on IDBIndex not supported."
IDB supports create index on multiple properties and do compound query on it. The code below demonstrates it.

[code]

[code]

It seems in IDBCursor.prototype.__find method of IndexedDBShim, the SQL statement isn't correctly converted when I tried to do compound queries.

[2014-01-30 10:36] DickvdBrink opened #108 "autoincrement keys not in cursor.value"
When using chrome indexedDB objectstores with a autoincrement keypath show up in cursor.value<keypathname>
When using the shim they aren't there.

A workaround I use now is to use the cursor.key for now.

[2014-02-04 12:50] torto commented on #67
happens to me too, any solutions?

[2014-02-07 18:26] torto commented on #67
My solution:

I'm using the lib and added db.js on line 345 db.js the following code, but it is static and generates an id, which for my situation resolves.

[code]

[2014-02-14 17:33] baroquedub opened #111 "Database failing to initialise or ObjectStores not being created (Android 4.2.2 and 4.1.2) using PhoneGap Build"
I'm trying the code example at http://blog.nparashuram.com/2012/10/indexeddb-example-on-cordova-phonegap.html

Works fine using PhoneGap Build (2.9.0) running on both a Nexus 5 and Nexus 7 (both Android 4.4.2) However on my other two devices Acer A1-810 (android 4.2.2) and Galaxy S2 (android 4.1.2) the data doesn't appear in the HTML tables. I'm unsure whether the database is failing to initialise

[2014-02-15 18:37] DickvdBrink commented on #111
Are you sure it works with phonegap 2.9? Because I think you are hitting this bug (which is fixed in 3.2)
https://github.com/apache/cordova-android/commit/6e4ef508e8f9f2d396515bd1d7465481d2f1285c

Or are you using a SQLite plugin or something with phonegap 2.9? That is what I used back in the days to make it work.

[2014-02-16 23:04] baroquedub commented on #111
Definitely using 2.9.0 - that's what I've defined in my config.xml and that's what appears on the Adobe PhoneGap Build site - in fact it's recommending that I should upgrade to 3.1.0. And yes, that demo code (and other apps I've built using the same code) all work for me but only on Android. 4.4.2.

Thanks for the tip. Following your advice and link to the bug, I've tried building using 3.3.0 but

[2014-02-21 15:37] DickvdBrink commented on #67
@tortoyoyo, thanks for the solution.
I now know it is the same as this issue #108. Hope I have some time to work on it soon! :)

[2014-02-21 15:40] DickvdBrink commented on #40
Thanks for the issue, it is the same as #108.
Hope to fix it in the future, thanks!

[2014-02-26 08:59] elmerbulthuis opened #113 "do not attempt to assign read-only properties"
in strict mode, ie will not allow you to set read-only properties, so this:

window.IDBTransaction.READ_WRITE = window.IDBTransaction.READ_ONLY || "readonly";

will throw an error!

[2014-02-26 09:05] elmerbulthuis opened #114 "Bower(!)"
Would be great if IndexedDbShim could be loaded via bower!

[2014-03-22 22:42] andygup opened #115 "Unable to exceed 5MBs on Safari desktop 7.0.2"
Is this repo being maintained?? I see months old issues that have gone unanswered.

In regards to my error, I get the prompt from Safari to allow 10 additional megabytes and then almost immediately get an "undefined" error back.

[2014-03-24 18:40] axemclion commented on #115
@DickvdBrink has been wonderful and responding to pull requests.

The problem with additional quota on safari could be due to a recent quota bug.

[2014-03-24 22:25] andygup commented on #115
@axemclion thank you for the quick response. This could be a show-stopper level bug for us since Safari users represents a significant and important part of our total user base.

@DickvdBrink is this a bug you are already planning to look into? Do you have any additional thoughts or guidance on where in the library this problem may be occurring? Or, is this a bug within the Safari browser, itself?

[2014-03-25 00:03] axemclion commented on #115
@andygup Do you have a sample that can repro this scenario? I am not sure if we can really help it if this is a Safari bug.

[2014-03-25 05:46] andygup commented on #115
@axemclion Yes, you can clone the following repo. Run index.html then select the "Get Tiles" button on the top right of the app. It will download more than enough data to trigger the initial approve-extra-storage message: [https://github.com/andygup/appcache-test-js/tree/no_manifest](https://github.com/andygup/appcache-test-js/tree/no_manifest)

[2014-03-25 08:38] DickvdBrink commented on #115
I hope I have some time to look into it maybe tonight :)
I haven't noticed this issue yet because I'm using cordova (phonegap) for my projects which doesn't have this limit.

Btw: you might want to update the library because you are missing commit: https://github.com/axemclion/IndexedDBShim/commit/f4179989337e9609e21a21a1e22334c50aab07da#diff-5ed5058b24e9f5f1400c8ef330fd540cR109 so the cursor.upda

[2014-03-25 22:43] DickvdBrink commented on #115
I could not reproduce the issue on Chrome (I forced it to use the shim) so I need some more time :(
I do not own a Mac so I couldn't test Safari, but maybe I can do some test on my iPad tomorrow

[2014-03-26 21:03] andygup commented on #115
@DickvdBrink thanks for heads up on the missing commit. I'll give that a try.

[2014-03-26 21:56] andygup commented on #115
I locally tested with the latest version including cursor.update commit. No go. Still fails after 5MBs.

[2014-03-27 22:22] andygup commented on #115
@DickvdBrink At [IndexedDBShim.js#L1467](https://github.com/axemclion/IndexedDBShim/blob/master/dist/IndexedDBShim.js#L1467) I was able to hard code a new DEFAULT_DB_SIZE to one that's more appropriate for the size of our data and was able to bypass the bug (for now).  Credits go to https://github.com/odoe

I used:

`var DEFAULT_DB_SIZE = 25 * 1024 * 1024;`

[2014-03-27 22:25] axemclion commented on #115
@andygup Can you send this in as a pull request? Btw, does this size have any problems on other databases? Of not, could we use this as the default?

[2014-03-27 22:34] andygup commented on #115
@axemclion I only tested this using Safari on a Mac and an iPad so I'm not sure about other databases. So far, I have only run into the problem on Safari.

I propose I can add a note in the README for now rather than hard code change in IndexedDBShim.js. Does this sounds okay to you to just change the README and do a pull request?

I believe there needs to be more research to find out if this is a

[2014-03-27 23:07] andygup commented on #115
I have submitted Bug 16450805 to Apple. I'll post back when/if I get an update.

[2014-03-28 07:44] DickvdBrink commented on #115
Thanks andygup for the info. Changing this default results in a popup asking if you want to increase the storage on startup right?
btw: I was able to reproduce the error on iPad. But in my case it asks it on calling window.openDatabase. This call fails, because I already have another database which is causing go over the 5MB.

[2014-03-28 16:22] andygup commented on #115
@DickvdBrink No, changing the default creates a workflow where the user will never see the add-more-storage popup. The reason for this is the only time the error shows up is immediately after you accept the message to allocate more storage space. So bypassing that popup for now seems like the best approach.

Note, using the modification I mentioned above, I was successfully able to open a database

[2014-04-02 15:03] gitawego opened #117 "2nd param of createIndex doesn't support "sequence<DOMString>""
I've tried to create an index with multiple keys:

[code]

but it doesn't work, i've noticed that this shim supports only simple keyPath. do you have any plan to add this support ?

see [W3C Spec](http://www.w3.org/TR/IndexedDB/#widl-IDBObjectStore-createIndex-IDBIndex-DOMString-name-DOMString-sequence-DOMString--keyPath-IDBIndexParameters-optionalParameters)

thanks a lot

[2014-04-02 21:52] DickvdBrink commented on #113
Thanks for the PR, hope to test it tomorrow! Thanks!

[2014-04-03 09:50] DickvdBrink commented on #117
It is definitely something we are missing in the shim which should be fixed.
That being said, it is not something that I plan to add in the near future (just being honest here).
It might be kinda simple the implement for the IDBKeyRange.only stuff, but when using it in combination with IDBKeyRange.lowerBound I think it might be difficult to do it right.

[2014-04-03 09:55] gitawego commented on #117
that would be cool even only for IDBKeyRange.only, 'cause I'm actually using this feature for my project, it can dramatically reduce the cursor loop times...

[2014-04-03 18:45] andygup opened #118 "add() does not correctly report errors on Safari"
add() incorrect reports success when there is an error. I noticed this while testing for duplicates.

The error is correctly reported by __insertData() here https://github.com/axemclion/IndexedDBShim/blob/master/dist/IndexedDBShim.js#L1073

However, add() incorrectly reports success here https://github.com/axemclion/IndexedDBShim/blob/master/dist/IndexedDBShim.js#L1087

[2014-04-08 20:50] jaridmargolin commented on #114
It can be loaded via bower using the following:

**SSH**

[code]

**HTTPS**

[code]

Unfortunately, this will always pull the latest from master. It would be great to have better integration. As `IndexedDBShim` is already using semver, it should be as easy as tagging the current version and pushing to Github.

[code]

[2014-04-28 23:31] jorgemanrubia opened #122 "Inline keys and autoincrement not working"
Hi,

I am experiencing [this issue](http://stackoverflow.com/questions/19378381/indexeddb-with-inline-keys-polyfill-to-web-sql-how-to-get-key-to-allow-update).

When using inline keys with autoincrement, the generated key is not stored with the data. When you read them from the database, there is no reference to its original key, so you can't make updates.

This problem doesn't happen with the [fa

[2014-04-29 17:54] DickvdBrink commented on #122
You are right, it is an issue. There is a workaround though (if I understand the issue correctly).
I believe the cursor.primaryKey property works correctly so it is still possible to update.

Note: You are right, this definitely needs to be fixed.

[2014-05-01 22:15] IntranetFactory commented on #122
I'd run into the same issue today. I changed the .add logic to include the autogenerated key into the record:

[code]

[2014-05-02 08:45] JamesKyburz opened #123 "transaction onerror called with no arguments safari issue"
I noticed an issue when running tests with level-js github.com/maxogden/level.js

If the user is requested to accept more space the transaction fails to commit the write.

Both

https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBTransaction.js#L102
https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBTransaction.js#L106

call me.onerror()

This is propagated to the node style c

[2014-05-05 23:21] jorgemanrubia commented on #122
Thanks a lot @IntranetFactory. Why not submitting that patch as a PR? Would that be ok @DickvdBrink?

[2014-05-06 06:48] DickvdBrink commented on #122
Yeah I think so, I can't really see the difference with the above patch but  I will definitely take a look at it when submitted as a PR!

[2014-05-06 08:56] IntranetFactory commented on #122
The patch stores the auto generated key value inline in the records in the property defined by keyPath. I'm sorry, but I've no idea how to make a PR.

[2014-05-07 19:01] jorgemanrubia commented on #122
Hi @IntranetFactory,

I am having some problems interpreting the diff code too. Creating a Pull Request is very easy:
- Visit the repo https://github.com/axemclion/IndexedDBShim and press the fork button at the top bar:

![image](https://cloud.githubusercontent.com/assets/129938/2907165/55f3a7f8-d619-11e3-8262-04dd56abc3d0.png)
- You will be redirected to your own fork of the repo, which will be s

[2014-05-08 16:56] grassick opened #127 "Race condition on index creation"
Creating an index is synchronous in IndexedDb but is not in the shim. This means that attempting to use the index immediately after creation may cause strange SQL errors. The readystate of `createIndex` is set but never used. Also, if multiple createIndex calls are made in a row, the behavior would be undefined.

[2014-05-14 00:50] MichaelJCole opened #128 "Run tests on IE10/IE11 to see compatibility"
Hi,

I'm looking for a DB solution that is cross-browser.  IndexedDBShim sounds great!  The only problem is there is some subset of IndexedDB that is supported by Chrome/FF/Safari(w/shim)/IE.

What is that subset?  If the IndexedDBShim tests ran on IE, then I could just code to (IndexedDBShim) subtract (test failures on IE).

It's a weird request, but do you see how useful it would be for end user

[2014-05-31 06:13] cdaringe opened #132 "add(obj) returns original object with additional 'undefined' property"
The value in {undefined: value} appears to be the # objects in the store.  Observed in Safari 7.0.
![screen shot 2014-05-30 at 11 09 46 pm](https://cloud.githubusercontent.com/assets/1003261/3138402/50051fe2-e88a-11e3-8cb9-1c2526b1db43.png)

[2014-05-31 17:21] cdaringe commented on #132
Someone else had a similar issue: http://stackoverflow.com/questions/20629010/safari-shows-indexed-column-undefined-on-indexeddb-polyfill-how-to-retrieve-dat

[2014-06-13 14:46] SergiDiaz commented on #59
I've just found this bug in my code, anybody has a solution? Facebook indexedDB polyfill doesn't work, neither.

[2014-06-18 12:12] rbriank opened #136 "deleteIndex quietly failing"
When I add a deleteIndex to my migrations the index is not deleted and later migrations are not run.  No error is reported or console message is logged.  The dbVersion is set to the version of the last migration, even though it hasn't been run - e.g. deleteIndex is called in migration 15 of 18 and dbVersion is set to 18 even though 16, 17 and 18 have not run.

[2014-06-18 12:22] rbriank commented on #136
Setting a breakpoint and calling the deleteIndex via console yields:

[code]

[2014-06-18 12:23] rbriank commented on #136
The failure causes it to jump to the end of the block and next() is never called.

[2014-06-18 12:26] rbriank commented on #136
[code]

After migrations for 15-18 should not run, and after migration success should not be called either.

[2014-06-18 12:31] rbriank commented on #136
idbModules.IDBIndex doesn't have __deleteIndex method.

[2014-06-19 20:32] venca163 opened #137 "Not working on Android 4.1.2"
Hello,

I am testing IndexedDB and I came across your wonderful project for adding support to devices, which does not support it natively. Unfortunately I am not able to get callback "onsuccess" when I run index.get(). I am using Cordova and Anroid 4.1.2 device.

code example:

[code]

I am getting the onerror callback with error "DOMError", defined somewhere around line 1340 in IndexedDBShim.js.

[2014-06-25 14:50] rbriank opened #141 "Migrations are running out of order OSX 10.9.3 Safari 7.0.4"
When migrations are run, they aren't running sequentially.  If I add indexes for the same object in different migrations, depending on the order, later migrations overwrite earlier ones and vice versa.  I don't get the complete set of indices.

I haven't been able to figure out where the problem is happening.  I suspect an event is not being triggered correctly.

[2014-07-28 12:34] icodeforlove commented on #67
@tortoyoyo your solution fixes the ID issue, you should submit a pull request. This seems like a pretty basic use-case.

[2014-07-30 09:16] marianoguerra commented on #127
@grassick hi, I have the same problem, can you try this branch? https://github.com/marianoguerra/IndexedDBShim/tree/fix-race-condition-index-creation

[2014-07-30 13:50] grassick commented on #127
I've actually moved on to write full implementations of my code for websql and Indexeddb as I had too many issues. Sorry!

[2014-07-30 13:52] axemclion commented on #127
@grassick, @marianoguerra I have seen this issue to, have always wanted to fix it but not able to. @marianoguerra, you did send a pull request for this fix, right ?

[2014-07-30 15:12] marianoguerra commented on #127
@axemclion here is the clean pull request https://github.com/axemclion/IndexedDBShim/pull/153

[2014-07-30 18:20] poconnell7 opened #154 "IDBKeyRange upperBound ignores open flag and always excludes the end point."
The fix appears to be as simple as replacing the commented out line below as shown:
    IDBKeyRange.lowerBound = function(value, open){
        return new IDBKeyRange(value, undefined, open, undefined);
    };
    //IDBKeyRange.upperBound = function(value){
    IDBKeyRange.upperBound = function (value, open) {
        return new IDBKeyRange(undefined, value, undefined, open);
    };
    IDBKeyRang

[2014-08-09 11:25] matthew-andrews opened #155 "Polyfill creates websql __sysdb__ on Chrome (which has good support for IndexedDB)"
Test case here:-
http://jsbin.com/gubiwe/1
[Code http://jsbin.com/gubiwe/1/edit]

![screen shot 2014-08-09 at 12 17 52](https://cloud.githubusercontent.com/assets/825088/3865975/edee53ae-1fb7-11e4-9357-b53c0e42a0f1.png)

[2014-08-26 17:41] axemclion opened #160 "Add more contributors to project"
Looks like a lot of people are using this code, and it may help to get more admins on this projects so that the pull requests are accepted fast.

@DickvdBrink, what do you think ?

[2014-09-03 04:11] ls-jamie-hill opened #161 "shim does not work in iOS8 UIWebView"
I have just tested using this shim in a UIWebView in iOS8 and it does not work. It works fine in iOS7 UIWebView. And while Safari iOS8 actually has indexedDB support now it seems the UIWebView still doesn't. It still supports WebSQL so the shim should still theoretically work as it did in iOS7 but it doesn't. window.indexedDB returns null.

[2014-09-03 13:13] DickvdBrink commented on #160
I agree, I was really busy lately so didn't respond to the PR's. So if anyone wants to help, that would be nice!

[2014-09-03 21:56] jmeistrich commented on #161
I just hit this problem myself. It looks like in the UIWebView, window.indexedDB is a readonly property set to null. I think like the solution is to use WKWebView instead of UIWebView on iOS 8.

[2014-09-04 00:05] ls-jamie-hill commented on #161
OK. Is that something that you've tested as a working solution?

[2014-09-04 00:42] axemclion commented on #160
Tagging people.

@mattjacobsen @jamiejhill @jmeistrich - You have been active and helping folks on the project. Would be great if you can also become admins to this project.

[2014-09-04 07:55] jmeistrich commented on #161
WKWebView has full indexedDB support so it won't need the shim. We have not yet switched to using WKWebView so we're currently working around the problem in UIWebView by having the shim and our fork of db.js work with an object named '_indexedDB' since 'indexedDB' is readonly. That's not a great general purpose workaround though. I'd love to know if anyone finds a better solution.

[2014-09-04 08:02] ls-jamie-hill commented on #161
OK, makes sense. I haven't delved into it further, but if that's the case you should be able to determine whether to use UIWebView or WKWebView on the fly based on the iOS version (since you need iOS8 for WKWebView), assuming the interface is the same.

[2014-09-04 11:06] mattjacobsen commented on #160
sure, I'd love to help out!

[2014-09-04 14:18] axemclion commented on #160
@mattjacobsen Awesome, thanks a lot .I will add you to the list of admins.

[2014-09-18 02:38] ls-jamie-hill commented on #161
@jmeistrich how'd you go with your workaround? it seems the readonly indexedDB affects latest Safari too.

[2014-09-18 10:59] DickvdBrink commented on #161
I did look at this problem yesterday and couln't find a solution.
What I did for now is using shimIndexedDB.open directly instead of indexedDB.open
I know, not a real solution but the problem is a bit harder than I thought it would be.

[2014-09-18 15:38] kir commented on #161
Could not be this related to non-working setTimeout after lock/wake up:
http://www.openradar.me/radar?id=5895945212395520 ?
Just a thought.

On 18 September 2014 12:59, Dick van den Brink notifications@github.com
wrote:

##

Kirill (KIR) Maximov
Software Engineer & Starter

Twitter:       http://twitter.com/maxkir
Google+      http://gplus.to/maxkir
Skype:        maxkir
http://kirblog.idetalk.com

[2014-09-19 01:09] ls-jamie-hill opened #167 "shim does not work in iOS8 Safari or Chrome"
Since the release of iOS8, the shim has stopped working in both Safari and Chrome (and UIWebView which Chrome essentially runs under).

In Safari at least, this seems to be due to the addition of window.indexedDB and the fact that it is readonly. However, I've hit other issues with using indexedDB on Safari iOS8 so would be happy to use this shim to continue to talk to webSQL which is still suppor

[2014-09-22 10:30] l33z3r commented on #167
This is a big issue for me also, can anybody shed some light on a fix?

[2014-09-22 11:23] ls-jamie-hill commented on #167
So I managed to put together a fix for this, or at least a workaround, which is to use the shim rather than trying to get indexedDB itself to work on iOS8 as it doesn't seem to be compatible with any libraries I've tried.

Because window.indexedDB is read-only, I instead assign the various vars for the shim to window._indexedDB, window._IDBDatabase, etc - that is, everything inside of the __useShi

[2014-09-22 13:04] l33z3r commented on #167
Oh, yes, I understand the problem now.

Your workaround is perfect.

Thanks for sharing the solution!

[2014-09-23 16:08] pixel9 commented on #167
FYI, be careful when using the shim in this way since other indexedDB related features like `window.IDBKeyRange` ARE implemented. You'll need to make sure all indexedDB related calls are using the shim or none at all.

[2014-09-23 18:31] nolanlawson commented on #161
I filed an issue on WebKit: https://bugs.webkit.org/show_bug.cgi?id=137034

[2014-09-23 19:03] jmeistrich commented on #161
@jamiejhill The workaround is working out fine. We're using db.js on top of IndexedDB and set it to use _indexedDB instead of window.indexedDB.

[2014-09-23 19:42] nolanlawson commented on #161
Sure, but existing apps that just use `window.indexedDB` will be broken...

In any case, Apple [confirmed the issue](https://twitter.com/xeenon/status/514492457099476992)! So hopefully it'll get fixed soon. :tada:

[2014-09-30 15:27] trevorbest commented on #161
This is working for me:
            if (window.indexedDB) {
                console.log('Opening Native IndexedDB');
                openRequest = window.indexedDB.open(app.dbName,app.dbVersion);
            }
            else {
                console.log('Opening IndexedDB Shimm');
                openRequest = window.shimIndexedDB.open(app.dbName,app.dbVersion);
            }
I did have some is

[2014-10-06 20:46] kberryman commented on #161
Shouldn't Safari in general be added to the poorIndexedDbSupport group due the current bug in the Mac and iOS 8 versions that make it unusable?

http://www.raymondcamden.com/2014/9/25/IndexedDB-on-iOS-8--Broken-Bad

[2014-11-05 18:28] miqmago commented on #167
I have the same problem. I've seen that window.indexedDB is 'null' in ios8 so its not "undefined" and then it fails the condition at line 1723:

[code]

Replaced by:

[code]

But getting error:

[Error] TypeError: Attempted to assign to readonly property.
    __useShim (IndexedDBShim.js, line 1687)
    (funció anònima) (IndexedDBShim.js, line 1724)
    global code (IndexedDBShim.js, line 1741)

[2014-11-05 21:18] miqmago commented on #167
@jamiejhill solution works perfectly. I've replaced all indexedDB by _indexedDB in IndexedDBShim.js and also replaced window.indexedDB by window._indexedDB in db.js.

Thanks!

[2014-11-07 15:31] kingIZZZY commented on #117
Just adding my +1 "Me too!" to this request
Not sure why I bothered posting this issue on the Microsoft Cordova plugin (which BTW doesn't seem to credit back to this project?...) https://github.com/MSOpenTech/cordova-plugin-indexedDB/issues/2

[2014-11-07 15:34] DickvdBrink commented on #117
axemclion , the creator of this project is a Microsoft Employee working for MSOpenTech so this project wouldn't have existed without him

[2014-11-07 15:40] kingIZZZY commented on #105
Duplicate of https://github.com/axemclion/IndexedDBShim/issues/117 ?

[2014-11-07 16:08] studyro commented on #105
Exactly.

发自我的 iPhone

[2014-11-07 16:26] axemclion commented on #117
Thanks @DickvdBrink. @kingIZZZY Sorry for being quiet on this project, have been swamped with other things. I own the other project too, but just not have had time to fix it. If we are able to fix this issue, I can update that project too :)

[2014-11-07 17:00] kingIZZZY commented on #117
Any chance I can catch you on IRC or such so we can quickly discuss a WebSql data model / strategy for implementing this?

Thanks in advance

[2014-11-08 16:18] axemclion commented on #117
Can we discuss it here? I think there is merit in discussing in the open. Else, we could get on IRC with the other collaborators of the project to talk about this.

[2014-11-10 00:37] kingIZZZY commented on #117
Oh well I went ahead and hacked something up, not sure if it's any good... How does this work now, are you (axemclion or other maintainers) going to review the code to make sure it makes any sense? I'm new to GitHub and this is in fact my very first contribution/pull request ever :smile:

Also - how do I obtain the built dist/ files from this contribution?

[2014-11-11 17:21] limefrogyank commented on #167
this fix works very well, thanks!  For typescript users, you also need to add:

[code]

to a typings file (usually lib.d.ts)

[2014-11-17 19:42] forresto opened #169 "Also shim Safari 7.1"
Safari implemented a broken [IndexedDB in 7.1](http://caniuse.com/#feat=indexeddb). Would it be possible to force the shim in 7.1 as well as 8 #167?

The shim works in Safari <=7.0 :+1:

Should add Safari 7.1 and 8 to the saucelabs test.

[2014-11-17 23:55] forresto commented on #169
This commit makes the shim work for Safari 7.1 and 8.0+: https://github.com/noflo/noflo-indexeddb/commit/89079ad7a57f92397b42456908ee56a8fa36b4b6

It isn't 100% compatible, because this library shims more than we use, and does it by setting window.indexedDB, which you can't do in the Safari releases with broken indexedDB. So I'm using

[code]

[2014-11-17 23:57] forresto commented on #169
I can make a proper pull request if there is interest, but it isn't really a shim if you have to check for `overrideIndexedDB`.

[2014-11-18 03:12] forresto commented on #169
Safari tracking for the bug: https://bugs.webkit.org/show_bug.cgi?id=136888#c5
More info: http://pouchdb.com/2014/09/22/3.0.6.html

[2014-12-01 09:47] unclexiao commented on #161
It's a headache for me,I don't know how to fixed it

[2014-12-01 13:04] nolanlawson commented on #161
In PouchDB, we swallowed our pride and just [checked for "Safari" in the user agent](https://github.com/pouchdb/pouchdb/blob/145fe4303ac0705e5b89784d8c79a1a0878dffc3/lib/adapters/idb.js#L1416-L1421). LocalForage and YDN-DB followed suit; you may want to do the same thing. :(

[2014-12-01 18:26] axemclion commented on #161
Well, I would say lets do it, and check for Safari agent :cry:

[2014-12-12 07:09] unclexiao commented on #161
I had resolved this problem now,but thanks all the same.

if (!window.indexedDB) {
    window.indexedDB = window.shimIndexedDB;
}

2014-12-02 2:26 GMT+08:00 Parashuram N notifications@github.com:

[2014-12-16 18:09] Burstaholic commented on #54
We just spent a great deal of time tracing down this problem when trying to use this shim with compound indexes. This is an important feature for many use cases, please consider investigating a fix.

[2014-12-16 19:23] axemclion commented on #54
Implementing Compound keys is a little hard and requires re-doing the way keys are currently done in the project. For now, I just lazily implemented keys as indexes. With compound keys, you would ned to explode the indexes, and do something more. Will look at it when I have time. It would be great if someone else could send a pull request :)

[2014-12-16 20:58] Morgul commented on #54
In investigating this issue, I managed to figure out how to get compound keys to store properly, and I pushed my changes to a fork:

https://github.com/Morgul/IndexedDBShim/commit/8ec47afc1346abde85c98bc7cbf9f10042fb7759#diff-a6eef872c115879cee276e9fe31786e4R1134

This isn't complete by any means (it appears to store correctly, but I suspect there's more work on the retrieving side that would need

[2014-12-23 09:46] vitalets commented on #3
+1

[2014-12-23 13:06] XOlegator commented on #122
I updated IndexedDBShim.min.js and db.js to the latest version as of December 23, 2014. But still get the error with keys in my Phonegap app at Android emulator (in desktop browser Firefox 34 there is no such problem). Example:
Shema:
"settings": {
  "key": {
    "keyPath": "id",
    "autoIncrement": true
  },
  "indexes": {
    "units": {
      "unique": true
    },
    "language": {
      "uniqu

[2014-12-29 01:40] mohan-evolent commented on #167
could you guys publish the fix step by step? that would really help for our project

[2015-01-13 15:18] schmod commented on #114
There's now a `bower.json`, but the versions aren't being kept up to date...

[2015-01-15 19:15] axemclion commented on #114
Should we publish to bower using travis ?

[2015-01-26 23:46] do-web opened #172 "Filter on Index gets no result"
var singleKeyRange = IDBKeyRange.only(groupId);

[code]

The GroupIndex has multiEntry option:
objStore.createIndex('groupIndex', 'groupId', {multiEntry: true});

[2015-02-03 20:13] gracezlive opened #174 "When primary key value is 0 with auto increment set to false, an error is thrown: Data Error - Could not eval key from keyPath"
The fix is as simple as replacing the commented line with the line below. Initial testing passed.

var primaryKey = eval("value['" + props.keyPath + "']");
//if (!primaryKey) {
if (typeof primaryKey === 'undefined') {
    if (props.autoInc === "true") { getNextAutoIncKey(); }
    else { idbModules.util.throwDOMException(0, "Data Error - Could not eval key from keyPath"); }
}

[2015-02-03 20:17] gracezlive commented on #167
jamiehill's solution worked like a charm. :) Thanks!

[2015-02-04 03:06] axemclion commented on #174
@gracezlive Can you please send in a pull request, I could accept it right away.

[2015-02-08 21:06] CaryLorrk commented on #16
Is there any schedule for multiEntry support?

[2015-02-22 16:42] morkeleb commented on #161
I tried to add Safari to the poorBrowsers list.

Turns out that at least in the ios simulator, the window.indexedDB is read only. Which means it throws a TypeError when trying to assign the shim to it.

I caught the TypeError and instead hoped that the code further down in useShim that does a rewrite of the window.indexedDB property would work to use the shim. Alas, it didn't.

So the shim cannot

[2015-03-06 17:09] JamesMessinger commented on #160
Hi, @axemclion,
I have [a fork](https://github.com/BigstickCarpet/IndexedDBShim) where I've been adding new unit tests and fixing lots of bugs.  My focus is on ensuring consistent behavior between the IndexedDBShim and the native IndexedDB implementations in browsers that support it - especially on mobile.

It's going to be a **lot** of changes, but everything is fully unit tested and I'm running

[2015-03-06 18:32] axemclion commented on #160
@BigstickCarpet Thanks a lot for offering to help. I have added you as a colloborator, so I think we should be able to get your changes over here much faster.

[2015-03-06 22:42] JamesMessinger commented on #160
Awesome!  Thanks!  I'll start migrating stuff over on Monday.  Have a great weekend!

[2015-03-06 22:47] DickvdBrink commented on #160
Nice @BigstickCarpet !

[2015-03-06 23:18] axemclion commented on #160
:+1:

[2015-03-09 19:34] JamesMessinger commented on #160
Testing, testing, testing...
![optimized-multiplatform testing](https://cloud.githubusercontent.com/assets/3453903/6562702/3a97c9e4-c669-11e4-9511-b24811d8b5f3.jpg)

[2015-03-09 20:13] axemclion commented on #160
@BigstickCarpet WOW - I was thinking if we could replicate this on something like Saucelabs - I believe that there is a lot of value to run ALL these tests for every commit.

[2015-03-09 20:33] JamesMessinger commented on #160
Yeah, agreed.  I see that SauceLabs is already being used as part of the Travis-CI build script, but it's only being run on Safari and Opera.  It would be good to add a few more browsers/platforms/devices to that list.  I don't know about the cost though.  Are you currently paying for SauceLabs out of your own pocket? Or is there a free tier?

**Proposal:**  Would you mind if I switched to [Karma]

[2015-03-09 21:52] DickvdBrink commented on #160
Wow that looks nice!

[2015-03-10 19:52] DickvdBrink commented on #160
For the record, I think It is fine to switch to karma. If it doesn't workout the way we want we can always go back but I think it will work great for our needs!
SauceLabs has free accounts but I'm not sure about what we can do with a free account.

[2015-03-10 23:49] axemclion commented on #160
The account on this is using a free account. I know the good folks at Saucelabs and if we need more capacity, we could ask them.

@BigstickCarpet Is there a reason you would like to move over to Karma? If we are planning to run it on
Saucelabs, saucelabs-qunit should work. Are you looking at Karma as it also launches local browsers?

If we only need to spin up local browsers, we could use somethin

[2015-03-11 14:57] JamesMessinger commented on #160
hehe... good to know you have the hook-up at SauceLabs.  ;)

My main reason for suggesting Karma is so we can more easily test on multiple browsers/devices locally as we're developing, rather than having to check-in the code and see how it behaves on SauceLabs.  It would also let us use the same test-runner for both local development and CI.

As you pointed out, there are tons of other options bes

[2015-03-11 15:02] JamesMessinger commented on #160
Also, on a related note...  I created [a new project](https://github.com/BigstickCarpet/cordova-test-app) yesterday to test mobile devices inside a Cordova container, since Cordova apps do _not_ have access to the same HTML 5 APIs as the device's built-in web browser.   For example, Safari on iOS 8 supports IndexedDB, but Cordova apps running on iOS 8 _don't_ support IndexedDB.

![screenshot](http

[2015-03-14 17:27] mydea commented on #118
Has there been an update on this? I'm noticing this issue as well. When I try to add an existing entry via objectStore.add(...), transaction.oncomplete is called instead of transaction.onerror.

I'm having this issue when using IndexedDBShim inside of PhantomJS.

[2015-03-17 08:39] metteo commented on #174
Issue #142 already has a fix for this.

[2015-03-23 20:24] JamesMessinger opened #178 "Get all unit tests passing"
@axemclion @DickvdBrink - As we [discussed a couple weeks ago](https://github.com/axemclion/IndexedDBShim/issues/160#issuecomment-78279577), I've added [a bunch of new unit tests](http://nparashuram.com/IndexedDBShim/tests/) (221 of them!) to the project.  These tests are in a separate directory from the [QUnit tests](http://nparashuram.com/IndexedDBShim/test/) and are **not** run as part of the C

[2015-03-25 22:22] JamesMessinger commented on #178
Updated stats as of [today's commits](https://github.com/axemclion/IndexedDBShim/commits/master):

| Browser | Platform | Passing tests |
| :-- | :-- | :-- |
| Safari 5 | Windows | 76 tests pass |
| Mobile Safari | iOS 7 | 53 tests pass |
| Android Browser | Android 4.2 | 78 tests pass |
| Cordova App | iOS 8 | 78 tests pass |
| Cordova App | Android 4.2 | 78 tests pass |
| Cordova App | Windows P

[2015-03-27 22:58] JamesMessinger commented on #178
Updated stats as of [today's commits](https://github.com/axemclion/IndexedDBShim/commits/master):

| Browser | Platform | Passing tests |
| :-- | :-- | :-- |
| Safari 5 | Windows | 95 tests pass |
| Mobile Safari | iOS 7 | 95 tests pass |
| Android Browser | Android 4.2 | 95 tests pass |
| Cordova App | iOS 8 | 133 tests pass |
| Cordova App | Android 4.2 | 95 tests pass |
| Cordova App | Windows

[2015-03-28 00:51] axemclion commented on #178
@BigstickCarpet Thanks for the awesome work !!

[2015-03-29 01:50] DickvdBrink commented on #178
Wow, I really like this! Thanks for the awesome work!

[2015-03-30 14:45] DibranMulder commented on #178
@BigstickCarpet Correct me if i'm wrong but Windows Phone 8.1 doesn't have IndexedDb or WebSQL support for files that are loaded from the local file system, am I right? So how can it be that 93 tests are passing? Are you using a SQLite database? And if so, is it on github?

Thanks for the great work, keep it up :)

[2015-03-30 16:24] JamesMessinger commented on #178
@Nimrodxx - IE Mobile on Windows Phone 8.1 natively supports IndexedDB.  But in a Cordova app, it requires the [IndexedDB plugin](http://plugins.cordova.io/#/package/com.msopentech.indexeddb), which uses IndexedDBShim (this project) and the [WebSQL plugin](http://plugins.cordova.io/#/package/com.msopentech.websql) internally

[2015-03-30 19:55] DibranMulder commented on #178
@BigstickCarpet Yeah, I already thought you would came up with that solution. However as pointed out in the [issues](https://github.com/MSOpenTech/cordova-plugin-websql/issues) of the WebSQL plugin. It performs very bad and it is completely sync where the IndexedDb and WebSQL interfaces are async. So that leaves a difference in the interface and most important the user experience.

But wait, @Dick

[2015-03-31 23:43] DickvdBrink commented on #178
@BigstickCarpet, if I recall correctly the WebSQL plug-in returns true\false (or 1\0 cant really remember) while a string was expected for storeProps.

The code I'm talking about is:
https://github.com/axemclion/IndexedDBShim/blob/be681b1d61101bcf08a4c6ac4bf0d466d94f0e1c/src/IDBObjectStore.js#L109

Causing this code to fail: https://github.com/axemclion/IndexedDBShim/blob/be681b1d61101bcf08a4c6ac4

[2015-04-01 22:08] kberryman opened #180 "Race Condition caused by __addToTransactionQueue"
If you are adding sql statements to a queue out side of the actually transaction this causes a race condition.  The WebSQL transaction automatically closes once it does not have any other statements execute.  This functionality is described here: http://dev.w3.org/html5/webdatabase/#executing-sql-statements in statement 1.  It says

Since the __addToTransactionQueue is determining when to run each

[2015-04-02 19:43] JamesMessinger commented on #180
Can you provide some sample code to illustrate the issue?  I want to make sure I understand the exact problem.   Are you using the latest code?  We've been making **lots** of changes and bug-fixes lately, and we have [unit tests for back-to-back database upgrades](https://github.com/axemclion/IndexedDBShim/blob/master/tests/IDBFactory/open-spec.js#L191).

[2015-04-02 23:41] JamesMessinger commented on #178
@DickvdBrink & @Nimrodxx - Thank you guys for helping knock out a few bugs, especially with the WebSQL plug-in, which I am not very familiar with.   I just discovered a new issue with the WebSQL plug-in today.  It's not throwing errors when primary key constraints are violated.  Sounds like [this bug](https://code.google.com/p/csharp-sqlite/issues/detail?id=130), except that bug was supposedly fix

[2015-04-03 14:01] DibranMulder commented on #178
@BigstickCarpet how do you run your test on Windows Phone 8.1? Because your test app (https://github.com/BigstickCarpet/cordova-test-app) opens the default browser on our device and all tests pass in that browser.

[2015-04-03 15:04] jeanpaulnet opened #181 "Does not work in IE 11 - Compatibility Mode 9"
Test (http://nparashuram.com/IndexedDBShim/test/index.html) is failing in IE 9 (in compatibility mode >  F12 > Choose mode).

IE 9 does not have IndexedDb, but only WebSQL! The shim is supposed to switch back to WebSQL and support offline database.  But it is throwing error.

[2015-04-03 15:59] JamesMessinger commented on #181
Unless I'm mistaken IE has never supported WebSQL (see [caniuse.com](http://caniuse.com/#search=websql)).   You can verify this yourself using `console.log(typeof window.openDatabase)`.   In any version of IE, this statement returns `undefined`.   In browsers that support WebSQL, this statement returns `function`.

[2015-04-03 15:59] #181 closed, assigned to nobody

[2015-04-03 16:32] axemclion commented on #181
@BigstickCarpet  I can confirm that IE did not support WebSQL - I was a PM doing some initial IndexedDB work for IE.

[2015-04-03 16:34] axemclion commented on #160
Should we close this issue  - we have awesome contributors - @DickvdBrink and @BigstickCarpet

[2015-04-03 16:34] #160 closed, assigned to nobody

[2015-04-03 16:43] DickvdBrink commented on #160
Agreed, and really a big thank you to @BigstickCarpet for the great work lately! :+1: :)

[2015-04-03 17:04] JamesMessinger commented on #160
Thanks guys.  In case you can't tell, I'm pretty excited to be on the project.  :)

[2015-04-03 17:08] JamesMessinger commented on #178
@Nimrodxx - Yeah, unfortunately Windows Phone 8.1 doesn't allow remote code execution inside a Cordova app, so my [Cordova Test App](https://github.com/BigstickCarpet/cordova-test-app) only really works for iOS and Android.   To test on Windows Phone 8.1, I just created a Cordova app, added the [WebSQL plugin](http://plugins.cordova.io/#/package/com.msopentech.websql), and then copied the [tests d

[2015-04-03 22:05] kberryman commented on #180
@BigstickCarpet I forked the repo ( https://github.com/kberryman/IndexedDBShim/tree/testSafariMultiUpgrades ) and added a test to the test/index.html file.  I also had to modified the test index file to check for Safari 7.14 by user agent and use the shim.  If you run with the tests under the "FailingTest" tag the multiple updates test will fail with a Dom Exception 11: Invalid State.  I also incl

[2015-04-07 18:40] jeanpaulnet commented on #181
Thanks.

[2015-04-07 18:44] jeanpaulnet opened #182 "Problems with WorxWeb 10.0"
We are using IndexedDBShim on WorxWeb 10.0 browser in IOS.

The WorxWeb does not supports IndexedDb as it is using UIWebView instead of Safari-WKWebView.
But, WorxWeb supports WebSQL.

The problem is, the shim is not supporting WebSQL too.

We are calling window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;

and it is returning false!

Any sol

[2015-04-07 19:13] JamesMessinger commented on #182
This is due to a bug in WebKit (see [here](https://bugs.webkit.org/show_bug.cgi?id=137034)).  The `window.indexedDB` variable is read-only, so we can't shim it.   Until WebKit fixes the bug, there are two possible workarounds that you can use:
1. Use `window.shimIndexedDB` instead of `window.indexedDB`
   We _always_ add this property to the window object, even if the browser natively supports Ind

[2015-04-07 19:13] #182 closed, assigned to nobody

[2015-04-07 19:17] JamesMessinger commented on #167
Closing this issue, since it's actually a [WebKit bug](https://bugs.webkit.org/show_bug.cgi?id=137034).  The `window.indexedDB` variable is read-only, so we can't shim it.   Until WebKit fixes the bug, there are two possible workarounds that you can use:
1. Use `window.shimIndexedDB` instead of `window.indexedDB`
   We _always_ add this property to the window object, even if the browser natively s

[2015-04-07 19:17] #167 closed, assigned to nobody

[2015-04-07 19:18] JamesMessinger commented on #161
Closing this issue, since it's actually a [WebKit bug](https://bugs.webkit.org/show_bug.cgi?id=137034).  The `window.indexedDB` variable is read-only, so we can't shim it.   Until WebKit fixes the bug, there are two possible workarounds that you can use:
1. Use `window.shimIndexedDB` instead of `window.indexedDB`
   We _always_ add this property to the window object, even if the browser natively s

[2015-04-07 19:18] #161 closed, assigned to nobody

[2015-04-07 19:20] JamesMessinger commented on #169
Yes, you can force the shim to override the native IndexedDB implementation by calling `window.shimIndexedDB.__useShim()`.   However, due to a [WebKit bug](https://bugs.webkit.org/show_bug.cgi?id=137034), the `window.indexedDB` variable is read-only, so we can't shim it.   Until WebKit fixes the bug, there are two possible workarounds that you can use:
1. Use `window.shimIndexedDB` instead of `win

[2015-04-07 19:20] #169 closed, assigned to nobody

[2015-04-07 20:10] jeanpaulnet commented on #182
Thanks a lot BigstickCarpet, the second option worked for us.

[2015-04-07 21:36] JamesMessinger commented on #178
Here are the new numbers, as of [today's commits](https://github.com/axemclion/IndexedDBShim/commits/master):

| Browser | Platform | Passing tests |
| :-- | :-- | :-- |
| Safari 5 | Windows | 146 tests pass |
| Mobile Safari | iOS 7 | 121 tests pass |
| Android Browser | Android 4.2 | 213 tests pass |
| Cordova App | iOS 8 | 214 tests pass |
| Cordova App | Android 4.2 | 213 tests pass |
| Cordov

[2015-04-07 21:48] JamesMessinger commented on #180
Ok, should be fixed now.  Get the latest version and give it a try.

[2015-04-07 21:48] #180 closed, assigned to nobody

[2015-04-14 20:40] JamesMessinger commented on #178
## DONE!!!

All [269 Mocha unit tests](http://nparashuram.com/IndexedDBShim/tests/index.html) and [30 QUnit tests](http://nparashuram.com/IndexedDBShim/test/index.html) are now passing on every desktop and mobile platform that I have available to test:

![optimized-screenshots](https://cloud.githubusercontent.com/assets/3453903/7146195/60116ad0-e2b7-11e4-9c28-28e13fe76a71.gif)

There are some cave

[2015-04-14 20:40] #178 closed, assigned to nobody

[2015-04-14 21:07] DickvdBrink commented on #178
Wow this is really nice!!
I created a async WebSql plugin at my work for Windows Phone. Need to speak with my employer about this :)
Not sure if the exception bug is there because I'm using the native SQLite library instead of the managed C# one!

Again a big thank you! :)

[2015-04-14 21:10] JamesMessinger commented on #178
Hopefully they'll let you publish it.  Open-source only works when it goes both ways.  I wish more companies understood that.

[2015-04-14 21:39] JamesMessinger commented on #174
I believe this is fixed now.   Please give it a try with the latest version.  Thanks!

[2015-04-14 21:39] #174 closed, assigned to nobody

[2015-04-14 21:41] JamesMessinger commented on #172
Good news!  The latest version of IndexedDBShim now supports multi-entry indexes.  Give it a try and let us know what you think.   Thanks!

[2015-04-14 21:41] #172 closed, assigned to nobody

[2015-04-14 21:49] JamesMessinger commented on #155
Sorry, but I don't understand what this issue is about.  Can you clarify, please?

[2015-04-14 21:50] JamesMessinger commented on #141
This issue has been fixed.   Please give it a try with the latest version.  Thanks!

[2015-04-14 21:50] #141 closed, assigned to nobody

[2015-04-14 21:53] JamesMessinger commented on #137
This issue should be fixed now.   I don't have an Android 4.1.2 device available to verify, but I've verified that it now works on Android 4.2, so it _should_ work on 4.1.2 as well.   Can you please give it a try and let me know?  Thanks.

[2015-04-14 21:53] #137 closed, assigned to nobody

[2015-04-14 21:55] JamesMessinger commented on #132
This issue has been fixed.   Please give it a try with the latest version.  Thanks!

[2015-04-14 21:55] #132 closed, assigned to nobody

[2015-04-14 22:05] JamesMessinger commented on #128
We have a [ton of new unit tests](http://nparashuram.com/IndexedDBShim/tests/index.html) that you can run against any desktop or mobile browser.   We've [verified that it works](https://github.com/axemclion/IndexedDBShim/issues/178#issuecomment-93052746) on several different browsers and devices.

[2015-04-14 22:05] #128 closed, assigned to nobody

[2015-04-14 22:08] JamesMessinger commented on #127
This issue has been fixed in the latest version.   There's no longer a race condition when creating indexes or object stores and then immediately adding data to them.

[2015-04-14 22:08] #127 closed, assigned to nobody

[2015-04-14 22:11] JamesMessinger commented on #122
This issue has been fixed in the latest version.   Give it a try and let us know if you find any other issues.  Thanks!

[2015-04-14 22:11] #122 closed, assigned to nobody

[2015-04-14 22:12] JamesMessinger commented on #118
the `add()` method has been fixed in the latest version.   Give it a try and let us know if you find any problems.  Thanks!

[2015-04-14 22:12] #118 closed, assigned to nobody

[2015-04-14 22:14] JamesMessinger commented on #117
Good news!  IndexedDBShim now supports compound keys on object stores and indexes.   Give it a try and let us know if you find any problems.  Thanks!

[2015-04-14 22:14] #117 closed, assigned to nobody

[2015-04-14 22:17] JamesMessinger commented on #114
You can install via Bower like this:

[code]

Please give it a try and let us know if there are any problems.   Thanks!

[2015-04-14 22:17] #114 closed, assigned to nobody

[2015-04-14 22:19] JamesMessinger commented on #113
This has been fixed in the latest version.  All of the shimming code is wrapped in `try...catch` blocks, and we fallback to `object.defineProperty` when a property is read-only.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:19] #113 closed, assigned to nobody

[2015-04-14 22:21] JamesMessinger commented on #111
This should be fixed now.  I've [verified that it works in Android 4.2, 4.4, and 5.0](https://github.com/axemclion/IndexedDBShim/issues/178#issuecomment-93052746), but I don't have an Android 4.1 device available to test.    Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:21] #111 closed, assigned to nobody

[2015-04-14 22:22] JamesMessinger commented on #105
Good news! IndexedDBShim now supports compound keys on object stores and indexes. Give it a try and let us know if you find any problems. Thanks!

[2015-04-14 22:22] #105 closed, assigned to nobody

[2015-04-14 22:23] JamesMessinger commented on #95
The `put()` and `add()` methods have been fixed in the latest version.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:23] #95 closed, assigned to nobody

[2015-04-14 22:26] JamesMessinger commented on #88
Can you please try this again with the latest version?  We've fixed a bunch of bugs and have [verified that it's working](https://github.com/axemclion/IndexedDBShim/issues/178#issuecomment-93052746) on several different browsers and devices.

[2015-04-14 22:26] #88 closed, assigned to nobody

[2015-04-14 22:36] JamesMessinger commented on #70
This issue has been fixed in the latest version.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:36] #70 closed, assigned to nobody

[2015-04-14 22:38] JamesMessinger commented on #59
Can you please try this again with the latest version of IndexedDBShim?  We've [fixed a ton of bugs](https://github.com/axemclion/IndexedDBShim/issues/178#issuecomment-93052746) lately, including many involving how data is serialized and deserialized.

[2015-04-14 22:38] #59 closed, assigned to nobody

[2015-04-14 22:40] JamesMessinger commented on #54
Good news!  The latest version of IndexedDBShim now supports compound keys on object stores and indexes.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:40] #54 closed, assigned to nobody

[2015-04-14 22:40] JamesMessinger commented on #53
This issue has been fixed in the latest version.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:40] #53 closed, assigned to nobody

[2015-04-14 22:41] JamesMessinger commented on #44
This issue has been fixed in the latest version.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:41] #44 closed, assigned to nobody

[2015-04-14 22:45] JamesMessinger commented on #36
Can you please try this again with the latest version of IndexedDBShim?  We've [fixed a ton of bugs](https://github.com/axemclion/IndexedDBShim/issues/178#issuecomment-93052746) recently, including many intricate timing bugs like this one.

[2015-04-14 22:45] #36 closed, assigned to nobody

[2015-04-14 22:46] #31 closed, assigned to nobody

[2015-04-14 22:48] JamesMessinger commented on #29
This issue has been fixed in the latest version.  Our parameter validation logic now matches native IndexedDB implementations in browsers.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:48] #29 closed, assigned to nobody

[2015-04-14 22:51] JamesMessinger commented on #16
Good news!   IndexedDBShim now supports multi-entry indexes.   Give it a try with the latest version and let us know if you find any problems.  Thanks!

[2015-04-14 22:51] #16 closed, assigned to axemclion

[2015-04-14 22:52] JamesMessinger commented on #9
This issue has been fixed in the latest version.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-14 22:52] #9 closed, assigned to nobody

[2015-04-14 22:54] JamesMessinger commented on #7
Can you please try this again with the latest version of IndexedDBShim?   We've made a bunch of changes recently to make the shim behave the same as native IndexedDB implementations, so this behavior should be better now.

[2015-04-14 22:54] #7 closed, assigned to nobody

[2015-04-14 22:56] JamesMessinger commented on #6
We've done a lot of work lately to make sure the IndexedDBShim behaves the same as native IndexedDB implementations - including our error-handling logic.   All of our errors now have a `name` property that matches native implementations.  You can use this property to handle different errors in different ways.

[2015-04-14 22:56] #6 closed, assigned to axemclion

[2015-04-14 22:58] JamesMessinger commented on #3
This issue has been fixed in the latest version.   `IDBTransaction.abort()` is now supported.

[2015-04-14 22:58] #3 closed, assigned to axemclion

[2015-04-14 23:01] JamesMessinger commented on #1
This is fixed now.   I've added a [bunch of tests](https://github.com/axemclion/IndexedDBShim/blob/master/tests/IDBFactory/cmp-spec.js#L45) to verify that our key encoding matches native IndexedDB implementations.

[2015-04-14 23:01] #1 closed, assigned to axemclion

[2015-04-15 13:26] XOlegator commented on #122
Now the problem is gone (application is work). But the object in emulator (Android) was to look like this: [{"units":"Metric","language":"English","id":0,"undefined":0}] instead of [{"units":"Metric","language":"English","id":0}]

[2015-04-15 16:37] JamesMessinger commented on #122
Just to clarify... are you saying that `"undefined": 0` is still being added to your saved data, even with the latest version of IndexedDBShim?  If so, then can you post some sample code so I can reproduce the problem?

[2015-04-16 01:25] JamesMessinger commented on #136
The `deleteIndex()` method is fixed now.   Please give it a try and let us know if there are any problems.  Thanks!

[2015-04-16 01:25] #136 closed, assigned to nobody

[2015-04-16 01:27] JamesMessinger commented on #4
This is fixed now.  (as of v1.0.3)

The column can't actually be deleted, because WebSql doesn't support `DROP COLUMN`.  So instead, we just add a `__deleted` flag to the index, and we ignore any indexes with that flag.  If another index is added later with the same name, then the existing column is used and the `__deleted` flag is set to `false`.

[2015-04-16 01:27] #4 closed, assigned to axemclion

[2015-04-16 06:26] JamesMessinger commented on #92
This is fixed now.  Thanks for the suggestion.

[2015-04-16 06:26] #92 closed, assigned to nobody

[2015-04-16 06:43] DibranMulder commented on #178
@BigstickCarpet @DickvdBrink Just received the green light to opensource our async WebSQL plugin. We are planning to release it asap. I'll keep you posted.

[2015-04-16 06:50] JamesMessinger commented on #178
:+1: That's great news!  We will almost certainly end up using it at my company, since we target Windows Phone as our primary platform.

Will you be publishing it as a separate WebSql plugin?  Or are you planning to submit a PR and get your fixes merged into the MSOpenTech plugin?

[2015-04-16 06:53] DibranMulder commented on #178
Well I think that a separate WebSql plugin is the way to go, since we have changed almost every line of code. But I will have to discuss that with @DickvdBrink

[2015-04-16 22:07] JamesMessinger commented on #154
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:07] #154 closed, assigned to nobody

[2015-04-16 22:08] JamesMessinger commented on #108
This is fixed now (as of version 1.0.5).

[2015-04-16 22:08] #108 closed, assigned to nobody

[2015-04-16 22:08] JamesMessinger commented on #67
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:08] #67 closed, assigned to nobody

[2015-04-16 22:08] JamesMessinger commented on #40
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:08] #40 closed, assigned to nobody

[2015-04-16 22:09] JamesMessinger commented on #62
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:09] #62 closed, assigned to axemclion

[2015-04-16 22:09] JamesMessinger commented on #38
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:09] #38 closed, assigned to nobody

[2015-04-16 22:13] JamesMessinger commented on #17
This should be fixed now (as of version 1.0.5).  Please give it a try and let us know if you find any problems.  Thanks!

[2015-04-16 22:13] #17 closed, assigned to nobody

[2015-04-17 09:43] vitalets commented on #3
thank you!

[2015-04-17 12:31] DibranMulder commented on #178
@BigstickCarpet Hey we just released the [WebSQL plugin](https://github.com/Thinkwise/cordova-plugin-websql). We didn't have time to test it with the new version of the shim but we will pick it up soon.

[2015-04-17 16:22] JamesMessinger commented on #178
Badass!  Looking at it right now.   Might have it integrated into my company's mobile apps by the end of the day.   Thanks for contributing it!

[2015-04-17 16:26] kir commented on #178
This is totally awesome to see this issue fixed. Really great job, thank you very much.

[2015-04-17 17:20] DickvdBrink commented on #178
I'm not sure if the plugin works right now because I remember making some changes in the shim to make it work. We might need to incorporate them in this shim. But it is a start :)

[2015-04-17 18:09] JamesMessinger commented on #178
Yep.  Working on that now.   It'll require some changes to the shim and to your plug-in.   I'll submit a PR

[2015-04-17 18:27] axemclion commented on #178
@Nimrodxx Have you guys published the plugin on npm ? Note that Cordova plugins are moving to NPM.

[2015-04-17 21:06] DickvdBrink commented on #178
@axemclion no we haven't because we need to do some more testing and check what additional changes are required on the shim (we have a slightly modified version). After more testing/documentation it will be published on npm with the required keywords :) I'm on the cordova-list so I know about the changes for npm.

**edit** noticed the fork with the package.json! Nice :)

[2015-04-20 02:52] JamesMessinger commented on #155
This is fixed now (as of version 1.0.7).  Thanks for report it!

[2015-04-20 02:52] #155 closed, assigned to nobody

[2015-04-20 02:53] JamesMessinger commented on #83
This is fixed now (as of version 1.0.7).  Thanks for reporting it!

[2015-04-20 02:53] #83 closed, assigned to nobody

[2015-04-20 02:58] JamesMessinger commented on #155
This also fixes https://github.com/axemclion/IndexedDBShim/issues/83

[2015-04-20 02:59] JamesMessinger commented on #83
This also fixes https://github.com/axemclion/IndexedDBShim/issues/155

[2015-04-20 12:19] XOlegator commented on #122
I made some experiments and found that the problem occurs not always. For example this code (it is initialization of app) return additional "undefined" after "id":

[code]

Output is: "[{"units":"metric","language":"english","id":1,"undefined":1}]"

[2015-04-20 12:31] JamesMessinger commented on #122
Can you post a code sample using the raw IndexedDB api instead of IDBWrapper?  That'll make it much easier to figure out what's causing the problem.

[2015-04-23 08:29] AbuSufyan opened #192 "IndexedDB not working on chrome after applying IndexedDBShim"
Hi,
We are using indexedDB for data storage, its working fine on all compatible browsers, than we find IndexedDBShim and I click on Live Demo with following URL
http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=True
when it is completed i run the application, its strange my IndexedDB not return any object, than i revert back to native browser by using following URL
http://nparashuram.c

[2015-04-23 11:00] JamesMessinger commented on #192
Thanks for submitting this bug report, but I'm not sure I understand what the problem is.   Are you saying that once you've browsed to a page that uses the shim (such as http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true), any other page you browse to after that is unable to use IndexedDB?

Here's a test:
1. Browse to [this page](http://run.plnkr.co/plunks/6NaDSpuy2aFrehhZv0NY/) to

[2015-04-23 11:25] AbuSufyan commented on #192
Thanks for your quick response, yes after browsed above page i was unable to use IndexedDB.

[2015-04-23 11:29] JamesMessinger commented on #192
What version of Chrome are you using?  And on what operating system?   I've tried it using Chrome 42 on Mac and Windows, and it works for me.

I suspect that you're doing something different than I am, since it's not possible for a script to modify the DOM in such a way that it affects subsequent pages.   As soon as the browser navigates to a new page, the DOM is completely re-created, which means

[2015-04-23 11:36] AbuSufyan commented on #192
My chrome version is 42.0.2311.90, operating system windows 7 professional. Can you first visit http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=True
When it is 100 % complete, try to open indexedDB objects, than revert back to native browser
http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=False
and again try to access objects. This is my complete steps that i was done,

[2015-04-23 11:42] JamesMessinger commented on #192
What do you mean by "When it is 100% complete, try to open indexedDB objects"?   Do you mean "When it is 100% complete, try to go to a page that opens indexedDB objects"?   Because that's what [this page](http://run.plnkr.co/plunks/6NaDSpuy2aFrehhZv0NY/) does

[2015-04-23 11:48] AbuSufyan commented on #192
I mean when testing is complete 100%, its take time for completion with some failures when it is complete than read data from indexedDB, from this stage i was not retrieved data from indexedDB than i was revert back but still i was not get saved data.

[2015-04-23 12:45] venca163 commented on #137
Hi, I've tested the same example on Android 4.1.2 today with new `indexeddbshim.js` and it's working fine. Great, thanks =).

[2015-04-23 14:00] XOlegator commented on #122
I made some new experiments with new indexeddbshim.js and it's working fine. Thanks!

[2015-04-23 15:58] JamesMessinger commented on #122
Awesome!  Great to hear.

[2015-04-23 15:58] JamesMessinger commented on #137
:+1: Great to hear!  Thanks for testing it out

[2015-04-23 16:09] JamesMessinger commented on #192
I'm still not sure I understand the problem.   There is no "revert back" functionality, and there's no need for you to browse to http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true or http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=false in your code.  That's not how polyfills work.   Here's the way things should work:
1. You add the polyfill to your page via a `<scrip

[2015-04-24 10:23] AbuSufyan commented on #192
Thank you so much, I solved my problem, and now IndexedDB is working fine on chrome.

[2015-04-27 23:21] #192 closed, assigned to nobody

[2015-05-10 10:47] bvahdat opened #198 "11 Tests failing on Windows 8.1"
Hi

I'm trying to get IndexedDBShim working inside a App on Windows 8.1 (Apache Cordova 5.0.0). After running the [tests](https://github.com/axemclion/IndexedDBShim/tree/master/tests) on Windows (using a dummy app created on Windows 8.1 as described [here](https://cordova.apache.org/docs/en/5.0.0/guide_cli_index.md.html#The%20Command-Line%20Interface)) I noticed that among others the IDBIndex rela

[2015-05-10 13:55] JamesMessinger commented on #198
Are you using a Cordova plug-in, or are you using IndexedDBShim directly?   If you're using a Cordova plug-in, then which one?  There are two: [cordova-plugin-indexeddb](https://github.com/MSOpenTech/cordova-plugin-indexedDB) and [cordova-plugin-indexeddb-async](https://github.com/ABB-Austin/cordova-plugin-indexeddb-async)

Also, are you certain that you're actually running on Windows 8.1 and not

[2015-05-10 14:30] JamesMessinger commented on #198
I just released version 2.0.2 of `IndexedDBShim` and `cordova-plugin-indexeddb-async`.  Those first 11 unit tests have been fixed to work on Windows 8.0.   I've tested and verified that now all unit tests pass on all four of the following combinations:
- Windows 8.0 with the `cordova-plugin-indexeddb` plugin :+1:
- Windows 8.1 with the `cordova-plugin-indexeddb` plugin :+1:
- Windows 8.0 with the

[2015-05-10 15:53] bvahdat commented on #198
Wow thanks for the quick turn around, now all tests are passing on Windows 8.1 WebView (both when using native MS indexedDB Impl as well as the IndexedDBShim itself), awesome! BTW I was aware of the step with Visual Studio upgrade.

One last question before you close this ticket.

I was/am using [cordova-plugin-indexeddb-async](https://github.com/ABB-Austin/cordova-plugin-indexeddb-async) and not

[2015-05-10 19:09] JamesMessinger commented on #198
If your only target is Windows 8.1, then you don't actually need any of the Cordova plugins, and you may not need IndexedDBShim at all.

The main reason to use the Cordova plugins is that they work across multiple platforms.  On some platforms (like Windows Phone), they do a _lot_ of polyfilling.  On other platforms (like Windows 8.0 and 8.1), they don't do anything at all.   So, if you're only ta

[2015-05-11 09:10] bvahdat commented on #198
Don't really get it yet! AFAIK [WebSql](http://caniuse.com/#search=websql) is supported neither through IE 11 nor Windows 8.1 WebView, right? So if I want to _force_ making use of IndexedDBShim in my App through the `shimIndexedDB.__useShim()` API how does IndexedDBShim is expected to work on IE 11 or Windows 8.1?

Also what it says [here](http://nparashuram.com/IndexedDBShim/) confuses me a bit:

[2015-05-11 10:45] DickvdBrink commented on #198
Windows 8.1 app in cordova doesnt support IndexedDb from local urls and doesn't support WebSql either.
If you install [cordova-plugin-indexeddb-async](https://github.com/ABB-Austin/cordova-plugin-indexeddb-async) it uses https://github.com/Thinkwise/cordova-plugin-websql to enable WebSql so the shim can work.

If you target it as a website for Windows 8.1 you don't need to use the shim because Ind

[2015-05-11 13:48] hgl opened #199 "Upgrade fails if an index has the name "value""
[code]

This seems to cause all later object store creations to be ignored, and the solely created `ip` store have an empty `{}` for `indexList` column in `__sys__` table.

[2015-05-11 14:47] bvahdat commented on #198
Still more confused than before, so please let me recapitulate:

The App I'm working on runs both on IE 11 as well as Windows 8.1 WebView (Apache Cordova) with whatever native IndexedDB implementation these software come with. Well there’re some issues like [this one](https://github.com/bramski/angular-indexedDB/issues/32) I’m currently running into but in general the App works so far. So don't re

[2015-05-11 15:33] DickvdBrink commented on #198
Ai, My bad I meant Windows Phone on 8.1 doesn't support indexedDB from local urls. Sorry about the confusion.

Correct.

Ah now I understand what you mean, `cordova-plugin-indexeddb-async` also installs `cordova-plugin-websql` for windows phone and does this by modifying the solution (for Windows Phone only) so @BigstickCarpet was correct by saying that for Windows 8.1 you don't need to install th

[2015-05-11 19:48] JamesMessinger commented on #198
@bvahdat - Sorry for all the confusion.  Hopefully I can clear it up.

#### Windows _Phone_ 8.1
- **native**
  Does _not_ support IndexedDB and does _not_ support WebSQL.
- **w/ `IndexedDBShim` (no Cordova plugins)**
  Does _not_ work, since neither IndexedDB nor WebSQL is supported
- **w/ `cordova-plugin-indexeddb`**
  Supports IndexedDB and WebSql automatically.  No need to call `shimIndexedDB._

[2015-05-12 05:22] DickvdBrink commented on #198
To answer the last part:
https://github.com/axemclion/IndexedDBShim/blob/master/src/polyfill.js

Didnt even know we did this lol, it is kinda new I guess but it adds missing stuff to IE.

[2015-05-12 12:36] hgl commented on #199
After some investigation, the problem is that i used `value` for the index name, and it collided with the existing column. Looks like you can't call an index `key` or `value`?

[2015-05-12 15:17] mattjacobsen commented on #199
I had something similar with a store named "user" and an index named
"table". They're reserved keywords for webSQL and it mucks up the
statements IndexedDBShim uses to create things. I was going to submit a
patch for this, but didn't think it would affect enough (if any) users to
make it worthwhile.

Thinking about it, I guess if you wanted to, you could perform sql
injection attacks on IndexedDBS

[2015-05-14 09:01] bvahdat commented on #198
@BigstickCarpet

Given [the full WebSQL support on Chrome compared to IE 11](http://caniuse.com/#search=websql) when I run the [tests](https://github.com/axemclion/IndexedDBShim/blob/master/test/index.html) this's what I'm observing.

## Chrome `42.0.2311.152 m` on Windows 8.1

![shimindexeddb-chrome](https://cloud.githubusercontent.com/assets/3122177/7628709/da1f43ca-fa26-11e4-8f1c-bd1970c429f8.j

[2015-05-14 09:16] bvahdat commented on #198
O.K. I've got the tests running now on IE 11 as well. The reason was because IE refuses to run the tests when reading `index.html` from the local file system. I started a [http server](https://www.npmjs.com/package/http-server) for this purpose:

![http-server](https://cloud.githubusercontent.com/assets/3122177/7629100/47cf8b02-fa2a-11e4-865f-5288b2fc2675.jpg)

And came a bit further with 7 tests

[2015-05-14 13:34] hgl commented on #199
I think you should. :)

Is it still able to be merged? How do you workaround it? I'm not too familiar with web sql, but I wonder if this would work: keep a list of keywords, and whenever store/index name is one of them, prefix it with some constant string.

[2015-05-18 21:32] kingsfleet opened #201 "Problem upgrading from older version of the shim"
I am upgrading from a version of the shim from last year with existing data stores and it fails to start because of the line in IndexDBObjectStore that tries to parse keyPath:

[code]

In my existing stores keyPath is a simple string value, rather than the quoted string this would appear to require. Is there any documentation on the change in format? I am running inside a Cordova app so I have a l

[2015-05-18 21:35] kingsfleet commented on #201
The previous version of the Shim appears to come from around 26th September 2014 if that helps.

[2015-05-23 04:11] emertechie opened #202 "Filtered count for paging not possible"
I need to implement paging over filtered data so I have code that fetches a page of data as well as the total count. Something like:

[code]

That all works fine with native IndexedDB but when I use the shim I get "DataError: Not a valid key" when calling `index.count(queryRange)`.

The issue seems to be that the `IDBIndex.prototype.count` function doesn't support accepting a range even though the

[2015-05-27 14:25] alekseykulikov commented on #202
+1.
I'm also missing support of `IDBKeyRange` in `IDBIndex.prototype.count`.
Temporary hack is to use `index.openCursor()` instead of `index.count()` when range is provided.

[2015-05-27 14:31] alekseykulikov opened #204 "add support for direction="prevunique" when filter by index"
I think solution should be similar to https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBCursor.js#L239 but work not only for multiEntry indexes.

P.S.
Thanks a lot for pushing this library on new level!

[2015-05-27 15:03] JamesMessinger commented on #201
Hi.  Sorry for the delayed response.  I've been on vacation.

We're using [semantic versioning](http://semver.org/), so changes to the major version number are considered breaking and not backward compatible.  Specifically, whenever we make changes to the underlying database schema, we bump the major version number.   So the `0.x` database schema is not compatible with the `1.x` schema or the `2.x

[2015-05-27 15:03] #201 closed, assigned to nobody

[2015-05-27 15:04] JamesMessinger commented on #198
Hi.  I've been away on vacation for a couple weeks, so I'm just now catching up on things.  Is this issue resolved now?  Or is there still a problem?

[2015-05-27 15:23] alekseykulikov opened #205 "Transaction error should propagate to db.onerror callback"
You already call onerror callback on transaction. So solution might be to add:

[code]

to https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBTransaction.js#L109

[2015-05-27 16:18] bvahdat commented on #198
Hi

Yes please see my previous comment about the failing tests on IE 11

[2015-05-27 16:47] JamesMessinger commented on #198
Ah, ok.  Sorry for the confusion.  When you browse to the `/test` folder, you're running the QUnit tests, which don't work on IE.  Those tests were written before IndexedDBShim supported IE.

When you browse to the `/tests` folder (notice the extra "s"), you're running the Mocha tests, which _do_ support IE.

[2015-05-27 20:44] kingsfleet commented on #201
Ah no problem, I am using a version from September 2014 so I guess this is before version 1.x and therefore won’t be compatible with the 1.x series. Still not to worry, it is shame to loose this historic data; but all private so won’t matter.

Would it be worth updating the readme for Cordova, and similar, users to make clear the versioning policy? Cheers and thanks for all your hard work.

[2015-05-29 20:35] bvahdat commented on #198
I see, but maybe a better approach would be to skip those tests if `navigator.userAgent` contains `IE xyz` and whatnot?

Anyway I guess this issue can be closed now. And many thanks for all your support!

[2015-05-30 14:27] JamesMessinger commented on #198
Glad to help.   If I get a chance, I'll add a `userAgent` check to those tests, to prevent future confusion.

[2015-05-30 14:27] #198 closed, assigned to nobody

[2015-05-30 16:26] kir opened #206 "Looks like recent IndexedDBShim doesn't work with db.js"
Due to this, could not upgrade from IndexedDBShim 0.x to 2.0 in my project.
Looks like IndexedDBShim doesn't like passing 'null' instead of undefined as keyRange parameters and such.

Even after that, put(object) without explicit key to a store with keyPath: 'id' didn't work either for me, but it is probably a separate bug.

[2015-05-30 18:33] JamesMessinger commented on #206
The `0.x` version of IndexedDBShim was not consistent with native IndexedDB implementations in browsers, which made for a pretty bad polyfill.  :)   So we've made a **ton** of changes in `1.x` and `2.x` to make IndexedDBShim behave the same as native IndexedDB implementations.  However, there are a few places where different browsers have different behaviors.  In those cases, we implemented the be

[2015-06-05 21:14] kir commented on #206
I've managed to patch db.js so it now works with the new IndexedDBShim.
Thanks for your answer and for writing so many tests :)

[2015-06-05 21:14] #206 closed, assigned to nobody

[2015-06-11 21:39] #32 closed, assigned to nobody

[2015-06-24 13:00] DickvdBrink opened #207 "IDBObjectStore.opencursor with null keyrange"
https://developer.mozilla.org/en-US/docs/Web/API/IDBIndex/openCursor

Currently this is an error, I have a fix ready for this but I need to create a test case for this too.
Creating an issue for it so I don't forget :)

The error is `Not a valid key`

[2015-06-24 15:26] JamesMessinger commented on #207
Hmmm... sounds like this should be caught by one [these](https://github.com/axemclion/IndexedDBShim/blob/28cf794b8a3c097f94497c1ea341dca4cfe81acb/tests/IDBIndex/openCursor-spec.js#L395) [two](https://github.com/axemclion/IndexedDBShim/blob/28cf794b8a3c097f94497c1ea341dca4cfe81acb/tests/IDBIndex/openCursor-spec.js#L442) tests.   Can you look at them and see what's up?  Notice that there is some var

[2015-06-24 16:26] DickvdBrink commented on #207
@BigstickCarpet, ah thanks for the two pointers. The test do test `undefined` but they don't test for `null` and because https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBCursor.js#L15 of this line a IDBKeyRange is created with null which isn't allowed (there is also some additional code later which also checks for `undefined`)

[2015-06-24 20:06] #207 closed, assigned to DickvdBrink

[2015-06-25 08:53] foolip opened #209 "Avoid using DOMError"
`DOMError` is used in a few places in IndexedDBShim. DOMError has been removed from the spec and may be removed from Chrome:
https://code.google.com/p/chromium/issues/detail?id=460725

The only problematic bit of real code I can see is in `createNativeDOMError` but fortunately that doesn't seem to actually be used. Still, best to check in case DOMError does end up being removed from browsers.

[2015-06-25 09:28] DickvdBrink commented on #209
Not sure if we can because we also have older browsers for example older android/ios versions

The code does seem to fallback gracefully according to this code
https://github.com/axemclion/IndexedDBShim/blob/89ce0046adebf540cb38682f9604550e4c53bb4f/dist/indexeddbshim.js#L1403-L1440

Is this good enough?

[2015-06-25 09:38] foolip commented on #209
Ah, I see, I saw `test` and though I was looking at testing code. Yes, it sure looks like your code would survive the removal of DOMError, so no problem.

[2015-06-25 09:38] #209 closed, assigned to nobody

[2015-06-25 09:42] DickvdBrink commented on #209
Thanks for reporting it though :)

[2015-06-25 09:44] foolip commented on #209
No problem! I found this by searching for DOMError in httparchive.org data, so your shim is used out there in the wild :)

[2015-06-26 14:36] rkistner opened #210 "SQLite index on index columns?"
This is more of an implementation question, not a bug.

This project has a very interesting implementation for IDB indexes on top of SQLite.

I see indexes are created by creating a new BLOB column in the table, and using a specific encoding to allow correct sorting/filtering.

This is done here:

https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBIndex.js#L96

However, I don't see that

[2015-06-28 20:46] jrzerr opened #211 "Remove use of eval() to allow this to be used with Content Security Policy"
I create Chrome Apps using AngularJS and I am also using [Google's wrapper around Cordova](https://developer.chrome.com/apps/chrome_apps_on_mobile) to allow Chrome Apps to run on iOS and Android.  This library has been the link to get IndexedDB working on iOS.

However, the use of eval within this library prevents me from using on iOS without modifications because using eval violates the [Content

[2015-06-30 15:26] JamesMessinger commented on #211
Yeah, I 100% agree with you that we can and should get rid of the `eval()` statement.  And, as you pointed out, it's not even very difficult to do.  Just a matter of getting around to it.  :)

The solution is a little bit more complicated than your example, since keyPaths can be deep (e.g. `person.name.last`) or compound (e.g. `["person.name.first", "person.name.last"]`).  But it's still totally d

[2015-07-06 15:15] alekseykulikov opened #212 "Default value for `open` argument in IDBKeyRange.lowerBound and IDBKeyRange.upperBound is `false`"
It's mentioned in [W3C spec](http://www.w3.org/TR/IndexedDB/#range-concept) and [IDBKeyRange test specs](https://github.com/w3c/web-platform-tests/blob/master/IndexedDB/idbkeyrange.htm#L30).

The fix should add `|| false` to current code:

[code]

I can provide pull requests if needed.

[2015-07-23 12:28] rrNuvoPoint opened #213 "Multiple object store in safari"
Hello,

I am using your fine plugin. However. Creating more than two object stores is not possible. I will get an error from indexeddb. Seems to be because safari is actually using indexeddb and not websql. A workaround is just to create multiple databases with one object store. But that seems very wrong to me..

[2015-07-23 12:57] rrNuvoPoint commented on #213
i had to check if navigator is chrome. If not to manually force for websql. That worked :+1:

[2015-07-23 14:14] JamesMessinger commented on #213
Please see the [Known Issues](https://github.com/axemclion/IndexedDBShim#known-issues) notes.  There's a [bug in Safari](https://bugs.webkit.org/show_bug.cgi?id=137034) that prevents us from being able to replace `window.indexedDB`.  There are a couple workarounds for this in the Known Issues notes.

[2015-07-23 14:26] rrNuvoPoint commented on #213
Oh sry. I thought i marked this as resolved. But yes. Thank you.

[2015-07-23 14:26] #213 closed, assigned to nobody

[2015-08-05 21:16] isaacbdawson opened #214 "indexeddbshim + dexie + safari issue"
So I am using the latest dexie and indexeddbshim with safari and it appears indexeddbshim is creating websql databases instead of indexeddb, but to my understanding that should be ok?

The tables do get created (I can see them in web inspector).

However on the dexie add I get "undefined is not an object (evaluating 'types[getType(key)].encode') followed by "[object SQLError]".

I am unclear as to

[2015-08-06 19:19] isaacbdawson commented on #214
Figured it out.
Happens when an indexed field is null.

[2015-08-10 19:55] JamesMessinger commented on #214
:+1:   Glad you figured it out.  It's always best to isolate code to just one library to determine where the problem is.

[2015-08-10 19:55] #214 closed, assigned to nobody

[2015-08-10 20:02] isaacbdawson commented on #214
Just an FYI, this should not happen and is indicative of some kind of issue in the shim.
The work around is to just not let your indexed fields be null, but it should not be necessary.

[2015-08-10 20:17] JamesMessinger commented on #214
Hmmm... I would need to see a code sample to understand exactly what you mean.  We have [several](https://github.com/axemclion/IndexedDBShim/blob/4b653ee73ed48a9c654390a33838d0895988695f/tests/IDBObjectStore/add-put-spec.js#L310-L320) [tests](https://github.com/axemclion/IndexedDBShim/blob/4b653ee73ed48a9c654390a33838d0895988695f/tests/IDBFactory/cmp-spec.js#L259-L271) for all sorts of key values

[2015-08-10 20:50] isaacbdawson commented on #214
If you view this page with Safari:
http://www.dementedplayground.com/Dexie.js-master/samples/ajax-populate/populateFromAjaxCall_with_shim.html

Use the web inspector and you should be able to see what I am referring to.

[2015-08-10 21:22] JamesMessinger opened #215 "Null index key causes error"
If an object store has an index, and a record is added with a `null` value in the index field, an error is thrown.  For example:

[code]

Need to check the spec and existing browser implementations to see what the correct behavior is.  If it turns out that this _should_ throw an error, then we need to throw the _correct_ error.  Currently, the error is _"Cannot read property 'encode' of undefined"

[2015-08-10 21:24] JamesMessinger commented on #214
Awesome!  Thanks for putting together that demo.  It's definitely a bug in the shim.  We'll need to check the spec to see how it _should_ behave, and then write a test to repro the problem.

I've created a [new issue](https://github.com/axemclion/IndexedDBShim/issues/215) for this.

[2015-08-16 03:54] emertechie opened #216 "Improve getting started sample code"
Hi,

Great library but it took me a while to figure out exactly how to set it up correctly. From scanning the front page docs, there are only a couple of relevant code sections:

[code]

and:

[code]

The first one forces the shim (i.e. uses Web SQL DB) when you might have a perfectly good IndexedDB implementation already (in Chrome for example).

The second one won't work for Safari, as you can't

[2015-08-16 05:01] axemclion commented on #216
I think this is a great point. Would be great if you can send in a pull request with your findings - I think that would be a good starting point.

[2015-08-16 05:40] emertechie commented on #216
Made a quick attempt at it. Have a look and see what you think

[2015-08-16 06:16] JamesMessinger commented on #216
This isn't really a quickstart.  It's more like "one common usage scenario".  That's not necessarily a bad thing, bug it might be worth acknowledging that there are many different usage scenarios, and this is just one of them.  Otherwise, this could cause confusion for people who have different needs.

The decision to specifically check for Safari and IE is subjective.  For some people, IE's nativ

[2015-08-16 08:02] emertechie commented on #216
@BigstickCarpet Great points, thanks for the feedback. I've reworded things a little. Hope it's clearer now

[2015-08-20 02:55] unkillbob commented on #205
I think this is causing issues for us whereby when Safari prompts the user to permit access to more disk space the current transaction that triggered the prompt silently fails. This results in data being lost without our code being any the wiser.

[2015-08-20 20:00] JamesMessinger commented on #205
This is fixed now (as of v2.2.1)

[2015-08-20 20:00] #205 closed, assigned to nobody

[2015-08-28 08:34] brody2consult opened #218 "Why did you drop the MIT license option?"
First, I would like to thank you guys for your work to develop, publish, and maintain this project. I appreciate that you added dual-licensing MIT/Apache 2.0 a couple of years ago. I have been maintaining the Cordova sqlite plugin project and am planning to integrate your IndexedDB shim. The MIT license was quietly removed on April 15. Did you do this on purpose?

[2015-08-28 16:06] axemclion commented on #218
@brodybits The last commit on LICENSE seems to say dual license on Apache + MIT, so it may have been a mistake.

Btw, love your Cordova storage plugin :)

[2015-08-28 17:02] brody2consult commented on #218
Thanks! Please let me know when you get this restored. And thanks for your complement on my Cordova sqlite plugin, it has taken quite a bit of work to keep it maintained.

[2015-08-31 11:28] PedroJusto opened #219 "IndexedDBShim does not work in webworkers"
Hi! despite of there is a workaround, your library is not prepared to be used in WebWorkers .

[2015-08-31 16:40] JamesMessinger commented on #219
Can you post a code sample?  Maybe on [JSFiddle](https://jsfiddle.net/) or [Plunker](http://plnkr.co/)?

[2015-08-31 16:44] PedroJusto commented on #219
the problem is that webworker does not have access to window object. my workaround is to define in webworker :

var window = self;
and import indexeddbshim.js with importScripts("indexeddbshim.js"); inside webworker

[2015-09-01 05:24] saroj990 opened #220 "IndexedDB not working on IOS devices"
Hi All,
I am using indexedDB(angular indexedDB) in my application .it is running fine everywhere except IOS devices .I am using indexedDBShim.js for IOS which should use the WebSql if indexedDB is not supported.But i am getting errors.
Can anybody help me to get out of the problem?

[2015-09-01 05:44] DickvdBrink commented on #220
Can you explain what errors you are having?

[2015-09-07 06:08] hope4555 opened #221 "Does IndexedDBShim have a TypeScript Definition file?"
Does IndexedDBShim has a TypeScript Definition file?
So we could easily use it in TypeScript?

[2015-09-07 06:49] axemclion commented on #221
We wrote [one for WebSQL](https://github.com/borisyankov/DefinitelyTyped/blob/master/cordova/plugins/WebSQL.d.ts), but i have not seen any for IndexedDB yet.

Would be a good contribution to have.

[2015-09-07 08:41] hope4555 commented on #221
Thank you
When using IndexedDBShim in typescript i guess we need a single Definition file and not one for WebSQL and other for IndexedDB. Am i correct?

[2015-09-07 15:35] axemclion commented on #221
That is correct, you just need a typescript file for IndexedDB. The typescript definition is not specific for the shim as the shim is supposed to expose IndexedDB API anyway. If we have a definition file for IndexedDB, that would be good.

[2015-09-08 00:42] gombiuda opened #222 "multiEntry index query error"
Happy to see multiEntry is supported in #16
But I may come into a bug for an index query for multiEntry.

I can query for a document which the multiEntry column contains an exactly value, but I can't do this in indexedDBShim.

Here is the error:

[code]

[2015-09-09 16:28] jimmywarting opened #223 "Suggestion: getDatabaseNames"
Not standard but blink has it... indexeddb.webkitGetDatabaseNames

[2015-09-18 14:21] ndevtag commented on #220
Have the same Problem on IOS, using shim with the jQuery Plugin.
Getting an "AbortError", when try to use the put function on objectstore is created on the fly, when not exists:

[code]

This calls the fail handler giving an "AbortError".

OS: IOS 9
TestCases indexeddb.shim.js runs successfull
TestCases jquery.indexeddb.js some
Someone any idea?

![img_0594 1](https://cloud.githubusercontent.com/a

[2015-09-21 09:36] saroj990 commented on #220
I left using indexedDB for IOS devices its buggy in behavior . finally i used WebSQL for IOS and IndexedDB implementation for other devices.

[2015-09-21 10:46] ndevtag commented on #220
The shim uses WebSQL for indexedDB implementation. Unfortunately i have not the choice to left it. I have to get working this shim in IOS.

[2015-09-21 14:04] JamesMessinger commented on #220
Try running [these tests instead](http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true).   It'll help us pin-down exactly what errors you're seeing

[2015-09-23 12:34] saroj990 commented on #220
I have tested this on IPad but still no luck. it breaks i means stop somewhere in between and doesn't go further.

[2015-09-23 12:34] saroj990 commented on #220
Does this shim work for you , just curious to know

[2015-09-23 13:54] DickvdBrink commented on #220
Hmz,, failing for me on iOS 7.1 on the IDBFactory.deleteDatabase Test

I'm currently unable to debug this but it looks like there is something wrong..

[2015-09-23 15:55] apankov commented on #214
Hello,
I had experienced the same error when was using Dexie.js together with their addons Observable and Syncable. I had success in debugging the root of the problem and seems I found solution that is working for me just fine. Idea is that Dexie.js is defining their own wrapper around collection record, that wrapper contains additional info about datatypes of record fields (useful for code auto-c

[2015-09-24 12:54] ndevtag commented on #220
The shim do not work for me, but i have to get it work.

[2015-09-24 13:10] JamesMessinger commented on #220
I don't have iOS 7.1 to test on, but I've tested on iOS 8 and iOS 9, and [all of the tests](http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true) pass, including [the `deleteDatabase` tests](http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true&grep=IDBFactory.deleteDatabase).

@saroj990 and @ntagdev - It would be helpful if you could post some sample code that reproduce

[2015-09-24 13:30] ndevtag commented on #220
Ok, i've found the problem. The app did not use the shim in ios Safari, because window,indexedDb ist defined.

[2015-09-24 13:31] saroj990 opened #224 "Safari page hide event not fired on closing tab when we do have multiple tabs."
Hi,
I am having an application where i have keep track of how many number of instance of that application has been opened .
what i do in my app is ,i keep counter and that counter get incremented when the page load and decremented when the page unloads.
This works fine but for IOS although i have added pageshow and pagehide event it doesnot work.
If anyone knows help.
(function () {

[code]

})();

[2015-09-24 13:39] saroj990 commented on #220
I don't know i may be wrong but i have tried this and got no luck.I wish i am wrong and it works for you.

[2015-09-25 12:32] DickvdBrink commented on #224
I don't see any code here for the `IndexedDBShim`, did you ment to report this somewhere else?

[2015-09-28 06:57] saroj990 commented on #224
Oops!! sorry i am really sorry.

[2015-09-28 06:57] #224 closed, assigned to nobody

[2015-09-28 08:15] DickvdBrink commented on #224
No problem ;)

[2015-10-01 22:29] bduff9 opened #225 "Shim seems to set autoincrement separate from primary key"
I am running into an issue I just pinned down.  Basically, I have an autoincremented primary key called mrcID.  I also start my app by populating this field with values.  So, I might insert 20 rows, where the highest value that gets inserted is 527.  I would expect, and without the shim this happens, is for the next record inserted to have id 528.  Instead, with the shim, it has 21.  If I have a r

[2015-10-02 17:27] JamesMessinger commented on #225
The IndexedDB spec doesn't specify details about how auto-incremented keys should be generated.  Specifically, it doesn't address how generated keys should be affected by manually-specified keys in the same object store.  As a result, each browser vendor has implemented this differently.

For example, let's say that you manually add the following keys (in this order): `5`, `500`, `100`.  After add

[2015-10-02 17:44] bduff9 commented on #225
I see what you are saying, however I don't fully agree with what you are saying.  Outside of anything else, the primary key holds the values and needs to be unique.  If you allow the key to be manually set, you should at the very least ensure that new ones are still unique.  Or, you should not allow the primary key to be manually set if autoincremented a la certain relational dbs like DB2.

I get

[2015-10-02 18:38] JamesMessinger commented on #225
Yeah, I agree that the current implementation in the shim isn't ideal.  The only way to fix it and still be compatible with the spec is to make the `getNextAutoIncKey` function verify the uniqueness of the key, which is totally do-able, but would have a performance impact.

[2015-10-03 20:51] JamesKyburz commented on #123
Fixed in latest so closing.

[2015-10-03 20:51] #123 closed, assigned to nobody

[2015-10-04 12:51] JamesMessinger commented on #123
:+1: Cool.  Thanks for following-up on this.

[2015-10-05 19:54] apankov commented on #215
Hi, just wanted to make sure you guys got my comment at https://github.com/axemclion/IndexedDBShim/issues/214#issuecomment-142646810

[2015-10-14 23:38] romski opened #226 "Shim favours websql over indexeddb"
I have an angular application that currently uses indexedb via angular-indexeddb. I want to support IOS and I have forced use of the shim in angular-indexeddb as follows:

`indexedDB = window.shimIndexedDB || window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;`

When running a basic test, I have observed that the shim has used WebSQL for both IOS and Chrome on

[2015-10-22 00:10] steven-ayogo commented on #221
Dexie has typescript, so we use that. works with indeseddbshim

[2015-11-02 01:45] JamesMessinger commented on #226
Sorry for taking so long to reply.  I've been away on holiday for a few weeks.

In your code sample, `window.shimIndexedDB` should come _last_, not first.  By putting it first, you're overriding the polyfill behavior and choosing to _always_ use the shim (WebSQL) instead of the default browser implementation.

See the [Known Issues &mdash; iOS](https://github.com/axemclion/IndexedDBShim#ios) for a

[2015-11-02 01:45] #226 closed, assigned to nobody

[2015-11-02 01:52] romski commented on #226
Thank you for the reply. The shim is using WebSQL, which makes sense.

I originally tried following the example and placing the shim at the end, but was getting an error when using the iphone. Specifically, an error was thrown when opening 2 databases at the same time. That said, it's been a couple of weeks, so I will try again and let you know the result.

[2015-11-02 02:05] JamesMessinger commented on #226
ok.  Try it again and let us know if you find a problem.  We have [lots of unit tests](http://nparashuram.com/IndexedDBShim/tests/index.html) to ensure that it works on iOS.  But now that you mention it, our [`IDBFactory.open` tests](http://nparashuram.com/IndexedDBShim/tests/index.html?grep=IDBFactory.open) **don't** include a test to ensure that multiple databases can be opened simultaneously.

[2015-11-02 11:45] PedroJusto opened #227 "safari 9 incompatible"
with safari 8 everithing was working, in safari 9 : "TypeError: undefined is not an object (evaluating 'indexedDB.open')"

[2015-11-02 12:17] DickvdBrink commented on #227
Hmz, I tried this with a cordova application and everything worked there but that uses the webview.

I dont have access to an iPad with iOS 9 this week but will try to check it out

[2015-11-02 12:21] PedroJusto commented on #227
can you try in safari 9 browser? I use your shim in a webworker and all works good until i updated safari to version 9.

since Web Workers don't have a window object, in my webworker I do "window= self;" and "importScripts('indexeddbshim.js')".

[2015-11-11 19:38] keean opened #228 "Strange Behaviour with Quotas (binary data)"
I have an application that writes some large ArrayBuffers to IndexedDB, and I am using IndededDBShim to support versions of Safari that do not have IndexedDB support.

I am getting strange behaviour when writing objects larger than the WebSQL storage quota. If the user does not approve the storage size increment, then the 'put' transaction appears to succeed (it should be aborted). Then when I rea

[2015-11-13 07:42] DibranMulder commented on #228
Just leaving this here as a probable workaround, Thinkwise got a [plugin](https://github.com/Thinkwise/cordova-plugin-update-quota) that allows you to expand the default store size. This doesn't solve your issue though.

[2015-11-13 18:00] keean commented on #228
I have spent some time trying to find the problem, and it looks like it was to do with binary data (ArrayBuffers) in the JSON objects being stored. So I have added a work around that base64 encodes the array buffers, if it is using IndexedDBShim. It would be better (for compatibility with real IndexedDB) if IndexedDBshim would do this itself, although I can't think of an easy way to find where the

[2015-11-18 20:22] CraigCav opened #229 "IDBTransaction missing methods inherited from EventTarget (also missing on IDBDatabase, IDBTransaction, IDBRequest, IDBOpenDBRequest)"
According to MDN,  [IDBTransaction ](https://developer.mozilla.org/en-US/docs/Web/API/IDBTransaction) inherits from [EventTarget](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget), however, the IndexedDBShim implementation of IDBTransaction does not provide `addEventListener`, `removeEventListener` or `dispatchEvent` methods, and instead only provides event handlers for `oncomplete`, `

[2015-11-19 07:33] rrNuvoPoint opened #230 "indexedDB.deleteDatabase dose not delete db until browser tab is closed"
Hello,

I am trying to delete a database by using the indexedDB.deleteDatabase command. I have forced indexedDB to shim by setting the variable to shimIndexedDB. When i look at the inspector in safari i can see that all in the DB is deleted. However! When i try to reopen a new DB with same name as the one i just closed, it get the error that i am trying to open a database with lower version number

[2015-11-19 16:30] #230 closed, assigned to nobody

[2015-12-11 14:11] nirgit opened #232 "getAll implementation is missing"
Great job first of all.

Second, I did want to use the API getAll to retrieve all the "records" kept in the store, but saw
that it wasn't implemented. Any chance of seeing this soon?

Thanks a lot & keep up the good work

[2015-12-15 03:18] open-environment commented on #227
i get the same error.

[2015-12-16 00:02] open-environment commented on #215
Wanted to point out that you will also get this error if you attempt to define a boolean field as true or false (which works in IndexedDB but not WebSQL) as opposed to 0 or 1.

[2015-12-16 03:18] open-environment commented on #199
encountered this issue too.

[2015-12-29 15:04] Abrissirba opened #233 "Safari - "14 unable to open database file""
I get the following error after I have done around 400 calls to indexedDB.open() in safari: (14 unable to open database file). After some googling I found this blogpost, http://zacster.blogspot.se/2015/10/safari-web-sql-14-unable-to-open.html, which says that safari doesn't garbage collect db handles from openDatabas calls.

The solution I'm currently using is to cache open databases in an object

[2015-12-29 15:19] Abrissirba opened #234 "key encode null"
The following function will result in "undefined is not an object" when the key is null. Any reason to why the if statement should not check for null aswell?

[code]

[2015-12-30 11:06] Abrissirba opened #235 "Range lower and upper bound hardcoded false"
The following if statement exists in the begining of function IDBCursor. Why is the lower- and upperOpen hardcoded to false?

[code]

A better solution would be

[code]

[2015-12-30 11:07] Abrissirba commented on #234
I see that there already is a PR for this issue: https://github.com/axemclion/IndexedDBShim/pull/231

[2015-12-30 11:07] #234 closed, assigned to nobody

[2015-12-30 11:21] Abrissirba commented on #233
After some testing I discovered a new problem I think is related to my suggested solution. When my app has been running for a while, new transactions will fail with the error message: "database has been closed". I haven't found any really good way to see if the database has been closed or not without creating a transaction which will call the error callback.

My very ugly solution to this at the m

[2016-01-08 21:13] mauron85 commented on #227
same here. with cordova ios and ios 8.4.1

[2016-01-18 03:30] dpogue commented on #214
@apankov We've been using your patch for a while, but things broke recently when we added an object store with a compound index. I believe your patch will never try to populate that index because the compound key isn't a property of the value.

Currently investigating https://github.com/axemclion/IndexedDBShim/pull/231 as a possible alternative.

[2016-01-20 12:17] apankov commented on #214
@dpogue Indeed, my patch doesn't take care of such case.

[2016-01-28 17:57] satisne commented on #167
I implemented jamiehill's solution even though I am getting "Unable to Shim IndexedDB"  issue when I use the emulator as iPad8.1. Can anybody please help me on this.

[2016-01-28 18:40] roblav96 commented on #167
same here. i think this is a bust. looks like im going back to sqlite

[2016-02-08 20:00] whitmer opened #236 "restricted "eval" triggering "Could not eval key from keyPath""
This one took me a little while to track down. Basically I'm running on a browser that follows CSP directives, and I didn't have 'unsafe-eval' set as an option for 'script-src'. I didn't realize IndexedDBShim was using eval, or maybe I would have caught it sooner. Anyway, the error that kept getting raised was "Could not eval key from keyPath" which would get triggered on storage calls. It was act

[2016-02-08 20:01] whitmer commented on #236
This will be a non-issue when #211 is resolved.

[2016-03-25 15:17] wibimaster opened #239 "Type "object" undefined"
The object "types" does not know the "object" type ; test on a iPhone 4S with iOS 8.3, got a big fail with undefined object.

I do a PR to fix that, can you tell me if it's OK for you ?
#238

Thanks !

[2016-03-31 15:34] ilDon opened #240 "DB Open fails on Firefox >= 43.x and Dexie.org lib"
I use DexieJS (dexie.org) to handle all Indexeddb activities (db open / queries / etc.) and I've noticed that there might be a bug when using IndexedDBDShim.

On Chorme, Safari, and Opera, everything works as expected on WebSQL, but then on Firefox I get the following error:

`Error: Database not open. Following error in populate, ready or upgrade function made Dexie.open() fail: TypeError: window

[2016-04-06 07:49] brettz9 opened #241 "currentTarget"
[This issue](https://github.com/aaronpowell/db.js/issues/87) was reported a while back for db.js, and I was wondering whether you could add support for [currentTarget](https://developer.mozilla.org/en-US/docs/Web/API/Event/currentTarget). I made a PR to db.js to avoid the need for relying on it, but maybe it is something you'd want to add if others might be using it as well.

[2016-04-19 08:56] ChristianWeyer opened #242 "Shim uses WebSql on latest Chrome version (Chrome 50) - instead of IndexedDb"
Using the official example here http://nparashuram.com/IndexedDBShim/tests/index.html?useShim=true we get a lot of databases created in WebSql and not in IndexedDb with latest Chrome version.

![image](https://cloud.githubusercontent.com/assets/888718/14633288/3bdfc942-061d-11e6-8754-3c4515045229.png)

This is obviously not the expected behavior ;)

Any idea what could be wrong?
Thanks!

[2016-04-21 23:31] ballenjr opened #244 "MiniMongo Support?"
Just wondering how hard it would be to get this to work with https://github.com/mWater/minimongo in iOS 9.3 with WKWebView?

I am having trouble getting iOS to work. It doesn't want to cooperate no matter what. If its not one thing its another.

But I have already committed alot of time with minimongo in Android. I really don't want to abandon it. I am hoping that it should be simple for someone w

[2016-04-21 23:50] ballenjr commented on #244
Off the bat I ran into a wrapper function within minimongo that disappeared as soon as i installed the shim. Any Idea why that might be? It was IDBStore.query https://github.com/mWater/minimongo/blob/master/src/IndexedDb.coffee#L75

or https://github.com/mWater/minimongo/blob/master/dist/minimongo.js#L832
if not into coffee...

[2016-04-22 21:41] ballenjr commented on #244
Just discovered that I was suppressing the real error which was a DOM Security Error having something to do with the call to openDatabase from within the shim createSysDB method.

[2016-04-22 22:03] ballenjr commented on #244
https://github.com/Telerik-Verified-Plugins/WKWebView/issues/11 says that WebSQL is disabled. I get the same error without the shim trying to openDatabase even with the minimum free quota. So maybe they are right.

[2016-04-22 22:03] #244 closed, assigned to nobody

[2016-05-09 15:13] yuber1792 opened #245 "IDBCursor problems ios device"
Hi ,I have problems using the IDBCursor:

  object.openCursor().onsuccess = function(event) {
              var cursor = event.target.result;

cursor returns null. only ios in android works correctly.

[2016-05-15 21:34] brettz9 commented on #167
FWIW, I got the same "Unable to Shim IndexedDB" error in Chrome desktop and was able to resolve by adding the line `delete window.indexedDB;` before the shimming directive.

[2016-06-12 18:16] brettz9 opened #248 "Problem with running individual tests"
When running the QUnit testing in the browser, if one opts to "Rerun" a particular test, some of these tests do not work properly due to the manner in which the tests were added. It would be nice to work around this issue.

Mocha has this problem as well insofar as running individual tests does not seem to delete the old ones first.

[2016-06-12 19:38] axemclion commented on #248
@brettz9 I am not able to spend time actively maintaining the project. Given the PRs you have sent to the project, would you be interested in contributing to the project as a committer ?

[2016-06-12 19:39] brettz9 commented on #248
Sure

[2016-06-12 19:44] axemclion commented on #248
@brettz9 You are now a collaborator, and should be able to merge in your PRs. I would also appreciate if you can look at some other recent PRs too ... thanks for helping out.

[2016-06-12 19:45] brettz9 commented on #248
My pleasure, thanks a lot!

[2016-06-12 19:49] brettz9 commented on #248
Oh, and do you want me to ping you when an issue or PR needs closing, etc.?

[2016-06-12 20:26] axemclion commented on #248
@brettz9 I will try to look at the activity, but you should feel free to do what is best for the community ...

[2016-06-12 23:07] brettz9 commented on #218
I've added back the MIT license in `master` (removed apparently by accident with ecf8ee4f6d5ce6b5cc5036f9a39ae3f6c028dfa6 ). Thanks for the report!

Btw, a whole lot of changes--I didn't see how the Cordova file was to be tested--welcome to add a PR to clarify/update to make sure it is working (I just tweaked a bit of the various HTML files styling to be more conventional).

[2016-06-12 23:07] #218 closed, assigned to nobody

[2016-06-13 04:48] brettz9 commented on #235
The code as it is now is:

[code]

I think this new code is there because, if some scalar key is provided (as opposed to a range), this code will default to behave effectively as `only(range)`.

What is your use case? Would you like to supply an object which is not an `IDBKeyRange` and prefer that we duck type in place of the `instanceof` check?

[2016-06-16 02:22] brettz9 commented on #242
With URL structured to include `/tests/index.html?useShim=true`, that argument is what causes Chrome to use its WebSQL capabilities. You can remove that "useShim" arg from the URL or click the "Switch to Native IndexedDB" button. I think this should address your issue, but feel free to reopen or comment further if I've missed something.

[2016-06-16 02:22] #242 closed, assigned to nobody

[2016-06-16 02:22] brettz9 commented on #239
As mentioned in #238, this is now fixed in `master`. Thanks for the report and PR!

[2016-06-16 02:22] #239 closed, assigned to nobody

[2016-06-16 02:34] brettz9 commented on #215
I believe the `null` issue may be fixed now.

For the case of booleans, using `master`, you might try changing:

[code]

to:

[code]

and adding to `types`:

[code]

and changing:

[code]

to:

[code]

I can investigate this myself after my current focus may be done, but wanted to share in case it may help you now.

[2016-06-17 07:08] brettz9 commented on #212
Greetings Aleksey!

Maybe this was a problem earlier, but currently, if the `lowerOpen` or `upperOpen` parameters are falsey, the current behavior is to turn them into `false` ([handled in the constructor](https://github.com/axemclion/IndexedDBShim/blob/master/src/IDBKeyRange.js#L21-L22)).

FYI, we're currently passing adapted versions of the `IDBKeyRange` portions of your W3C and indexedDBmock te

[2016-06-17 07:08] #212 closed, assigned to nobody

[2016-06-17 08:18] alekseykulikov commented on #212
Thank you Brett for starting to work on this library!
I will submit a few more issues :)

[2016-06-17 18:55] brettz9 commented on #199
The WebSQL keyword conflict can apparently be avoided by using backticks, but there is still the problem of conflict with our own internal tables.

For now, in `master`, I've avoided the index problems (conflicts with our `key`, `value`, and potentially `inc` columns), by prefixing all user index columns with `_`.

There could also have been a problem if a database had been named "__sysdb__.sqlite

[2016-06-17 19:19] brettz9 commented on #210
I think we'd be open to a PR for this, as I don't see why we shouldn't have a SQLite index on the column (and possibly others) unless there is potential for file size problems or lack of implementation support for indexes (I don't know).

I think we should probably add indexes optionally via config.

[2016-06-17 19:35] brettz9 commented on #202
Support for ranges to `IDBIndex.count()` (as well as to `IDBObjectStore.get`) are now in `master`. Thanks for the report!

[2016-06-17 19:35] #202 closed, assigned to nobody

[2016-06-17 19:51] brettz9 commented on #28
It looks like an event is now being passed always to `oncomplete` along with a `target`. Closing then, but feel free to report any problems.

[2016-06-17 19:51] #28 closed, assigned to nobody

[2016-06-17 19:55] brettz9 commented on #76
@mcfarljw , @ghost , are these problems still occurring?

[2016-06-17 19:55] brettz9 commented on #56
This is a confirmed issue (next item on my to-do list).

[2016-06-17 20:00] mcfarljw commented on #76
I'm going to say no. I haven't tried it in awhile, but Android has come a long way since the initial issue occurred.

[2016-06-17 20:02] brettz9 commented on #235
We are now using duck-typing instead of `instanceof`, so I will close. Feel free to reopen or add a new issue if you have other concerns.

[2016-06-17 20:02] #235 closed, assigned to nobody

[2016-06-17 20:15] brettz9 commented on #219
I've pushed some changes to `master` which should address the problem. Would someone mind testing and ideally offering a PR containing a test (and any further fixes)? Thanks!

[2016-06-17 20:20] brettz9 commented on #228
A PR with test would be most welcome!

[2016-06-17 20:29] brettz9 commented on #225
I haven't looked too closely at the comments here, but `master` now updates the `sqlite_sequence` auto-increment table if the user supplied a numeric key to `add()` or `put()` which is greater or equal to the "current number".

Also fixed is a bug which was using `LIKE` to check on auto-complete instead of `=` which could be a problem if there were a store name existing within another store name.

[2016-06-17 20:37] brettz9 commented on #240
A number of changes are present now in `master`. I'm not sure how they will affect your issue, but if you wouldn't mind trying it and reporting back, it'd be appreciated.

[2016-06-17 20:39] brettz9 commented on #215
I've added the code, but we need tests to confirm.

[2016-06-17 20:42] brettz9 commented on #219
And in case you already tried pulling, sorry, I realized I hadn't pushed the changes to this repo's `master`. Now available.

[2016-06-17 20:50] brettz9 opened #249 "Test streamlining/browser support for W3C and other tests"
Although we have a recent addition of W3C-adapted tests for Node, I'd like us to:

- [x] **Node tests**
    - [x] Use an automated process for converting the original browser-based W3C tests to Node tests
    - [x] The latest version of `ws` is breaking our worker code; ought to investigate rather than just
            keeping the last working version hard-coded
- [ ] **In-browser tests**
    - [x

[2016-06-17 20:56] brettz9 opened #250 "Single test problem for Firefox Mocha testing"
There is one issue in running the Mocha tests for Firefox. (It is some kind of Sinon interaction problem which I reported at https://github.com/sinonjs/sinon/issues/1066 but we need to come up with a test case.)

Firefox has some getStackFrames error with the following specific test: http://localhost:9999/tests-mocha/index.html?grep=IDBTransaction%20events%20should%20fire%20the%20onerror%20event%2

[2016-06-17 20:58] brettz9 commented on #76
All right, thanks for the report back. I'll close for now, but feel free to reopen or add a new issue. Thanks!

[2016-06-17 20:58] #76 closed, assigned to nobody

[2016-06-17 21:29] brettz9 opened #251 "Node-based QUnit testing often does not complete execution"
The `npm run qunit` testing, which relies on a fork of `grunt-node-qunit`, currently is not reliable in completing execution of all tests (but it executes all and passes them as expected).

[2016-06-20 03:45] xlc commented on #211
[`_.get`](https://lodash.com/docs#get) can be handy for this https://www.npmjs.com/package/lodash.get

[2016-06-20 05:23] brettz9 commented on #211
@xlc: Thanks, I've been working on a branch on my fork which does it pretty cleanly, but still some more work to do. Btw, `eval()` is also used in `Sca.js`. Are there any volunteers to make an eval-free version there (the apparent original author of that file, @jkleinsc , are you free?)?

[2016-06-20 17:41] brettz9 commented on #211
I've pushed the fork which eliminates `eval` in `Key.js` to `master`, but still have the `Sca.js` to deal with.

[2016-06-20 17:54] brettz9 commented on #215
Ok, sorry, it was premature for me to add the code.

Key validation indeed should not allow `null`, booleans, or objects, since the [recommendation](https://www.w3.org/TR/IndexedDB/#dfn-key) and [draft spec](http://w3c.github.io/IndexedDB/#key) both prohibit them as keys (unless the object is a date, array or ArrayBuffer, the latter not yet being supported).

However, the problem had been that we

[2016-06-20 17:54] #215 closed, assigned to nobody

[2016-06-20 18:02] brettz9 commented on #239
Sorry, I was premature in adding my code. Please pull again from `master` if you've already updated, as I've fixed things to either throw a proper error or silently ignore, as per spec behavior. Please see my comment at https://github.com/axemclion/IndexedDBShim/issues/215#issuecomment-227218203 .

[2016-06-20 18:03] brettz9 commented on #56
This should now be fixed in `master` along with other fixes and updates. Thanks for the report!

[2016-06-20 18:03] #56 closed, assigned to nobody

[2016-06-20 23:44] mvayngrib commented on #56
@brettz9 thanks for fixing :)

[2016-06-22 07:09] Josephdias92 opened #252 "shim indexeddb works on ios 8 but doesnt work on ios 9"
i installed shimindexed in my application to support home screen in ios. its working for home screen and safari but it doesnt work on chrome and other browser.

on ios 8 everything works fine but in ios 9 chrome and other browser it doesn't work.

[2016-06-22 13:32] brettz9 commented on #220
@ntagdev or @saroj990 : have you manually called `shimIndexedDB.__useShim();` in your code?

[2016-06-22 13:39] brettz9 commented on #245
Can you give the iOS version as well as a complete, but minimal, test case that causes the problem?

[2016-06-22 13:39] brettz9 commented on #252
First of all, how did you install? Secondly, please provide a test case which shows which code is not working, or at least provide a console error message with a description of where the code fails. Did you call `shimIndexedDB.__useShim();`?

I also wonder whether this is a duplicate of #220, #245, or #227

[2016-06-23 04:31] Josephdias92 commented on #252
@brettz9 hello im using dexie library so i included shim just before dexie library.
this is the console error which im getting
[Error] TypeError: Attempted to assign to readonly property.

if i use `shimIndexedDB.__useShim();` it will force my application to use webSQL even if indexeddb is present. i want to use webSQL only if indexeddb is not present on browser.

i guess its related to #167

[cod

[2016-06-23 07:22] brettz9 commented on #252
What line number is the console error pointing to?  What is the version of IndexedDB you are using? Did you install via npm? You could also post the code where the console points you...

FYI, there is some code which automatically calls the shim under certain circumstances. The current code which does this (and which I don't think has changed much in substance, even if it looks different) is the f

[2016-06-23 08:51] Josephdias92 commented on #252
@brettz9 i used bower to install this package. it works on safari and homescreen but doesnt work on chrome and mozilla (IOS 9).

[2016-06-23 14:14] brettz9 commented on #252
@Josephdias92 : Thanks--I also need the line number of the error from console...

[2016-06-23 16:11] brettz9 commented on #252
First, @Josephdias92,  if you are using Bower, please make sure you have the latest version of IndexedDBShim from Bower available (currently 2.2.1).

Second, immediately before this line...

[code]

...try putting the following code and then, if you could, report back on whether the various browser environments work as intended...Although I could probably find a way to test it through Saucelabs/Ph

[2016-06-23 18:45] brettz9 commented on #252
That code should ensure that the shim is called, and only called when in iOS 9 non-Safari...

[2016-06-23 22:23] xlc opened #253 "ShimEvent doesn't have `preventDefault` method"
I am using IndexedDBShim and [sklad](https://github.com/1999/sklad) and got this error on iPad running iOS 8 & 9:

In [this function](https://github.com/1999/sklad/blob/e6595c286f9898bace95b463b39b231fe0044250/lib/sklad.js#L913):

[code]

[ShimEvent](https://github.com/axemclion/IndexedDBShim/blob/c09d66479a0f63c415437e9d4f815347b45f1888/src/Event.js#L25) should have `preventDefault` method and ot

[2016-06-24 05:43] Josephdias92 commented on #252
@brettz9 i wont be able to give you the line of code whether the error is occurring because concatenating and minifying all my vendor files before testing on ipad. and yes im using 2.2.1 version of IndexedDBShim. is there any other way i can override this code without modifying IndexedDBShim.js file.

[2016-06-24 07:04] Josephdias92 commented on #252
@brettz9 where*

[2016-06-24 13:24] fcasarsasolari opened #254 "Failed install on node.js"
Hello,

as in the documentation i tryed installing using node:
`npm install indexeddbshim` but i can not use the the library.

I can not even to load it with require, failing with a ReferenceError: window is not defined ( that is quite obvious). Looking at the downloaded files in node_modules i don't see the indexeddbshim-node.*.js files.

Thanks.

[2016-06-24 13:46] bennycode opened #255 "ReferenceError: window is not defined"
Today I wanted to use `IndexedDBShim` in a node application. According to your readme I wrote this piece of code:

[code]

But I am always receiving `ReferenceError: window is not defined`. Can you tell me what I am doing wrong?

[2016-06-25 00:44] brettz9 commented on #253
This also interconnects with #229 and #241

[2016-06-25 23:16] brettz9 commented on #254
The Node support is only in `master` and not yet part of a published release. If you want to use in Node, for now, you'd have to clone the repo. I'll close, but feel free to post any further comments if you wish.

[2016-06-25 23:16] #254 closed, assigned to nobody

[2016-06-25 23:17] brettz9 commented on #255
Node support is not yet part of a published release. Please see my comment at https://github.com/axemclion/IndexedDBShim/issues/254#issuecomment-228575304  .

[2016-06-25 23:17] #255 closed, assigned to nobody

[2016-06-26 19:19] brettz9 opened #256 "Saucelabs QUnit tests timing out"
Hi  @axemclion ,

I made a few updates to get things working again on Travis.

However, I noticed that Saucelabs (QUnit) tests weren't completing (even after I changed to a single test based on the platform config I have been using, Chrome on Windows). (I thought getting these tests working should also help me debug some of the platform-specific problems people were having.)

The tests are running

[2016-06-26 21:57] brettz9 commented on #252
Instead of manually changing code, @Josephdias92 , can you try changing your project's bower dependency line for "IndexedDBShim" to `https://github.com/axemclion/IndexedDBShim#ios9` and running `bower install` in your project directory and letting us know what happens?

I've added code which should work to auto-shim non-Safari iOS9. Please note that this is based on our code in `master` and could

[2016-06-27 10:21] Josephdias92 commented on #252
@brettz9 this ios9 branch works fine on my ipad now.

this code forces the app to use websql even if indexedDb is support on the browser right ?

[2016-06-27 13:46] brettz9 commented on #252
Thanks for the report!

And correct, the new code will force WebSQL for non-Safari iOS9 (and continue to force it for old non-Chrome Android, versions 2-4.3). Will close now but feel to comment further as necessary.

[2016-06-27 13:46] #252 closed, assigned to nobody

[2016-06-27 13:55] brettz9 commented on #245
There appears to be a problem with iOS9 and IndexedDB for non-Safari browsers. Our new code (discussed in #252) forces iOS9 non-Safari browsers to use the shim despite them supposedly having IndexedDB support.

Until our next release, you can change your project's bower dependency line for "IndexedDBShim" to https://github.com/axemclion/IndexedDBShim#ios9 and run `bower install` in your project di

[2016-06-27 13:55] #245 closed, assigned to nobody

[2016-06-27 13:56] brettz9 commented on #227
There appears to be a problem with iOS9 and IndexedDB for non-Safari browsers. Our new code (discussed in #252) forces iOS9 non-Safari browsers to use the shim despite them supposedly having IndexedDB support.

Until our next release, you can change your project's bower dependency line for "IndexedDBShim" to https://github.com/axemclion/IndexedDBShim#ios9 and run `bower install` in your project di

[2016-06-27 13:57] brettz9 commented on #220
There appears to be a problem with iOS9 and IndexedDB for non-Safari browsers. Our new code (discussed in #252) forces iOS9 non-Safari browsers to use the shim despite them supposedly having IndexedDB support.

Until our next release, you can change your project's bower dependency line for "IndexedDBShim" to https://github.com/axemclion/IndexedDBShim#ios9 and run `bower install` in your project di

[2016-06-27 14:01] brettz9 commented on #220
Apologies, it seems like there is nevertheless an issue with Safari too on iOS9?

[2016-06-27 14:03] brettz9 commented on #227
Apologies, my last comment pertained to non-Safari iOS9 browsers. I have made a fix for the web workers issue, though not yet tested. Could someone report back on whether things are working now?

[2016-06-28 18:19] brettz9 opened #257 "Cursor caching"
Hi @axemclion ,

With the caching of cursor data, a problem comes into play when the data becomes stale, not as a result of internal methods, but when say the store object is used to delete an item.

While we technically could track state between these classes, for example, having the `IDBObjectStore.delete` method get cursor iteration over the cache to ignore the deleted item, I'm afraid this may

[2016-06-28 18:36] DickvdBrink commented on #257
I believe the caching was giving us a very big performance boost in cases with significant rows.
Maybe we should consider only using a cache on "read" transactions and not using a cache on "readwrite"?

[2016-06-29 01:12] brettz9 commented on #199
I guess I'll just leave it as it is for now unless others wish to discuss.

[2016-06-29 01:12] #199 closed, assigned to nobody

[2016-06-29 02:56] brettz9 commented on #204
This support is now added in `master`. Note that there are still some w3c tests related to cursors (when used with readwrite operations) which are not passing as mentioned in #257 .

[2016-06-29 02:58] brettz9 commented on #257
The problem doesn't occur though if one only uses read operations (regardless of whether readonly or readwrite). I can see about invalidating the cursor cache when a write operation is called (and probably adjusting the offset or such).

[2016-06-29 02:58] #204 closed, assigned to nobody

[2016-07-04 09:34] ilDon commented on #240
Sorry for the late reply, I ended up not using IndexedDBShim with firefox, but I'll do some testing asap to give you a feedback on this :-)

[2016-07-13 05:08] brettz9 commented on #241
This should now be working properly in `master`.

[2016-07-13 05:08] #241 closed, assigned to nobody

[2016-07-13 05:12] brettz9 commented on #229
`master` is now supporting those methods. Note, however, that bubbling has not yet been implemented properly, nor the ability for `preventDefault` to have an effect--although support for both is now possible within the [underlying EventTarget library](https://github.com/brettz9/eventdispatcher.js/tree/early-late-listeners) once I may find the time to utilize within IndexedDBShim. You may wish to t

[2016-07-13 05:12] #229 closed, assigned to nobody

[2016-07-13 15:21] brettz9 commented on #253
FYI, I've added support for `addEventListener` and other EventTarget features via my fork of [eventdispatcher.js](https://github.com/brettz9/eventdispatcher.js) and although the fork supports `preventDefault` (as with bubbling), I haven't yet taken advantage of it within IndexedDBShim, so calling it on the code in `master` will not throw but will currently have no effect. I intend to implement tho

[2016-07-13 17:33] brettz9 commented on #257
Actually, I now doubt whether invalidating the cache could work because when say deleting an item, we wouldn't know, for example, whether the deleted item had already been iterated or not, so we wouldn't know whether to adjust the offset or not, not to mention the need for reconstituting `advance` offsets. I am thinking that the only options are to either get rid of the cache or to track the state

[2016-07-31 18:54] daniele777 opened #258 "intel xdk installation"
Hi i ask support i try to add IndexedDBShim
 in intel xdk to get compatible indexdb in ios 9... i get this error
![shim error](https://cloud.githubusercontent.com/assets/8341788/17278594/f175a22e-5760-11e6-969c-94394cb20045.PNG)

help!

[2016-08-12 22:24] ianks opened #259 "node: "package.json does not exist at " + package_json_path"
When attempting to load the node version of the current master branch, I am met with this error:

[code]

All I am doing is simply:

[code]

Any way to help fix this? This library looks like it can help solve my frontend testing woes and would love to get it working! Thank you for the work you have done here.
- Ian

[2016-08-13 02:09] brettz9 commented on #259
How did you indicate the indexeddbshim dependency in your project root?

Have you tried requiring using the relative path?

[2016-08-15 17:52] ianks commented on #259
@brettz9 I have tried requiring the full path, the relative path, as well as just the package name. I indicated the dependency by adding it to my `devDependencies`.

[2016-08-15 17:57] brettz9 commented on #259
Did you do it like this?

[code]

and then run `npm install`?

[2016-08-15 18:37] ianks commented on #259
Yes I did

[2016-08-15 20:31] brettz9 commented on #259
Sorry then, I don't know. All I know is that it is working in our internal tests, and I don't have time at the moment to investigate further. It would be appreciated if you could report back if you do find out.

[2016-08-15 20:33] brettz9 commented on #259
Btw, while there are already a great many fixes and improvements in `master`, my idea was to wait until the W3C tests were all set up properly and passing before making a new release (in order to save ourselves from support questions I don't have time to answer). I thought of adding instead to another branch, but I really think any changes should be made on top of `master`.

[2016-08-18 17:47] erhanyasar opened #260 "Still Got an Error of IndexedDB on PhoneGap"
Briefly, after I wanted to add an IndexedDB plugin I just faced minimatch issue (npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue [#13323](https://github.com/npm/npm/issues/13323)) and then reinstalled whole the node & npm hence, the phonegap didn't work properly if I try to add platform 'android'. Adding below the parameters to my 'docum

[2016-09-05 16:20] corse-xx commented on #220
is there a full fix for this at all or even at ETA? I have currently reverted all the way back to v0.1.2 from 2014-09-22 and its working in that...but there have obvs been a few improvements since then :p

[2016-09-05 20:40] brettz9 commented on #220
Sorry, no ETA. PRs welcome.

[2016-09-06 09:00] corse-xx commented on #220
doh, ok i will go back through the versions to see where it got broken (sorry id take a look at fixing it permanently but am mid project!) and post here if i see anything obvious.

[2016-09-06 09:16] corse-xx commented on #220
ok i'm not sure what i missed but under phonegap serve i can have this working and not working easily...
1. downloaded the 2.2.1 repo and copied indexeddbshim.min.js into my app - Work FINE in ios9
2. downloaded the master repo and copied indexeddbshim.min.js into my app - broken immediately

The file size differences in the min files are immense (46kb to 230kb), did i miss something here?

[2016-09-06 18:36] brettz9 commented on #220
If you are looking for the latest working version for ios9, it'd be fine to go back and see where it got broken, but if you are willing to debug and get all of the benefits of the many bug fixes, I would just start with the latest in `master` and see where we can fix it for ios9.

As far as `master` being broken for ios9, yes, that is known. I would just try digging around in the code and checking

[2016-09-16 17:07] RazorDE opened #261 "Recent changes break Safari 6 compatibility"
All commits since 19a076e are no longer compatible with MacOS Safari 6.1.6 (7537.78.2) and iOS 6.1.6 (10B500). Although it is still possible to create and store data in the websql-database it is no longer possible to retrieve it.

The following error is displayed in the current version (a90ff2a) of indexeddbshim.js when accessing the database using indexedDB.open:
Type Error: Attempted to assign t

[2016-09-20 16:03] chrislgrigg commented on #254
Has any thought been given to releasing the version with node support to NPM?

[2016-09-20 17:10] chrislgrigg commented on #259
You have references to your local WAMP installation in `indexeddbshim-node.js`, it is looking for sqlite3 (which isn't included in package.json as a dependency) in there.

[code]

If you install sqlite3 and fix the bad paths, this library can at least be required without crashing. I haven't made it far enough to say whether it actually works.
- line 7604

[code]
- line 7650

[code]
- line 10759

[

[2016-09-20 18:54] brettz9 commented on #259
Thank you very much for identifying the problem here, @subvertallchris !

I do have the `websql` devDependency which has `sqlite3` as a dependency, but yeah, that should be changed and those paths you mention of course shouldn't be baked in like that (I know I didn't hard-code those paths myself).  I will try to give some time to fixing this, as it looks like it shouldn't be too difficult to addre

[2016-09-20 22:40] brettz9 commented on #254
See my comment at https://github.com/axemclion/IndexedDBShim/issues/259#issuecomment-248397722

[2016-09-24 03:45] brettz9 commented on #259
@subvertallchris : I have a new version pushed to `master` which I believe fixes the reported issue. Please confirm.

Although I don't think we are ready for a new regular npm release yet for the reasons mentioned above, if you like, I can tag a separate branch to provide an insufficiently tested and incompletely bug-fixed version but one which is at least theoretically working for Node and non-ch

[2016-09-24 03:50] chrislgrigg commented on #259
Thanks for the thorough writeup and followup! I'll give this a shot in
Monday and let you know how it looks.

On Friday, September 23, 2016, Brett Zamir notifications@github.com wrote:

[2016-10-05 01:42] brettz9 commented on #259
Find a chance to check it out, @subvertallchris ?

[2016-10-05 14:53] chrislgrigg commented on #259
Unfortunately no, not yet. Sorry for the delay. I had to double back to a different feature to meet a deadline. I'll be giving it another shot in the next week or two.

[2016-10-10 11:51] alekseykulikov opened #262 "Version 3.0.0 release date?"
[List of changes](https://github.com/axemclion/IndexedDBShim/blob/master/CHANGES.md) is really impressive and I would like to try it! Maybe RC for testing?

[2016-10-10 18:28] brettz9 commented on #262
See pars. 3-5 of https://github.com/axemclion/IndexedDBShim/issues/259#issuecomment-248397722 .

An RC is a good idea. For now `master` can be tested and should be working with Node too. Any help testing would indeed be most appreciated!

[2016-10-17 09:05] bsautel opened #263 "IndexedDBShim makes Chrome and Firefox use WebSQL"
First, thanks for writing this polyfill that is one of the rare ways that exist to use a decent database in a web browser through a unified API.

I use [Dexie.js](https://github.com/dfahlander/Dexie.js) (an IndexedDB wrapper) and I noticed a strange behavior when using it with IndexedDBShim.

I would expect Dexie.js and IndexedDBShim to use the most accurate underlying database according to the br

[2016-10-18 05:08] brettz9 commented on #219
This should be fixed in `master`. I'm closing but feel free to reopen.

[2016-10-18 05:08] #219 closed, assigned to nobody

[2016-10-18 05:17] axemclion commented on #219
@brettz9 Just wanted to drop in and say thanks for the awesome work you are doing with the IndexedDBShim - I can see that it is helping a lot of people. :)

[2016-10-18 05:42] brettz9 commented on #257
This issue should now be fixed in `master`. Note the breaking change (in case you were relying on these pseudo-private properties).
- Breaking change: As moved away from SQL offsets for `IDBCursor` retrieval,
  remove `__lastKeyContinued` property (we can use `__key`); also remove
  unused `__multiEntryOffset`
- Fix: For `IDBCursor`, move from SQL offsets to utilization of last key as
  per spec (

[2016-10-18 05:42] #257 closed, assigned to nobody

[2016-10-18 05:48] brettz9 commented on #262
FYI, my personal idea about a 3.0.0 release would be for the following additional items:
- [x] Report WebSQL `QUOTA_ERR` (4) as `QuotaExceededError` ~~and `TIMEOUT_ERR` (7) probably as `TransactionInactiveError` (and treat accordingly)~~ and any others as `UnknownError` (issue #27 relates)
- [x] `IDBCursor.update` should delete then insert rather than update
- [x] Event bubbling and `preventDefaul

[2016-10-18 05:53] brettz9 commented on #219
Thank you, @axemclion . Not sure if it is helping anyone yet, but it is encouraging to know there is eagerness for the release. Am feeling a bit better these days and on my agenda to try to get ready (as I am able) for a 3.0.0 release as per https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-254413002 . Very grateful for being able to build on such a strong foundation!

[2016-10-18 19:21] brettz9 commented on #222
Can you provide some code that produces the error?

Of course, we should not expose such an error, but it looks like you may be getting this by using a range which uses non-array keys despite the fact that you were on a multiEntry index. Although this is allowable, I mention it because you might not have intended it.

I have at least avoided the error for now in `master` by checking for an array i

[2016-10-18 19:21] #222 closed, assigned to nobody

[2016-10-18 19:34] brettz9 commented on #259
This should be fixed, but feel free to reopen if you still see issues.

FYI, the remaining to-dos I wish to handle before an npm release are described at https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-254413002  . I currently have some energy and time to work on these issues, so hopefully it won't be more than a few weeks, but no guarantees.

[2016-10-18 19:42] brettz9 commented on #236
Do you want to propose an error message? Does a try-catch over the `eval` do the trick?

[2016-10-18 20:07] brettz9 commented on #228
The ArrayBuffers or views on buffers (TypedArray or DataView) (support more recently added to IndexedDB) are not currently supported in IndexedDBShim (added now on the README as a known issue). A PR is most welcome!

[2016-10-18 20:14] brettz9 commented on #225
The spec does indicate how auto-generation should occur (see the section on "current number"). The code in `master` should have already fixed this issue but feel free to reopen if not.

[2016-10-18 20:14] #225 closed, assigned to nobody

[2016-10-18 20:17] brettz9 commented on #216
I think this can be closed now since detection occurs in `src/setGlobalVars.js`. Feel free to reopen or file a new issue if you'd like to see some other changes or documentation.

[2016-10-18 20:17] #216 closed, assigned to nobody

[2016-10-18 20:20] brettz9 commented on #101
If this is still valid, would you mind submitting as a PR?

[2016-10-18 20:23] brettz9 commented on #225
And just FYI, in our old W3C tests, there is a KeyGenerator.js file which is now passing one of its three tests, and the other two tests can't yet be run to see how we're doing there as we still need to add `preventDefault` support on which the tests are relying.

[2016-10-18 22:17] brettz9 commented on #261
Thank you very much for the precise report. Apparently this was due to Safari interpreting the SQLite rows' `item`s properties as readonly. I addressed the particular error you reported in `master` by copying properties onto a new object.

I plan to take a look at the other Safari issues people have reported. FYI, most of https://github.com/axemclion/IndexedDBShim/labels/Bug-environment%20support

[2016-10-18 22:17] #261 closed, assigned to nobody

[2016-10-19 00:42] #115 closed, assigned to nobody

[2016-10-19 00:42] brettz9 commented on #115
Thank you all for your support on this issue. I have added detection of Safari to set the default to the `25 * 1024 * 1025` suggested by @andygup in an earlier comment. I also allow one to import the `CFG.js` module (just now upper-cased from `cfg.js` to reflect the variable names in use internally in case you recently began importing it) and set to an alternate value. However, as mentioned we hav

[2016-10-19 00:51] brettz9 commented on #75
I'm not sure this question belongs here, especially since there may not be one perfect answer. Feel free to report back though if you do find your own optimal solution or file an issue/PR if you find a way to optimize our code internally.

You might also try asking on StackOverflow (or Programmers StackExchange) with the `indexeddbshim` , `indexeddb`, and/or `optimization` tags, especially if you

[2016-10-19 00:51] #75 closed, assigned to nobody

[2016-10-19 01:06] brettz9 commented on #221
@steven-ayogo : But I don't see Dexie having TypeScript definitions for the full IndexedDB API, no?

[2016-10-19 02:21] brettz9 commented on #27
In the case of database errors such as quota errors, we currently have an issue whereby we are setting the transaction's `error` property to the WebSQL error object rather than creating our own IndexedDB error object.

It is on my to-do list for the next release to report an IndexedDB `QuotaExceededError` when encountering a WebSQL `SQLError.QUOTA_ERR` (value `4`), a `TransactionInactiveError` whe

[2016-10-19 02:21] #27 closed, assigned to axemclion

[2016-10-19 02:23] brettz9 commented on #27
Note also that before the next release, I am hoping to investigate some other reported Safari/iOS issues: https://github.com/axemclion/IndexedDBShim/issues?utf8=%E2%9C%93&q=is%3Aopen%20label%3A%22Bug-environment%20support%22%20-label%3ACSP

[2016-10-19 05:17] brettz9 commented on #27
I've fixed `master` so that it will report IndexedDB-style error objects when SQL errors occur, reporting them all as `UnknownError` unless the WebSQL error is a quota error, in which case `QuotaExceededError` is reported.

[2016-10-19 16:34] brettz9 opened #264 "Repo questions/issues"
1. There is a link on the main page to "Apache-2.0" but it leads to the MIT license. Could you fix these either way, @axemclion (ideally indicating a dual license if Github allows so in the settings)?
2. Do you want to do anything with `gh-pages`? Should I keep it up to date?

[2016-10-19 18:14] brettz9 commented on #223
Added support for `indexedDB.webkitGetDatabaseNames` in `master`. Thanks for the request!

[2016-10-19 18:14] #223 closed, assigned to nobody

[2016-10-21 20:51] brettz9 opened #265 "Use TestCafé"
While we have an inordinate number of tests at the moment (though we should be able to remove the old W3C tests once the new ones in an optional submodule are working), the following looks like the _right_ way to do testing nowadays:

https://github.com/DevExpress/testcafe

(Re: Node usage, see https://github.com/DevExpress/testcafe/issues/1111 )

[2016-10-21 21:30] brettz9 opened #266 "Saucelabs"
Hi @axemclion ,

Since grunt-saucelabs is apparently your baby, I thought I'd just ask if you know why Saucelabs (at least on Travis) is not working: https://travis-ci.org/axemclion/IndexedDBShim .

I made one fix in my last commit to workaround another issue (that `key` in the grunt saucelabs options must now be a function), but am now only able to get as far as seeing an error re: closing the tu

[2016-10-22 00:39] brettz9 commented on #251
This has gotten better by relying on a different fork but it still occasionally has issues.

[2016-10-22 01:19] #266 closed, assigned to nobody

[2016-10-22 04:27] brettz9 commented on #266
Saucelabs tests are running again and successfully (I used my encrypted key for the repo instead of yours as apparently yours were no longer working). ~~I'm not sure why `grunt-contrib-qunit` isn't using PhantomJS 2.1.1 but it is failing on a couple of the QUnit tests because of that.~~

**Update:** I may have gotten confused into thinking that 2.1.1 should have been passing a couple tests.

[2016-10-25 22:03] brettz9 opened #267 "Problem with cyclic values"
As per the `w3c/IDBObjectStore.add.js` test, recursive values ought to be supported, but the current `Sca.js` file apparently fails with this because it is using `JSON.stringify`.

Once implemented, that test should no longer be skipped as it is now to prevent subsequent test failures.

[2016-10-26 04:25] axemclion commented on #267
@brettz9 We could use JSON Object Graph - I used it here - https://github.com/nparashuram/maya-kai/blob/master/src/util/jsog.js

[2016-10-26 04:28] brettz9 commented on #267
Sounds cool, @axemclion...

[2016-10-26 16:02] erhanyasar commented on #260
Well I needed an update to take a bit more attention. I searched for IndexedDB with Cordova for a few months and after many failures of each script, plugin or modules, I decided take a consultancy if anyone consider and if it's not unappropriate.

I tried maybe more scripts, plugins (indexeddb-async, MSOpentech/cordova-plugin-indexeddb, and DickvdBrink/cordova-indexeddb) and npm packages (backbone

[2016-10-26 23:55] brettz9 commented on #253
This is now supported in `master`.  Looking to finish the following though until ready for a release: https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-254413002

[2016-10-27 00:08] brettz9 commented on #253
Actually, I neglected to notice you were asking about preventing within an open request--the `versionchange`/`upgradeneeded` (and when ready, `blocked` and `closed`) ought to support all of `EventTarget`, but currently that is not ready or reviewed, so I will reopen, but the normal request->transaction->connection->window.onerror support has been added.

[2016-10-27 00:15] brettz9 commented on #256
Sauce labs tests are passing now.

[2016-10-27 00:15] #256 closed, assigned to nobody

[2016-10-27 00:23] brettz9 commented on #260
I'm a bit focused on finishing some current work before I may have a chance to look at platform-specific bugs (and no promises on that even). I'm hoping to get ready for a new release and hopefully around that time we can get people testing, including those on different devices/environments and those responsible for other libraries (such as Treo, Dexie, etc.).

[2016-10-27 06:33] brettz9 commented on #253
The `AbortError` error firing on `IDBOpenDBRequest` requests (which aborted or were closed) is now done in `master`. There are some tangential matters which are not complete (e.g., upgradeneeded reversions), but the bubbling work is complete.

Note that your `preventDefault` should now have no effect (as per point 3.2.1 of [this section](http://w3c.github.io/IndexedDB/#dom-idbfactory-open) of the

[2016-10-27 06:33] #253 closed, assigned to nobody

[2016-10-31 09:24] itsselvam opened #268 "plugin.xml missing"
Hi All,
I m getting the below error while installing the plugin for my ios app.

Error: Failed to fetch plugin https://github.com/axemclion/IndexedDBShim.git via git.
Either there is a connection problems, or plugin spec is incorrect:
	Cannot find plugin.xml for plugin "1477905531098". Please try adding it again.

Seems like plugin.xml file is missing in the master

[2016-10-31 11:02] #268 closed, assigned to nobody

[2016-11-07 02:01] xlc opened #270 "iOS 9 WKWebView support"
WebSQL is not supported by WKWebView in iOS 9: https://bugs.webkit.org/show_bug.cgi?id=137760
But IndexedDBShim force to use WebSQL on iOS 9.
Is anyway to make it patch native IndexedDB instead of using WebSQL?

[2016-11-07 02:09] brettz9 commented on #270
That is what `src/polyfill.js` is for (and the file's use within `src/setGlobalVars.js`). However, I could really use help testing that (once my version 3.0.0 changes are ready) as I have been making many changes which are fixing a number of issues on Chrome and Node but I haven't done any real checking with iOS.

[2016-11-07 02:21] brettz9 commented on #270
And as a result, I haven't really been applying improvements made within the shimming code to the (more limited) polyfill code.

[2016-11-26 20:44] neville9763 opened #271 "Weird Safari"
Hi

I am using the shim and Dexie (https://github.com/dfahlander/Dexie.js) and having an issue with mobile Safari (ios 9.3.5), and have implemented the following code as suggested (on Dexie site):

[code]

When forcing use of the shim (using `__useShim`), the object `shimIndexedDB` is created as expected but `shimIndexedDB.modules.IDBKeyRange` remains undefined (also `window.shimIndexedDB.modules.

[2016-12-27 16:43] brettz9 opened #273 "Tracking for read transaction parallelization and reads in read transaction"
With our using node-websql under the hood, I wanted to add tracking here for:

- [ ] the performance issue mentioned in nolanlawson/node-websql/issues/17 , namely, of ensuring parallelization of read transactions (without causing writer starvation in the process)
- [ ] using a read transaction as needed for read operations.

Both issues relate to Node only.

[2017-01-05 12:20] brettz9 commented on #232
Support has been added in `master` (along with the other missing APIs `IDBObjectStore.getAllKeys`, `IDBObjectStore.getKey`, `IDBIndex.getAll/getAllKeys`, `IDBCursor.continuePrimaryKey`).

However, I have not added any new tests for these, hoping as I may be able to, to get the full set of current W3C tests working again (and fully so). Feel free to open new issues with any particular bugs encounte

[2017-01-05 12:20] #232 closed, assigned to nobody

[2017-01-14 22:48] brettz9 opened #274 "Add further escaping to SQL for the sake of Node"
## To-do summary

~(Note that checked items are currently only added within https://github.com/brettz9/IndexedDBShim/tree/store-idx-clones which also introduced some regressions which I'm trying to resolve; however, the code for the items below should be sound.)~ Those checked off below are now available (and passing tests) in `master`

- [x] Enforce defaults of escaping on browser by default for

[2017-01-15 07:48] #265 closed, assigned to nobody

[2017-01-20 13:30] brettz9 opened #276 "pending/deleted index/store behavior (renaming, recreating, etc.)"
This was already mentioned in the [Version 3.0.0 goals](https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-254413002), but I wanted a separate issue for this. We need to take a particular look at:

- [x] pending/deleted index/store behavior (recreation, renaming)
- [x] index problems on `w3c/IDBObjectStore.createIndex.js`
- [x] ensuring deleted status across all `IDBObjectStore` ha

[2017-01-20 13:40] brettz9 commented on #211
Since `Sca.js` is the one left (and although I recently discovered `cyclonejs` which appears handy for object-to-object cloning), this should be considered in connection with #267 .

[2017-01-20 13:48] brettz9 commented on #2
Will really need to be handled along with #273 .

[2017-01-20 13:54] brettz9 opened #277 "Update polyfill.js for browsers with poor support"
Although this issue may tie in to all of the browser-specific (Safari) issues (hopefully all resolvable for [Milestone 3.0.0](https://github.com/axemclion/IndexedDBShim/milestone/1) (tracking in [#262](https://github.com/axemclion/IndexedDBShim/issues/262#issuecomment-254413002))), I think it should be helpful for us to have a specific issue for tracking the updating of `polyfill.js`, as that file

[2017-01-20 14:15] brettz9 opened #278 "Further Node-related config related to database names"
The following are further todos related to #274 which which are lower priority since if someone really needs the Unicode, they can override `escapeDatabaseName` themselves (though it'd admittedly be better to bake in an option) and the third issue is not really bug-related:

- **Striking out as may not be needed:** ~Provide an option for (Node) users to escape (and potentially unescape) upper-case

[2017-01-20 14:17] #274 closed, assigned to nobody

[2017-01-26 12:33] kaocy opened #279 "Ask about license"
Hi~I am a member of cdnjs, and I want to add this library.
I want to check if this library has two licenses, because there is only one license written in package.json.

https://github.com/cdnjs/cdnjs/issues/10261

[2017-01-26 16:08] axemclion commented on #279
This does have 2 licenses. The package.json file says `license": "MIT OR Apache-2.0`. Looks like @brettz9 added it to package.json.

Here are the other relevant license discussions - https://github.com/axemclion/IndexedDBShim/issues?utf8=%E2%9C%93&q=is%3Aissue%20license

[2017-01-26 16:08] #279 closed, assigned to nobody

[2017-01-26 16:37] brettz9 commented on #279
I've pushed to `master` a change in `package.json` to reflect the license terms already agreed upon by the founders (as mentioned by @axemclion just now) and previously added as license files, i.e., `(MIT OR Apache-2.0)` (I just amended to include the parentheses which "should" be included).

Note that if you are considering using the project under `master` (which although it includes various impr

[2017-02-02 23:40] brettz9 opened #280 "Interface testing issue: indexeddb expected as a getter"
Just reporting a minor issue encountered in testing.

Two of the W3C IndexedDB tests relate to interfaces (in the main thread or workers).

One of the expectations in the main thread is apparently that for this:

[code]

...the `indexedDB` property is expected to be implemented as a getter (though for some reason, the testing does not insist that this be the case for the WorkerGlobalScope).

Howev

[2017-02-07 07:54] brettz9 commented on #228
There had been some binary support previously, and internally now there is better potential support (e.g., for keys), but it is still not complete (nor are the parts that are complete fully tested).

But just one to-do I wanted to add mention of here while we're tracking binary--cloning should be done synchronously (in some places if not all) so that the API can report errors synchrously as expect

[2017-02-07 13:25] brettz9 commented on #267
Btw, @axemclion , any chance you might be inspired to adapt your JSOG to support arrays with self-referencing items as well as objects which can reference back to the root object?

In the `decycle` code currently in use in IndexedDBShim, there is this code comment:

[code]

(And if you are so inclined and wouldn't mind basing it off of the following which I've adapted to fit the stricter ESLint st

[2017-02-07 13:41] dfahlander commented on #267
Don't know if it could be of any value here, but I made a similar module for this that supports arrays as well as objects, [typeson](https://github.com/dfahlander/typeson#api). Except for resolving cyclics, it can also encapsulate types.

[2017-02-07 23:59] brettz9 commented on #267
Looks very, very nice, @dfahlander , thanks!  A couple questions...

Your code comments say:

...but your description of `typeson-registry/presets/builtin` (which doesn't appear to be run by default) mentions `Error`, `RegExp`, etc. We want such a the latter but want to throw on the former, so it'd be helpful to know whether the code comment is just outdated and one must, as it would appear, white

[2017-02-08 01:21] dfahlander commented on #267
Ah, it's an old comment.  It doesn't support anything by default except cyclic references.  Need to register each type that should be supported. The registry contains most javascript built-ins. Should add a preset for structured clone (where Error should not be included, but Image etc should). Would be very easy to add those types to the registry except for Blob which is asynchronic. The lib must

[2017-02-08 01:28] brettz9 commented on #267
I think one could force-load a Blob synchronously via `XMLHttpRequest` and binary, but synchronous XHR is already deprecated. In IndexedDB I think we should be loading synchronously anyways, as the specs expect synchronous reporting of clone errors, but again, doing so would be deprecated.

[2017-02-08 01:33] dfahlander commented on #267
Would also need to add code to throw for unregistered types

[2017-02-08 01:34] brettz9 commented on #267
What happens now?

[2017-02-08 01:37] dfahlander commented on #267
Very interesting. I can understand why browser vendors have been struggling with the blob support in indexedDB.

[2017-02-08 01:41] dfahlander commented on #267
It just passes it to JSON.stringify ()

[2017-02-08 03:18] brettz9 commented on #267
Based on looking a bit at the spec and also testing with `postMessage` in Chrome, the following seems to mimic the Sca minus the Blobs:

[code]

Until you add in an API for unrecognized types, I think we can just register one other type whose `test` function (the 0th item in the registered array) throws upon encountering a bad object.

I wish there were a cross-frame safe way to replace `value.con

[2017-02-08 05:44] brettz9 commented on #267
Oh, and although I see your code handles references between arrays and objects, I see there are a few cases which are problematic for me:

1. ~References which refer back to the variable itself at root.~
2. By using `JSON.stringify`, the identify of `undefined` gets lost or merged with `null`. It'd be important I think for us to have a string serialization (as we could store as a SQLite value) whi

[2017-02-08 08:54] brettz9 commented on #267
I've amended my reply as I see the root was not a problem and I added some observations about sparse arrays. So in short, the one big thing I'd like to see added (or working) is making analogues to `stringify`/`parse` which distinguish `undefined` and `null` (if not also implicit `undefined` in sparse arrays).

[2017-02-08 09:34] dfahlander commented on #267
I hope to get some time next week. Also added you (@brettz9) as collaborator for typeson and typeson-registry. Feel free to make changes.

[2017-02-09 08:00] brettz9 commented on #267
Both issues can now be surmounted via `typeson`/`typeson-registry` on `master`. Thanks!

[2017-02-09 13:03] dfahlander commented on #267
And thanks to you for improving typeson! Do you think typeson/typeson-registry is ready for a new npm publish? Do we have to bump major version (or are we backward compatible?)?

[2017-02-09 14:17] brettz9 commented on #267
Yes, I think we're ready (just added docs).

If you wanted to be really strict, `typeson-registry` might need a bumped major version since the `builtin` preset now preserves `undefined` after revival (which would instead become `null` before). You had mentioned though that you would continue to add ES6 items into the preset, so maybe it would be
expected to expand (though `undefined` is of course

[2017-02-10 01:36] brettz9 commented on #267
I just added one more set of changes to the typeson-registry, @dfahlander , if you wouldn't mind including those when you publish (I split into separate modules the Structured Cloning preset from the Structured Cloning preset which throws).

[2017-02-12 09:24] erikvold commented on #259
I'm getting running into this error, which appears to be related to this issue:

[code]

[2017-02-12 10:06] brettz9 commented on #259
Try deleting `sqlite3` out of `node_modules`, running `npm cache clean` to be safe, and running install again. One time I had to do this after installing a new version of Node (though with a different error message), and another time I believe I got that same error, though I can't remember what the conditions were. But I'm almost certain that should do the trick.

[2017-02-12 18:41] erikvold commented on #259
@brettz9 that doesn't seem to make a difference.

I'm using node 7.5.0 and npm 4.1.2, and there appears to be a `project/node_modules/sqlite3` folder but the error message appears to suggest that IndexedDBShim is looking for `project/node_modules/indexeddbshim/node_modules/sqlite3` which does not exist.

[2017-02-12 18:51] erikvold commented on #259
If I `cd project/node_modules/indexeddbshim && npm install` then things seem to work, at least I get past the error above atm.  This shouldn't be necessary though, I'll see if I can find a patch.

[2017-02-12 22:07] brettz9 commented on #259
Great, thanks... I've been busy testing support from within the repo...

[2017-02-13 07:16] erikvold commented on #259
@brettz9 I think #282 fixes the issue, I built a new dist file with the patch and replaced that in my project, then removed the `project/node_modules/indexeddbshim/node_modules` and things seem to work.

[2017-02-14 16:15] jboulmal commented on #259
Like you @erikvold. I've done quick fix by adding in my `package.json`:
[code]
Therefore, I run from console `npm run setup`

[2017-02-15 06:08] brettz9 opened #283 "Export improvements"
Some enhancements related to exports:

1. [ ] ~See about moving to Rollup and~ provide ES distribution for non-invasive build at least
1. [ ] We could review the exports to ensure that modules can be as independent as possible (as raised in https://github.com/dfahlander/Dexie.js/issues/359 ); we currently depend on `setGlobalVars` to do this and though it can work with a non-global, it still requi

[2017-02-15 06:12] brettz9 opened #284 "Invalid results from key operations"
Depending on any answers for the questions raised at https://github.com/w3c/IndexedDB/pull/146#issuecomment-279923232 , we might need to add additional handling for invalid results of key operations.

[2017-02-15 06:21] brettz9 opened #285 "`Blob`, `File`, `FileList`"
As raised in #267 , there are problems implementing `Blob`, `File`, and `FileList` although the Structured Cloning Algorithm technically supports them and the support that existed within our past implementation (which had problems in using `eval` (bad for CSP if not security) and with cyclic values) has been removed for now.

The reason for this is that the spec currently requires throwing errors

[2017-02-15 06:22] brettz9 opened #286 "SCA type review"
We ought to give a careful review of our compliance with the Structured Cloning Algorithm (to the extent it is possible):

- [x] Although `typeson-registry` already has `ImageData` support, it ought to have tests added it to it for Node (probably using `node-canvas`).
- [x] `ImageBitmap` is not currently supported in our `typeson-registry` dependency despite it being supported in the Structured Cl

[2017-02-16 07:12] brettz9 commented on #211
This has now been fixed in `master`. `eval` is no longer used, whether for keys or cloning (courtesy of typeson/typeson-registry).

[2017-02-16 07:12] #211 closed, assigned to nobody

[2017-02-16 07:12] brettz9 commented on #236
This should now be fixed in `master`. `eval` is no longer used, whether for keys or cloning (courtesy of typeson/typeson-registry).

[2017-02-16 07:12] #236 closed, assigned to nobody

[2017-02-16 07:17] brettz9 commented on #267
Our cloning algorithm has been revised courtesy of [typeson](https://github.com/dfahlander/typeson)/[typeson-registry](https://github.com/dfahlander/typeson-registry), so cyclic values are fully supported in `master` (as are many other types supported by the algorithm; issues #285 and #286 tracking specific special types not currently supported). In the process our remaining dependency on `eval` w

[2017-02-16 07:17] #267 closed, assigned to brettz9

[2017-02-16 12:49] pesimeao commented on #271
Any update on this?

[2017-02-16 13:49] brettz9 commented on #271
I am working as I can on getting IndexedDBShim to pass a number of tests in its core functionality before testing browser specific bugs for an anticipated 3.0.0 release. You are welcome to try the code in `master` and see how it meets your needs as well as update the issue or submit a PR.

`IDBKeyRange` is defined in `src/IDBKeyRange.js`. If you experiment with the code, you will need to run the b

[2017-02-16 13:53] brettz9 opened #287 "ObjectStore/Index Rename"
While we've added an implementation for the more recent API ability to rename object stores and indexes, it is not well-tested and indeed is failing a number of W3C tests. This issue is for tracking progress on those problems.

[2017-02-16 13:59] brettz9 opened #288 "Possible exception ordering/race condition problems and testing"
A number of W3C tests are failing because of apparent issues with exception order and/or race conditions.

We ought to fix or document the underlying issues and if necessary, submit PRs to fix the W3C tests, some of which have been listed at:  https://github.com/w3c/web-platform-tests/issues/2888

[2017-02-17 15:00] brettz9 commented on #228
Support for `ArrayBuffer`, TypedArrays, and `DataView` has now been added with the latest commit to `master`. Also supported now are binary keys. However, #285 and #286 indicate two other items which tie into binary and which are not presently supported, and, as per other issues on the tracker, Safari still has some issues apparently and the `polyfill.js` that had been progressively fixing its sup

[2017-02-17 15:00] #228 closed, assigned to nobody

[2017-02-17 23:52] #284 closed, assigned to brettz9

[2017-02-17 23:52] brettz9 commented on #284
Spec bug confirmed. Fixed in `master`.

[2017-02-18 00:01] brettz9 opened #289 "Missing shim-specific tests"
We really ought to add tests for the following give our implementation details:

- [ ] Use of NUL within database/object store/index names and content
- [ ] Use of binary within arrays testing padded bytes, e.g., `'5' > '400'` but `'005' < '400'` (other different types within other types probably already covered for other cases by Mocha/QUnit tests)
- [ ] The W3C tests don't seem to test cloning o

[2017-02-19 03:21] brettz9 opened #290 "Source map files"
Need to get source maps set up properly. If possible, I think we should link to `sourcesContent` (`source-map-include-sources` in uglifyJS) to preserve links back to the original source files.

Consider also `sourceMapRelative` in `babelify`.

See also https://github.com/alekseykulikov/browserify-test/issues/8 , https://github.com/substack/node-browserify/issues/895, and  https://github.com/thlore

[2017-02-22 02:33] erikvold opened #291 "When running npm run build-node dist/indexeddbshim-node.js changes"
When I clone this repo, run `npm install`, then `npm run build-node` then `git status` will output:

[code]

this is the diff https://github.com/axemclion/IndexedDBShim/compare/master...erikvold:run-build-node

shouldn't there be no change?

Using node 7.5.0 npm 4.1.2

[2017-02-22 02:33] erikvold commented on #291
@brettz9 ping

[2017-02-22 03:04] brettz9 commented on #291
I'll try to start over, removing my `node_modules` and reinstalling as well as incorporate your changes and then retest.

Btw, I'm still pretty actively working on things (though ATM working on our new dependency, `typeson-registry`), trying to clear up or address the remaining W3C failing tests, so though I try ensuring everything is sound (at least with the W3C tests though often all tests) befo

[2017-02-22 14:43] brettz9 commented on #259
Ok, happy to report that I expect this trouble really ought to be resolved. Besides the fix from @erikvold to avoid hard-coding the relative paths I had tried previously, there was also the need to exclude the `websql/*` files (and therefore `websql`'s dependencies) from browserification, a process which led to file paths tied to the builder's file system being stored in our distribution files.

B

[2017-02-23 04:08] brettz9 commented on #259
OTOH, it could just be an issue with npm loading of indexeddbshim which would also nice to have reported if that is the case.

[2017-02-23 05:42] erikvold commented on #259
@brettz9 Works for me!

[code]

[2017-02-23 06:37] brettz9 commented on #259
Great! Thanks very much for the testing and feedback, Erik. (And per your example, I realized we ought to default to `global` when the others aren't present, so I've got that lined up in a PR I'm working on with some other fixes).

Oh, and just to be clear, you got it working via npm or was it through Git cloning?

I'll close this issue then, but feel free to add comments if people find any issues

[2017-02-23 06:37] #259 closed, assigned to nobody

[2017-02-23 06:44] brettz9 commented on #254
There had been an issue limiting Node use now fixed in `master` (as discussed in #262).

For npm support, pending a stable version, you can use `npm`'s ability to directly import Git repositories like:
[code]

or, refer to a specific tag, SHA commit or branch as per https://docs.npmjs.com/files/package.json#git-urls-as-dependencies. But still need to get more done before a bona fide versioned rele

[2017-02-23 06:49] brettz9 commented on #255
Although we still don't have a regular versioned release, you should be able to load in npm via:

[code]

See https://github.com/axemclion/IndexedDBShim/issues/254#issuecomment-281909340

[2017-02-23 07:13] erikvold commented on #259
I used `npm install` with:

[code]

[2017-02-23 10:51] brettz9 commented on #291
Could you try this again for me? I wonder whether the recent changes in `master` should fix this.

[2017-02-24 01:21] brettz9 commented on #264
Also, Github now allows "topics" (visible at the top of the main page). It would be good for us to add the "indexeddb" topic to the repo for better discoverability.

[2017-02-24 01:41] axemclion commented on #264
Agreed. Lets start with IndexeDB, WebSQl, Storage to start with ?

[2017-02-24 02:20] brettz9 commented on #264
Sounds good to me...

Regarding the license issue--to clarify, it was in regard to the "Apache-2.0" button that shows up on the repo but which links to our MIT license instead. I tested it on my fork to see if I could get rid of it, but only deleting the Apache license got it fixed. I reported the issue just now to Github and can report back.

But I would still like to know about gh-pages if there

[2017-02-28 01:02] erikvold commented on #291
I updated to `master` removed the `node_modules` subdirectory and ran `npm install && npm run build-node` again and got https://github.com/axemclion/IndexedDBShim/compare/master...erikvold:run-build-node-ii

[2017-03-02 01:05] brettz9 commented on #291
Thanks for checking...  Hmm... I still want to take a closer look. When done with a current PR, I may add `npm shrinkwrap` to ensure we have all the same dependencies. I also saw that [such an issue](http://stackoverflow.com/questions/33123745/browserify-module-order-in-output-differing-between-dev-and-build-server) with varying browserify order if `basedir` were not supplied so I might try settin

[2017-03-07 01:16] brettz9 commented on #291
Looking at the diff for your `run-build-node-ii` branch, it looks as expected--it includes some more recent updates to the `typeson` repo. (Our references to particular repos in npm (e.g., master branch) without a version may turn up different code for now. Though I have commit access to those repos (the current ones are my forks), I am not ready to either stabilize on a version and push back upst

[2017-03-07 01:16] #291 closed, assigned to brettz9

[2017-03-08 17:27] AaronBruce opened #293 "Copyright attribution"
Hi,
What is the correct copyright attribution (party and year(s))?
I don't see a copyright statement in either license file (Apache or MIT).
Thanks,
Aaron

[2017-03-09 02:23] brettz9 commented on #293
Thanks for the question.

I've added `Copyright 2014-2017 Parashuram N., Brett Zamir` to both files along with adding the appropriate Apache header to `master`.  (The copyright files were added in 2014.)

If you want to add a last name, @axemclion instead of "Parashuram N.", let me know what it is. :)

Previous contributors can add their names here and into the `package.json` `contributors` field

[2017-03-09 02:24] #293 closed, assigned to nobody

[2017-03-09 02:36] axemclion commented on #293
@brettz9 Thanks - I think Parashuram N works.

[2017-03-09 10:25] AaronBruce commented on #293
@brettz9 Thanks!

[2017-03-24 12:31] brettz9 opened #295 "Utilize SQLite `close`"
As discussed in #294, we ought to be calling [`nodeWebSQLDBInstance._db._db.close()`](https://github.com/mapbox/node-sqlite3/wiki/API#databaseclosecallback) under the right conditions, if not for freeing resources than for catching possible errors during closing.

[2017-03-29 03:45] brettz9 commented on #285
This is now fixed in `master` (at least as long as we still have sync XHR available).

[2017-03-29 03:45] #285 closed, assigned to brettz9

[2017-03-31 02:40] brettz9 commented on #276
Fixed in `master`.